<app-header-menu></app-header-menu>
<div [ngClass]="{'container': screenWidth >= 1200, 'container-fluid': screenWidth < 1200}">
   <div class="row g-3">
      <div class="col-4">

         <div class="row g-1 mb-2">
            <div class="col-6">
               <strong class="fw-bold ms-2"> Bill {{id}} </strong>
            </div>
            <div class="col-6  d-grid">
               <a class="btn btn-sm btn-primary"
                  (click)="showApplyDiscount==false ? showApplyDiscount = true : showApplyDiscount = false">
                  {{showApplyDiscount==false ? 'Show' : 'Hide' }} Apply Discount </a>
            </div>
         </div>

         <div class="order-panel mb-2" style="height: 80vh; overflow-y: auto;" #myDiv>
            <app-bill-table [data]="data" [showApplyDiscount]="showApplyDiscount">Loading...</app-bill-table>
         </div>


      </div>

      <div class="col-6 ">
         <div>

            <div class="order-panel p-0 mb-3" style="height: 50vh; overflow-y: auto;">
               <table class="table table-sm">
                  <thead class="sticky-top bg-white">
                     <tr>
                        <th>Payment</th>
                        <th class="text-end">Amount</th>
                        <th class="text-end">Tips</th>
                        <th class="text-center">Paid</th>
                        <th class="text-center"><i class="bi bi-trash3-fill"></i></th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let x of paid; let i = index" [class]="(i==paymentIndex)? 'td-active':''">
                        <td width="200">
                           <div class="form-control border-0">
                              {{x.name}}
                           </div>
                        </td>
                        <td>
                           <input type="text" class="form-control c1" currencyMask [(ngModel)]="x.paid"
                              [disabled]="x.submit==1" (blur)="updateRow(x)" (click)="paymentActive(i,'paid')"
                              [currencyMask]="{ prefix: '', thousands: ',',  min: 0, precision  : 0, allowNegative  :  false}">
                        </td>
                        <td>
                           <input type="text" class="form-control c1" currencyMask [(ngModel)]="x.tips"
                              [disabled]="x.submit==1" (blur)="updateRow(x)" (click)="paymentActive(i, 'tips')"
                              [currencyMask]="{ prefix: '', thousands: ',',  min: 0, precision  : 0, allowNegative  :  false}">
                        </td>
                        <td>
                           @if(x.submit == 1){
                           <h4 class="text-center"><i class="bi bi-check-lg"></i></h4>
                           }
                        </td>
                        <td>
                           <button type="button" class="btn text-danger" (click)="deletePaid(x)">
                              <i class="bi bi-trash3-fill"></i>
                           </button>
                        </td>
                     </tr>
                  </tbody>

               </table>
            </div>


            <div class="order-panel p-3">
               <div class="row g-3">
                  <div class="col-6">
                     <app-key-number (dataEmitted)="handleData($event)"></app-key-number>
                  </div>
                  <div class="col-6">
                     <div class="d-grid mb-2">
                        <button class="btn btn-warning btn-lg py-4 rounded shadow-sm"
                           (click)="clearCurrentValue()">CE</button>
                     </div>
                     <div class="d-grid">
                        <button class="btn btn-success btn-lg py-4 rounded shadow-sm"
                           (click)="addPaid()">SUBMIT</button>
                     </div>
                  </div>
               </div>


            </div>

         </div>
      </div>
      <div class="col-2 ">
         <div class="my-2 text-center">
            <strong>SELECT PAYMENT</strong>
         </div>
         <div *ngFor="let x of paymentGroups" class="d-grid">
            <button type="button" (click)="open(modalPayment, x)" class="btn btn-lg bg-primary mb-1">{{x.name |
               uppercase}}</button>
         </div>
      </div>
   </div>
</div>


<ng-template #modalPayment let-modal>
   <div class="modal-header">
      <strong class="modal-title">SELECT {{paymentGroup.name | uppercase}}</strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>
   <div class="modal-body">
      <div class="row g-2">

         <div class="col-3 d-grid" *ngFor="let x of paymentypes">
            <button type="button" (click)="addPayment(x)" class="py-3 btn  btn-light border mb-1">{{x.name |
               uppercase}}</button>


         </div>
      </div>
   </div>

</ng-template>

<ng-template #myModal let-modal>
   <div class="modal-header">
      <strong class="modal-title">Close Payment</strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>
   <div class="modal-body">
      <div class="row">

         <div class="col-12 text-center my-4">
            <h4>PAYMENT FINISH</h4>
            <strong> CHANGE : {{data['change'] | number}} </strong>
         </div>
      </div>
      <div class="row g-2 mb-3">
      
         <div class="col-6 d-grid">
            <button type="button" class="btn btn-lg btn-primary py-3"
               (click)="modal.close('OK click'); logService.logAction('Finish Payment', id);">
               <h1>
                  <i class="bi bi-check2"></i>
               </h1>
               Finish</button>
         </div>
         <div class="col-6 d-grid">
            <button type="button" class="btn btn-lg btn-success py-3"
               (click)="modal.close('OK click');logService.logAction('Finish Payment And Print Closed Bill', id);">
               <h1> <i  class="bi bi-printer"></i> </h1> Print Closed Bill
               
               </button>
         </div>
      </div>

       <p class="text-center"><em>Thank you for finish payment!</em></p>
   </div>
    
</ng-template>