<div [ngClass]="{'container': screenWidth >= 1200, 'container-fluid': screenWidth < 1200}">
   <div class="row g-3 mt-1">
      <div class="col-4">

         <div class="row g-1 mb-2">
            <div class="col-12">
               <strong class="fw-bold ms-2"> {{lang.get('Bill')}} {{id}} </strong>
            </div>
 
         </div>

         <div class="order-panel mb-2" style="height: 80vh; overflow-y: auto; padding-bottom: 0;" #myDiv>

               <pre class="font-monospace" [innerHTML]="htmlBill"></pre>

               <div class="border-top sticky-bottom bg-white py-2"> 
                  <table class="table table-sm"> 
                     <tr>
                        <td>{{lang.get('Grand Total')}}</td>
                        <td class="text-end">{{cartPayment.grandTotal | number}}</td>
                     </tr>
                     <tr>
                        <td>{{lang.get('Paid')}}</td>
                        <td class="text-end">{{cartPayment.paid  | number}}</td>
                     </tr>
                     <tr>
                        <td>{{lang.get('Unpaid')}}</td>
                        <td class="text-end"><h4 class="text-danger">{{cartPayment.unpaid | number}}</h4></td>
                     </tr>
                     
                  </table>
               </div>
         </div>

         <div class="d-grid">
            <button type="button" class="btn  btn-warning" (click)="back()">
               <i class="bi bi-arrow-left"></i> {{lang.get('BACK')}}
            </button>
         </div>

      </div>

      <div class="col-6 ">
         <div>

            <div class="order-panel p-0 mb-3" style="height: 40vh; overflow-y: auto;">
               <table class="table table-sm">
                  <thead class="sticky-top bg-white">
                     <tr>
                        <th>{{lang.get('Payment')}}</th>
                        <th class="text-end">{{lang.get('Amount')}}</th>
                        <th class="text-end">{{lang.get('Tips')}}</th>
                        <th class="text-center">{{lang.get('Paid')}}</th>
                        <th class="text-center"><i class="bi bi-trash3-fill"></i></th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let x of paid; let i = index" 
                        [class]="(i==paymentIndex)? 'td-active':''">
                        <td width="200" (click)="tablePaymentActive(i,x)">
                           <div class="p-2">
                              {{x.name}}
                           </div>
                        </td>
                        <td>
                           <input type="text" class="form-control c1 " currencyMask [(ngModel)]="x.paid"
                           [class]="{'active-input':(i==paymentIndex && inputField=='paid')}"
                              [disabled]="x.submit==1" (blur)="updateRow(x)" (click)="paymentActive(i,'paid')"
                              [currencyMask]="{ prefix: '', thousands: ',',  min: 0, precision  : 0, allowNegative  :  false}">
                        </td>
                        <td>
                           <input type="text" class="form-control c1" currencyMask [(ngModel)]="x.tips"
                              [class]="{'active-input':(i==paymentIndex && inputField=='tips')}"
                              [disabled]="x.submit==1" (blur)="updateRow(x)" (click)="paymentActive(i, 'tips')"
                              [currencyMask]="{ prefix: '', thousands: ',',  min: 0, precision  : 0, allowNegative  :  false}">
                        </td>
                        <td>
                           @if(x.submit == 1){
                           <h4 class="text-center"><i class="bi bi-check-lg"></i></h4>
                           }
                        </td>
                        <td>
                           <button type="button" class="btn text-danger" (click)="deletePaid(x)">
                              <i class="bi bi-trash3-fill"></i>
                           </button>
                        </td>
                     </tr>
                  </tbody>

               </table>
            </div>


            <div class="order-panel p-3">
               <div class="row g-2">
                  <div class="col-6">

                     <div class="row g-1">
                        <div class="col-6 d-grid mb-1" *ngFor="let x of checkCashType">
                           <button class="btn btn-lg border rounded btn-outline-dark" (click)="selectCashType(x)">{{x.name}}</button>
                        </div>
                     </div>

                  </div>

                  <div class="col-6">
                     <app-key-number (dataEmitted)="handleData($event)"></app-key-number>
                     <div class="row g-1 mt-1">
                        <div class="col-4 d-grid">
                           <button class="btn btn-warning btn-lg  rounded shadow-sm"
                                (click)="clearCurrentValue()">{{lang.get('CE')}}</button>
                        </div>
                        <div class="col-8 d-grid">
                              <button class="btn btn-success btn-lg rounded shadow-sm" (click)="addPaid()">{{lang.get('SUBMIT')}}</button>

                        </div>
                     </div>
                  </div>

               </div>


            </div>

         </div>
      </div>
      <div class="col-2 ">
         <div class="my-2 text-center">
            <strong>{{lang.get('SELECT PAYMENT')}}</strong>
         </div>
         <div *ngFor="let x of paymentGroups" class="d-grid">
            <button type="button" (click)="open(modalPayment, x)" class="btn btn-lg bg-primary mb-1">{{x.name |
                  uppercase}}</button>
         </div>
      </div>
   </div>
</div>


<ng-template #modalPayment let-modal>
   <div class="modal-header">
      <strong class="modal-title">{{lang.get('SELECT')}} {{paymentGroup.name | uppercase}}</strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>
   <div class="modal-body">
      <div class="row g-2">

         <div class="col-3 d-grid" *ngFor="let x of paymentypes">
            <button type="button" (click)="addPayment(x)" class="py-3 btn  btn-light border mb-1">{{x.name |
               uppercase}}</button>


         </div>
      </div>
   </div>

</ng-template>

<ng-template #myModal let-modal>
   <div class="modal-header">
      <strong class="modal-title">{{lang.get('Close Payment')}}</strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>
   <div class="modal-body">
      <div class="row">

         <div class="col-12 text-center my-4">
            <h4>{{lang.get('PAYMENT FINISH')}}</h4>
            <strong> {{lang.get('CHANGE')}} : {{cartPayment.change | number}}</strong>
         </div>
      </div>
      <div class="row g-2 mb-3">

         <div class="col-6 d-grid">
            <button type="button" class="btn btn-lg btn-primary py-3"
               (click)="modal.close('OK click'); logService.logAction('Finish Payment', id);">
               <h1>
                  <i class="bi bi-check2"></i>
               </h1>
               {{lang.get('Finish')}}
            </button>
         </div>
         <div class="col-6 d-grid">
            <button type="button" [disabled]="this.cart.printBill == 0" class="btn btn-lg btn-warning py-3"
               (click)="fnPrint();logService.logAction('Finish Payment And Print Copy Bill', id);">
               <h1> <i class="bi bi-printer"></i> </h1> {{lang.get('Print Copy Bill')}}

            </button>
         </div>
      </div>

      <div class="alert {{alertColor}}"><em>{{note}}</em></div>
   </div>

</ng-template>