.table-sm td{
     font-size: 0.9rem;
}

.td-active td {
     background-color: #d1e7dd !important;
}
.wrapper{
     max-height: 65vh !important;
}
.active-input{
     font-weight: bold;
     color: #0d2e1f;
     border: #389c6f 3px solid !important;
}