<app-header-menu></app-header-menu>


<div [ngClass]="{'container': screenWidth >= 1200, 'container-fluid': screenWidth < 1200}">
   <div class="row g-2">

      <div class="col-5">
         <!-- TABLE cart -->
         <div class="order-panel mb-2">


            <div class="d-flex justify-content-between align-items-center">
               <strong class="fw-bold mb-0"> MENU MODIFIER </strong>

            </div>

            <div class="order-panel-fixHeight">
               <table class="table table-sm table-hove">
                  <tbody>
                     <tr (click)="fnChecked(i)" *ngFor="let x of cart; let i = index"
                        [class]="{'tr-active':x.checkBox == 1, 'bg-light':x.sendOrder == 1 }"
                        [hidden]="x.menuTaxScId != 0 && hideTaxSc != 0">
                        <td>

                           <div *ngIf="(x.menuTaxScId == 0 && x.menuSetMenuId == 0) && x.sendOrder == 0 ">
                              <i *ngIf="x.checkBox == 0 " class="bi bi-square"></i>
                              <i *ngIf="x.checkBox == 1 " class="bi bi-check-square-fill"></i>
                           </div>
                           <div *ngIf="x.sendOrder == 1">
                              <i class="bi bi-receipt"></i>
                           </div>


                        </td>

                        <td> {{x.no != 0 ? x.no : ''}} </td>
                        <td> {{x.no != 0 ? '': '+'}} {{x.name}} {{x.priceIncluded == 0 ? '' : '('+(x.priceIncluded |
                           number)+')'}}


                        </td>

                        <td class="text-end">
                           <span class="badge text-bg-warning me-1" *ngIf="x.ta==1">TA</span>
                           <span class="badge text-bg-secondary me-1">{{x.sendOrder}}</span>


                        </td>

                        <td class="text-end ">
                           <div class="text-end font-monospace">
                              <strong>
                                 {{x.price | number}}
                              </strong>
                           </div>
                        </td>

                     </tr>

                  </tbody>



               </table>
            </div>
         </div>

         <div class="order-panel mb-2">
            <div class="order-summary ">
               <div class="d-flex justify-content-between">
                  <strong> TOTAL {{!hideTaxSc? "+ TAX & SC":""}}</strong>
                  <span class="fw-bold"> {{(hideTaxSc ? totalAmount : grandAmount) | number}} </span>
               </div>
            </div>
         </div>

         <div class="row g-1 mb-2">
            <div class="col-10 d-grid">
               <button type="button" class="btn btn-light" (click)="hideTaxSc == 0 ? hideTaxSc = 1  : hideTaxSc = 0">
                  <i *ngIf="hideTaxSc == 1" class="bi bi-square"></i>
                  <i *ngIf="hideTaxSc == 0" class="bi bi-check-square-fill"></i>
                  {{hideTaxSc == 1 ? 'Show':'Hide'}} Show All Modifier</button>
            </div>

            <div class="col-2 d-grid">

               <button type="button" class="btn btn-danger  " [disabled]="!isChecked" (click)="onVoid()">
                  <i class="bi bi-x-lg"></i> </button>
            </div>
         </div>
      </div>
      <div class="col-7">
         <div class="wrapper  px-2  ">

            <div class="row g-2 mb-3">
               <div class="col-4 d-grid">
                  <button type="button" [class]="cssClass" class="btn-danger" [disabled]="!isChecked"
                     (click)="onVoid()">
                     <i class="bi bi-x-lg"></i> VOID ITEM</button>
               </div>
               <div class="col-4 d-grid">
                  <button type="button" [class]="cssClass" class="btn-warning" (click)="onRemoveModifier()">
                     <i class="bi bi-trash"></i> REMOVE MODIFIER</button>
               </div>
               <div class="col-4 d-grid">
                  <button type="button" [class]="cssClass" class="btn-primary" (click)="takeOutDetail()">
                     <i class="bi bi-bag-check"></i> TAKE OUT</button>
               </div>
            </div>

            <div>
               <ul class="nav nav-pills mb-2">
                  <li class="nav-item" *ngFor="let x of items; let i = index">
                     <button type="button" class="nav-link" [disabled]=" x.id == modifierDetail['id'] ? true : false "
                        (click)="fnShowModifierDetail(i);logService.logAction('Click MODIFIER : '+ x.name,id) ">
                        {{x.name}}</button>
                  </li>
                  <li>
                     <button type="button" class="nav-link" (click)="open(modalAddMemo)"><i class="bi bi-pen"></i>
                        Custom Notes</button>
                  </li>
               </ul>
            </div>

            <div style="height: 350px; overflow-y: auto; overflow-x: hidden;">


               <div class="row g-1 mb-3">
                  <h6 class="text-center">{{modifierDetail['name']}}</h6>
                  <div class="col-3 mb-1 d-grid" *ngFor="let a of modifierDetail['detail']">
                     <a type="button" (click)="addToCart(a)" class="btn btn-light">
                        {{a.descs}}
                     </a>
                  </div>
               </div>
            </div>

            <div class="row">
               <div class="col-12">
                  <ul>
                     <li><small>Cannot <span class="badge text-bg-danger"> VOID ITEM</span> if it has SendOrder
                           (SO)</small>
                     </li>
                     <li><small>Cannot <span class="badge text-bg-warning"> REMOVE MODIFIER</span> if it has SendOrder
                           (SO)</small></li>

                  </ul>
               </div>
            </div>




         </div>
      </div>
   </div>
</div>

<ng-template #modalAddMemo let-modal>
   <div class="modal-header">
      <strong>Add Custom Notes </strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>
   <div class="modal-body">

      <form (ngSubmit)="addCustomNotesDetail()" #actorForm="ngForm">
         <div class="mb-3">
            <input type="text" class="form-control form-control-lg" #myInput id="note" required [(ngModel)]="model.note"
               name="note" #note="ngModel" autofocus>
            <div [hidden]="note.valid || note.pristine" class="text-danger">
               Note is required
            </div>
         </div>

         <div class="row g-1">
            <div class="col-6 d-grid">
               <button type="button" class="btn btn-lg btn-outline-secondary"
                  (click)="modal.close('Save click')">Cancel</button>
            </div>
            <div class="col-6 d-grid">
               <button type="submit" class="btn btn-lg btn-dark" [disabled]="!actorForm.form.valid">Ok</button>
            </div>
         </div>

      </form>
   </div>

</ng-template>