<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>POS Restaurant</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link
        href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&amp;family=Noto+Sans:ital,wght@0,100..900;1,100..900&amp;display=swap"
        rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
        <div class="container-fluid">

            <!-- Left menu -->
            <ul class="navbar-nav flex-row me-3">
                <li class="nav-item me-2">
                    <a class="nav-link btn  btn-primary    d-flex align-items-center" href="#">
                        <i class="bi bi-arrow-left "></i> Back
                    </a>
                </li>

            </ul>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav align-items-center">
                    <li class="nav-item">
                        <a class="nav-link px-3 active" href="#"><i class="bi bi-gear"></i> Setting</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-3" href="#"><i class="bi bi-printer"></i> Print Queue</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-3" href="#"><i class="bi bi-pencil-square"></i> Adjust Item</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-3" href="#"><i class="bi bi-bar-chart"></i> Report</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-3" href="#"><i class="bi bi-cash-stack"></i> Cash Balance</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-3" href="#"><i class="bi bi-person-lines-fill"></i> User Log</a>
                    </li>
                </ul>
            </div>

            <!-- Right menu -->
            <ul class="navbar-nav flex-row ms-3">
                <li class="nav-item me-2">
                    <a class="nav-link" href="#"><i class="bi bi-question-circle"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-primary   d-flex align-items-center" href="#">
                        <i class="bi bi-person-circle"></i> John Doe
                    </a>

                </li>
            </ul>

        </div>
    </nav>
    <div class="container mt-2">

        <div class="row g-3">
            <!-- Left -->
            <div class="col-4">
                <div class="order-panel  order-panel-overflow mb-3" style="height: 85vh;">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <h6 class="fw-bold mb-0">Table N10, #04434 | 16:00 - 00:00</h6>
                        <button class="btn btn-light btn-sm"><i class="bi bi-pencil"></i></button>
                    </div>
                    <div class="mb-2 text-secondary">Waiter: John Doe</div>

                    <table class="table table-sm">

                        <tbody>
                            <tr>
                                <td> <i class="bi bi-square"></i> </td>
                                <td>
                                    <div class="font-monospace">2x</div>
                                </td>
                                <td>
                                    <strong> PASSION CCNT DELIGHT * </strong>
                                    <div>
                                        <small class="font-monospace"> @20,000</small>
                                        <small class="badge text-bg-secondary">SO</small>
                                    </div>
                                </td>

                                <td>
                                    <strong class="font-monospace">1,400,000</strong>
                                </td>
                            </tr>
                            <!-- Add more rows as needed -->
                        </tbody>
                    </table>



                </div>
            </div>


            <!-- Right -->
            <div class="col-6">
                <div class="order-panel  order-panel-overflow mb-3" style="height: 40vh;">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <h6 class="fw-bold mb-0">Table N10, #04434 | 16:00 - 00:00</h6>
                        <button class="btn btn-light btn-sm"><i class="bi bi-pencil"></i></button>
                    </div>
                    <div class="mb-2 text-secondary">Waiter: John Doe</div>

                    <table class="table table-sm">

                        <tbody>
                            <tr>
                                <td> <i class="bi bi-square"></i> </td>
                                <td>
                                    <div class="font-monospace">2x</div>
                                </td>
                                <td>
                                    <strong> PASSION CCNT DELIGHT * </strong>
                                    <div>
                                        <small class="font-monospace"> @20,000</small>
                                        <small class="badge text-bg-secondary">SO</small>
                                    </div>
                                </td>

                                <td>
                                    <strong class="font-monospace">1,400,000</strong>
                                </td>
                            </tr>
                            <!-- Add more rows as needed -->
                        </tbody>
                    </table>



                </div>

                <div class="row g-3">
                    <div class="col-6">
                        <div class="bg-white">
                            <img src="./key-number1.jpg" class="img-fluid rounded" alt="Placeholder Image">

                        </div>

                    </div>
                    <div class="col-6">
                        <div class="row g-2 mb-2">
                            <div class="col-6 d-grid">
                                <button class="btn btn-warning btn-lg ">
                                    <h4>CE</h4>
                                </button>
                            </div>
                            <div class="col-6 d-grid">
                                <button class="btn btn-primary btn-lg">
                                    <h4>SUMBIT</h4>
                                </button>
                            </div>
                        </div>
                        <div class="row g-2">
                            <div class="col-6 d-grid">
                                <button class="btn btn-success btn-lg">
                                    <div> <i class="bi bi-check-circle"></i></div>
                                    Print Bill
                                </button>
                            </div>
                            <div class="col-6 d-grid">
                                <button class="btn btn-danger btn-lg" disabled>
                                    <div> <i class="bi bi-check-circle"></i></div>
                                    Void Order
                                </button>
                            </div>
                            <div class="col-6 d-grid">
                                <button class="btn btn-primary btn-lg">
                                    <div> <i class="bi bi-check-circle"></i></div>
                                    Split Bill
                                </button>
                            </div>
                            <div class="col-6 d-grid">

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-2">
                <strong>SELECT PAYMENT GROUP</strong>
            </div>
        </div>



    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>