<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>POS Restaurant</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link
        href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&amp;family=Noto+Sans:ital,wght@0,100..900;1,100..900&amp;display=swap"
        rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm mb-3">
        <div class="container-fluid">

            <!-- Left menu -->
            <ul class="navbar-nav flex-row me-3">
                <li class="nav-item me-2">
                    <a class="nav-link btn  btn-primary    d-flex align-items-center" href="#">
                        <i class="bi bi-arrow-left "></i> Back
                    </a>
                </li>

            </ul>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav align-items-center">
                    <li class="nav-item">
                        <a class="nav-link px-3 active" href="#"><i class="bi bi-gear"></i> Setting</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-3" href="#"><i class="bi bi-printer"></i> Print Queue</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-3" href="#"><i class="bi bi-pencil-square"></i> Adjust Item</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-3" href="#"><i class="bi bi-bar-chart"></i> Report</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-3" href="#"><i class="bi bi-cash-stack"></i> Cash Balance</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-3" href="#"><i class="bi bi-person-lines-fill"></i> User Log</a>
                    </li>
                </ul>
            </div>

            <!-- Right menu -->
            <ul class="navbar-nav flex-row ms-3">
                <li class="nav-item me-2">
                    <a class="nav-link" href="#"><i class="bi bi-question-circle"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-primary   d-flex align-items-center" href="#">
                        <i class="bi bi-person-circle"></i> John Doe
                    </a>

                </li>
            </ul>

        </div>
    </nav>
    
    <div class="container">

        <div class="row">
            <!-- Left -->
            <div class="col-md-4">
                <div class="order-panel order-panel-fixHeight mb-3">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <h6 class="fw-bold mb-0">Table N10, #04434 | 16:00 - 00:00</h6>
                        <button class="btn btn-light btn-sm"><i class="bi bi-pencil"></i></button>
                    </div>
                    <div class="mb-2 text-secondary" >Waiter: John Doe</div>

                    <table class="table table-sm">
                        <thead >
                            <tr>
                                <td style="width: 5%;"><i class="bi bi-square"></i> </td>
                                <td colspan="3">List Order</td> 
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> <i class="bi bi-square"></i> </td>
                                    <td> <div class="font-monospace">2x</div></td> 
                                <td> 
                                    <strong> PASSION CCNT DELIGHT * </strong>
                                    <div>
                                        <small class="font-monospace"> @20,000</small>
                                        <small class="badge text-bg-secondary">SO</small>
                                    </div>  
                                </td>
                            
                                <td>
                                    <strong class="font-monospace">1,400,000</strong>
                                </td>
                            </tr>
                            <!-- Add more rows as needed -->
                        </tbody>
                    </table>



                </div>

                <div class="order-panel mb-3">

                    <!-- Summary -->
                    <div class="order-summary ">
                        <div class="d-flex justify-content-between">
                            <span>Total</span>
                            <span class="fw-bold">78,000 USD</span>
                        </div>
                    </div>
                </div> 

                <div class="row g-1">
                    <div class="col-6 d-grid">
                        <button class="btn btn-primary "><i class="bi bi-check-circle"></i> Show Detail</button>
                    </div>
                    <div class="col-3 d-grid">
                        <button class="btn btn-primary  "> Cover</button>
                    </div>
                    <div class="col-3 d-grid">
                        <button class="btn btn-danger  "> Void</button>
                    </div>
                </div>

            </div>


            <!-- Right -->
            <div class="col-md-8">
                <!-- Tabs -->
                <ul class="nav nav-pills mb-2">
                    <li class="nav-item"><a class="nav-link" href="#">Send Order</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Guest Check</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Kitchen</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Bill</a></li>

                </ul>
                <!-- Category Tabs -->
                <ul class="nav category-tabs mb-3">
                    <li class="nav-item"><a class="nav-link active" href="#">ACTION</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">MENU</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">MODIFIER</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">ITEM DISCOUNT</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">TRANSACTION DETAIL</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">INFO</a></li>

                </ul>

                <!-- Tabs -->
                <div class="row g-2 mb-2">
                    <div class="col-3 d-grid ">
                        <button class="btn btn-light py-3">Void Item</button>
                    </div>
                    <div class="col-3  d-grid ">
                        <button class="btn btn-light py-3">Send Order</button>
                    </div>
                    <div class="col-3  d-grid ">
                        <button class="btn btn-light py-3">Bill</button>
                    </div>
                    <div class="col-3  d-grid ">
                        <button class="btn btn-light py-3">Print</button>
                    </div>
                    <div class="col-3  d-grid ">
                        <button class="btn btn-light py-3">Payment</button>
                    </div>
                    <div class="col-3  d-grid ">
                        <button class="btn btn-light py-3">Exit Without Order</button>
                    </div>
                    <div class="col-3  d-grid ">
                        <button class="btn btn-light py-3">Transfer Items</button>
                    </div>
                    <div class="col-3  d-grid ">
                        <button class="btn btn-light py-3">Take Away</button>
                    </div>
                    <div class="col-3  d-grid ">
                        <button class="btn btn-light py-3">Merger Table</button>
                    </div>
                </div>

                <!-- Menu Grid -->
                <div class="row   row-cols-2 row-cols-md-4 g-2">
                    <div class="col-3">
                        <div class="card card-menu">
                            <div class="card-body text-center">
                                <h6 class="card-title mb-1">Chicken Grill</h6>
                                <p class="fw-bold text-primary mb-0">1600 USD</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card card-menu">
                            <div class="card-body text-center">
                                <h6 class="card-title mb-1">Pork Grill</h6>
                                <p class="fw-bold text-primary mb-0">2200 USD</p>
                            </div>
                        </div>
                    </div>
                    <!-- Add more menu items as needed -->
                </div>
            </div>


        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>