<div class="wrapper">
   <div class="container-fluid">
      <div class="row">
         @if(display == 'idle'){

         <div class="col-12">
            <div class="text-center mt-5">
               <h1>{{lang.get('Welcome to')}}</h1> 
               <img src="./img/logo.png" class="img-fluid mt-3" />
               <h3 class="mt-3">{{lang.get('Please wait for your order')}}</h3>
            </div>
         </div>

         }
         @else {

         <div class="col-4 text-center">
            <div class="mt-5">
               <img src="./img/logo.png" class="img-fluid" />

               <img src="./assets/images/pexels-chanwalrus-958545.jpg" class="img-fluid mt-3" />
            </div>

         </div>
         <div class="col-8">

            <div class="order-panel mt-3 cover-full" #myDiv>
               <div class="row">
                  <div class="col-6">
                     <table>
                        <tbody>
                           <tr>
                              <td> {{lang.get('Order')}} </td>
                              <td> : #{{id}} </td>
                           </tr>
                           <tr>
                              <td> {{lang.get('Date')}} </td>
                              <td> : {{cart.inputDate | date:'short'}} </td>
                           </tr>

                        </tbody>
                     </table>
                  </div>
                  <div class="col-6">
                     <table>
                        <tbody>

                           <tr>
                              <td> {{lang.get('Terminal')}} </td>
                              <td> : {{terminalId}} </td>
                           </tr>
                           <tr>
                              <td> {{lang.get('Employee')}} </td>
                              <td> : {{cart.inputBy}} </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
               <hr>
               <!-- Bill Table Component -->
               <app-bill-table [data]="data" [showApplyDiscount]="showModifier">{{lang.get('Loading...')}}</app-bill-table>
            </div>
         </div>
         }
      </div>
   </div>