@if(login == true){

<div class="wrapper">
  <nav class="sidebar px-1">


    <ul ngbNav #nav="ngbNav" [(activeId)]="active" (click)="saveActive(active)" class="nav-tabs">
      <li [ngbNavItem]="1">
        <button ngbNavLink class="px-2 py-1"><small>General</small></button>
        <ng-template ngbNavContent>

          <div class="mx-3">
            <tree-root #treeComponent [nodes]="generalTab" (toggleExpanded)="onToggle($event)" [options]="options"
              (activate)="onEvent($event)">
              <ng-template #treeNodeTemplate let-node let-index="index">
                <span class="file-icon" [innerHTML]="node.data.icon"></span>
                {{ node.data.name }}
              </ng-template>
            </tree-root>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <button ngbNavLink class="px-2 py-1"><small>Report</small></button>
        <ng-template ngbNavContent>

          <div class="mx-3">
            <tree-root #treeComponent [nodes]="reportTab" [options]="options" (activate)="onEvent($event)">
              <ng-template #treeNodeTemplate let-node let-index="index">
                <span class="file-icon" [innerHTML]="node.data.icon"></span>
                {{ node.data.name }}
              </ng-template>

            </tree-root>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="3">
        <button ngbNavLink class="px-2 py-1"><small>Menu</small></button>
        <ng-template ngbNavContent>
          <div class="mx-3">
            <tree-root #treeComponent [nodes]="menuTab" (toggleExpanded)="onToggle($event)" [options]="options"
              (activate)="onEvent($event)">
              <ng-template #treeNodeTemplate let-node let-index="index">
                <span class="file-icon" [innerHTML]="node.data.icon"></span>
                {{ node.data.name }}
              </ng-template>

            </tree-root>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="4">
        <button ngbNavLink class="px-2 py-1"><small>Outlet</small></button>
        <ng-template ngbNavContent>
          <div class="mx-3">
            <tree-root #treeComponent [nodes]="outletTab" (toggleExpanded)="onToggle($event)" [options]="options"
              (activate)="onEvent($event)">
              <ng-template #treeNodeTemplate let-node let-index="index">
                <span class="file-icon" [innerHTML]="node.data.icon"></span>
                {{ node.data.name }}
              </ng-template>
            </tree-root>
          </div>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>

   <div class="d-grid">
      <button class="btn btn-sm btn-light border" (click)="onLogout()" type="button">Logout</button>
    </div>
    <div class="text-center mt-3">
      <small>
        version : {{version}} |  Patch : {{patch}}
       
      </small>
    </div>
  </nav>

  <main class="content">
    <router-outlet />
  </main>
</div>


}
@else {
<app-login></app-login>
}