.report , .report  td , .report  th {
    font-family:monospace;
    font-size: 0.7rem;

}
.report  td, .report  th {
    padding: 0px !important;
}

 .report  th {
 border-bottom:  1px solid black; 
}

.report  tfoot td {
    border-top:  1px solid black; 
 
}