<app-header-menu></app-header-menu>

<div [ngClass]="{'container': screenWidth >= 1200, 'container-fluid': screenWidth < 1200}">
    <div class="row">

        <div class="col-5 col-md-6">
            <div class="order-panel">
                <strong>ITEMS</strong>
                <table class="table">
                    <thead>
                        <tr>
                            <th [width]="'50px'">#</th>
                            <th>Menu</th>
                            <th class="text-end">Price</th>
                            <th class="text-end">Qty</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let x of items; let i = index" (click)=" openKey(modalKey,x,i)"
                            [hidden]="x.total <=0 ">
                            <td>{{i+1}}</td>
                            <td>{{x.name}}</td>
                            <td class="text-end">{{x.price | number}}</td>
                            <td class="text-end">{{x.total}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-7 col-md-6">
            <div class="order-panel">
                <strong> TRANSFER ITEMS</strong>
                <table class="table ">
                    <thead>
                        <tr>
                            <th></th>
                            <th [width]="'50px'">#</th>
                            <th>Menu</th>
                            <th class="text-end">Price</th>
                            <th class="text-end">Qty</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let x of itemsTransfer; let i = index">
                            <td>
                                <button class="btn btn-sm btn-warning" (click)="fnCancel(i)">
                                    <i class="bi bi-arrow-left"></i> CANCEL
                                </button>
                            </td>
                            <td>{{i+1}}</td>
                            <td>{{x.name}}</td>
                            <td class="text-end">{{x.price | number}}</td>
                            <td class="text-end">{{x.total}}</td>

                        </tr>
                    </tbody>
                </table>
                <div class="d-grid m-2 sticky-bottom" *ngIf="itemsTransfer.length > 0">
                    <button type="button" class="btn btn-lg btn-dark" (click)="open(contentTables)">SELECT
                        TABLES</button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modalKey let-modal>
    <div class="modal-header">
        <strong class="modal-title" id="modal-basic-title">Select Total Items for Transfer</strong>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <input type="number" autocomplete="off" class="form-control form-control-lg  bg-light mb-2 text-end"
            placeholder="0" [(ngModel)]="qty" #myInput>

        <div class="mb-2">
            <app-key-number (dataEmitted)="handleData($event)"></app-key-number>
        </div>

        <div class="row g-1">
            <div class="col-6 d-grid">
                <button type="button" class="btn btn-warning btn-lg" (click)="qty=0">CE</button>
            </div>
            <div class="col-6 d-grid">
                <button type="button" class="btn btn-dark btn-lg" (click)="onSubmit()">SUBMIT</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #contentTables let-modal>
    <div class="modal-header">
        <strong class="modal-title">
            <div class="bg-light p-1  rounded border  d-inline-block">
                <span *ngFor="let x of tablesMaps; let i = index">
                    <button type="button" class="btn btn-sm px-3" (click)="onMap(i)" [class]="{
                           'border': current == i,
                            'btn-primary': current == i,
                            'shadow-sm': current == i,
                           }"> {{x.desc1}}

                        <span *ngIf="x.checking > 0  " class="badge text-bg-danger rounded-circle">
                            {{x.checking}}
                        </span>
                    </button>
                </span>

            </div>
        </strong>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body bg-main rounded-bottom">


        <div class="map">
            <div style="height: 75vh; zoom:{{zoom}}% ">
                <div class="table-map"
                    style="background: url('{{public}}floor/{{tablesMaps[current]?.image}}') left top no-repeat;">

                    <div class="floorPlan" *ngFor="let x of tablesMaps[current]?.maps">


                        <div class="items  {{x.bgn}}" [style.transform]="'translate(' + x.posX + 'px,' + x.posY + 'px)'"
                            [style.width.px]="x.width" [style.height.px]="x.height"
                            [style.backgroundImage]="'url('+public+'icon/'+x.icon+')'" style="background-size: cover;"
                            style="background-size: cover; margin: 30% auto; cursor: pointer;"
                            [style.opacity]="x.id == table.outletTableMapId ? 0.4 : 1" (click)="fnTransferItems(x)">
                            <div class="text-end p-1" style=" cursor: pointer;">
                                <div class="table-pos-label">
                                    <strong class="table-name">

                                        <span *ngIf="x.overdueMinute > 0 "> <i class="bi bi-exclamation-diamond"></i>
                                        </span>
                                        {{x.tableName}} </strong>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</ng-template>