<div class="row">
   <div class="col-12 ">


      <div class="header py-2">
         <div class="row">
            <div class="col-4">
               <strong>OUTLET DETAILS</strong>
               <span class="mx-1" *ngIf="loading">
                  <img src="./gif/Pulse@1x-1.0s-200px-200px.gif" height="30">
               </span>
            </div>
            <div class="col-8 text-end">
               @if(disabled==false){
               <button type="button" class="btn btn-sm btn-light border me-2" (click)="cancel()">Close</button>

               <button type="button" class="btn btn-sm btn-dark border me-2" (click)="open(content);">Create</button>
               <button type="button" class="btn btn-sm btn-danger border me-2" (click)="onDelete();">Delete</button>

               }
               @else {
               <button type="button" class="btn btn-sm btn-light border me-2"
                  (click)="disabled= false">Editable</button>
               }

            </div>
         </div>

      </div>
      <div class="mainContent border">
         <div class="table table-sm table-hover" style="width: max-content;">
            <table class="table table-hover" style=" min-width:80vw;">
               <thead class="sticky-top ">
                  <tr>

                     <th *ngIf="disabled==false">
                        <a href="javascript:;" (click)="checkAll();">
                           @if(checkboxAll == 1){
                           <i class="bi bi-check-square"></i>
                           }@else {
                           <i class="bi bi-square"></i>
                           }

                        </a>
                     </th>
                     <th>#</th>
                     <th>Name</th>
                     <th>Descs</th>
                     <th>Company Name</th>
                     <th>Price No</th>
                     <th>Printer</th>

                     <th>inputDate</th>
                     <th></th>

                  </tr>
               </thead>
               <tbody>
                  <tr *ngFor="let x of items; let i = index">
                     <td *ngIf="disabled==false">
                        <a href="javascript:;" (click)=" x.checkbox == 0 ? x.checkbox = 1 : x.checkbox = 0">
                           <i *ngIf="x.checkbox == 0" class="bi bi-square"></i>
                           <i *ngIf="x.checkbox == 1" class="bi bi-check-square"></i>
                        </a>
                     </td>
                     <td>{{i+1}}</td>
                     <td>{{x.name }}</td>
                     <td>{{x.descs }}</td>
                     <td>{{x.company }}</td>
                     <td>{{x.priceNo }}</td>
                     <td>{{x.printer }}</td>

                     <td>{{ x.updateDate | date:'medium'}} </td>
                     <td> <button type="button" (click)="openLg(detail, x);"
                           class="btn btn-sm btn-primary py-0">Detail</button> </td>

                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>

<ng-template #detail let-modal>
   <div class="modal-header">
      <strong class="modal-title" id="modal-basic-title">Outlet Detail</strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>
   <div class="modal-body">

      <form (ngSubmit)="onUpdate()" #heroForm="ngForm">
         <div class="row mb-3">
            <div class="col-6">
               <strong>Detail Outlet</strong>
               <table class="table table-sm">
                  <tbody>
                     <tr>
                        <td>ID</td>
                        <td>
                           <div class="form-control form-control-sm">{{item.id}}</div>
                        </td>
                     </tr>
                     <tr>
                        <td> <label for="company">Company</label></td>
                        <td>
                           <input id="company" class="form-control form-control-sm mb-1" name="company"
                              [(ngModel)]="item.company" />
                        </td>
                     </tr>


                     <tr>
                        <td width="30%"> <label for="descl1">Name *</label></td>
                        <td>
                           <input id="name" class="form-control form-control-sm" name="name" [(ngModel)]="item.name"
                              required #name="ngModel" />
                           <small [hidden]="name.valid || name.pristine" class="text-danger">
                              *Name is required
                           </small>
                        </td>
                     </tr>

                     <tr>
                        <td> <label for="descs">Description *</label></td>
                        <td>
                           <input id="descs" class="form-control form-control-sm" name="descs" [(ngModel)]="item.descs"
                              required #descs="ngModel" />
                           <small [hidden]="descs.valid || descs.pristine" class="text-danger">
                              *descs is required
                           </small>
                        </td>
                     </tr>
                     <tr>
                        <td> <label for="tel">Tel</label></td>
                        <td>
                           <input id="tel" class="form-control form-control-sm" name="tel" [(ngModel)]="item.tel" />
                        </td>
                     </tr>
                     <tr>
                        <td> <label for="fax">Fax</label></td>
                        <td>
                           <input id="fax" class="form-control form-control-sm" name="fax" [(ngModel)]="item.fax" />

                        </td>
                     </tr>


                     <tr>
                        <td> <label for="addr1">Address</label></td>
                        <td>
                           <input id="addr1" class="form-control form-control-sm mb-1" name="address"
                              [(ngModel)]="item.address" />
                        </td>
                     </tr>

                     <tr>
                        <td> <label for="street1">Street</label></td>
                        <td>
                           <input id="street1" class="form-control form-control-sm mb-1" name="street1"
                              [(ngModel)]="item.street" />
                        </td>
                     </tr>

                     <tr>
                        <td> <label for="cityname1">City</label></td>
                        <td>
                           <input id="cityname1" class="form-control form-control-sm mb-1" name="cityname1"
                              [(ngModel)]="item.city" />
                        </td>
                     </tr>

                     <tr>
                        <td> <label for="country1">Country</label></td>
                        <td>
                           <input id="country1" class="form-control form-control-sm mb-1" name="country1"
                              [(ngModel)]="item.country" />
                        </td>
                     </tr>

                  </tbody>
               </table>
            </div>
            <div class="col-6">
               <strong>Setting</strong>
               <table class="table table-sm">
                  <tbody>
                     <tr>
                        <td>Price No </td>
                        <td>
                           <select class="form-control form-control-sm" name="priceNo" [(ngModel)]="item.priceNo">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                           </select>
                        </td>
                     </tr>
                     <tr>
                        <td>Printer </td>
                        <td>
                           <select class="form-control form-control-sm" name="printerId" [(ngModel)]="item.printerId">
                              <option [value]="x.id" *ngFor="let x of selectPrinter">{{x.name}}</option>

                           </select>
                        </td>
                     </tr>
                  </tbody>
               </table>

               <strong>Greeting </strong>
               <table class="table table-sm">
                  <tbody>

                     <tr>
                        <td width="10%"> <label for="greeta1">A</label></td>
                        <td>
                           <input id="greeta1" class="form-control form-control-sm" name="greeta1"
                              [(ngModel)]="item.greeta1" />
                        </td>
                     </tr>

                     <tr>
                        <td> <label for="greetb1">B</label></td>
                        <td>
                           <input id="greetb1" class="form-control form-control-sm" name="greetb1"
                              [(ngModel)]="item.greetb1" />
                        </td>
                     </tr>

                     <tr>
                        <td> <label for="greetc1">C</label></td>
                        <td>
                           <input id="greetc1" class="form-control form-control-sm" name="greetc1"
                              [(ngModel)]="item.greetc1" />
                        </td>
                     </tr>

                     <tr>
                        <td> <label for="greetd1">D</label></td>
                        <td>
                           <input id="greetd1" class="form-control form-control-sm" name="greetd1"
                              [(ngModel)]="item.greetd1" />
                        </td>
                     </tr>

                     <tr>
                        <td> <label for="greete1">E</label></td>
                        <td>
                           <input id="greete1" class="form-control form-control-sm" name="greete1"
                              [(ngModel)]="item.greete1" />
                        </td>
                     </tr>
                  </tbody>
               </table>
               <hr>
               <table class="table table-sm">
                  <tbody>

                     <tr>
                        <td width="30%"> <label for="dpoleu1">dpoleu1</label></td>
                        <td>
                           <input id="dpoleu1" class="form-control form-control-sm" name="dpoleu1"
                              [(ngModel)]="item.dpoleu1" />
                        </td>
                     </tr>

                     <tr>
                        <td> <label for="dpolel1">dpolel1</label></td>
                        <td>
                           <input id="dpolel1" class="form-control form-control-sm" name="dpolel1"
                              [(ngModel)]="item.dpolel1" />
                        </td>
                     </tr>


                  </tbody>
               </table>

            </div>

         </div>


         <div class="d-grid">
            <button type="submit" class="btn btn-sm btn-dark" [disabled]="!heroForm.form.valid">Save</button>
         </div>
      </form>
   </div>

</ng-template>

<ng-template #content let-modal>
   <div class="modal-header">
      <strong class="modal-title" id="modal-basic-title">New Outlet</strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>
   <div class="modal-body">
      <form (ngSubmit)="onSubmit()" #actorForm="ngForm">
         <div class="mb-2">
            <label for="descl1">Name1*</label>
            <input id="descl1" class="form-control form-control-sm" name="descl1" [(ngModel)]="model.desc1" required
               #descl1="ngModel" />
            <small [hidden]="descl1.valid || descl1.pristine" class="text-danger">
               *name1 is required
            </small>
         </div>



         <div class="d-grid">
            <button type="submit" class="btn btn-sm btn-dark" [disabled]="!actorForm.form.valid">Save</button>
         </div>
      </form>
   </div>

</ng-template>