<div class="row">
    <div class="col-12 ">
        <div class="header py-2">
            <div class="row">
                <div class="col-4">
                    <strong>TERMINAL KEY SETTING</strong>

                    <span class="mx-1" *ngIf="loading">
                        <img src="./gif/Pulse@1x-1.0s-200px-200px.gif" height="30">
                    </span>
                </div>
                <div class="col-8 text-end">
                    @if(disabled==false){
                    <button type="button" class="btn btn-sm btn-light border me-2"
                        (click)="disabled=true">Close</button>
                    <button type="button" class="btn btn-sm btn-light border me-2" (click)="update();">Update</button>


                    <button type="button" class="btn btn-sm btn-danger border me-2" (click)="fnDelete()">Delete</button>

                    }
                    @else {
                    <button type="button" class="btn btn-sm btn-light border me-2"
                        (click)="disabled= false">Editable</button>
                    }
                    <button type="button" class="btn btn-sm btn-dark border me-2" (click)="fnLoadKey()">Load
                        Key</button>
                </div>

            </div>

        </div>
        <div class="mainContent border">
             <table class="table table-sm table-editable table-hover" style="width: 100%">
                <thead>
                    <tr>
                        <th *ngIf="!disabled"></th>
                        <th>#</th>
                        <th>Terminal Id</th>
                        <th>Exp</th>
                        <th>Price No</th>
                        <th>Printer</th>

                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let x of items; let i = index">
                        <td *ngIf="!disabled" (click)=" x.checkBox == '0' ? x.checkBox = '1' : x.checkBox = '0'">
                            <i *ngIf="x.checkBox == '1'" class="bi bi-check-square-fill"></i>
                            <i *ngIf="x.checkBox == '0'" class="bi bi-square"></i>
                        </td>
                        <td>{{i+1}}</td>
                        <td> {{x.terminalId}} </td>
                        <td> {{x.exp}} </td>
                        <td>
                            <select class="form-control form-control-sm" [disabled]="disabled" [(ngModel)]="x.priceNo">
                                <option value="0">Base on Outlet</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </td>

                        <td>
                            <select class="form-control form-control-sm" [disabled]="disabled"
                                [(ngModel)]="x.printerId">
                                <option value="0">Base on Outlet</option>
                                <option [value]="x.id" *ngFor="let x of selectPrinter">{{x.name}} ({{x.printerTypeCon}})
                                </option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="text-center my-3" *ngIf="loading">Loading</div>

    </div>

</div>