<div class="row">
    <div class="col-12 ">

        <div class="header py-2">
            <div class="row">
                <div class="col-4">
                    <strong>TEMPLATE ICON MAP</strong>
                    <span class="mx-1" *ngIf="loading">
                        <img src="./gif/Pulse@1x-1.0s-200px-200px.gif" height="30">
                    </span>
                </div>
                <div class="col-8 text-end">
                    @if(disabled==false){
                    <button type="button" class="btn btn-sm btn-light border me-2" (click)="cancel()">Close</button>
                    <button type="button" class="btn btn-sm btn-light border me-2" (click)="onUpdate();">Update</button>

                    <button type="button" class="btn btn-sm btn-dark border me-2"
                        (click)="open(content);">Create</button>
                    <button type="button" class="btn btn-sm btn-danger border me-2"
                        (click)="onDelete();">Delete</button>

                    }
                    @else {
                    <button type="button" class="btn btn-sm btn-light border me-2"
                        (click)="disabled= false">Editable</button>

                    }

                </div>
            </div>

        </div>
        <div class="mainContent border">
            <div class="">

                <div class="table table-sm table-editable table-hover" style="width: max-content;">
                    <table class="table table-hover" style=" min-width:80vw;">


                        <thead class="sticky-top ">
                            <tr>

                                <th *ngIf="disabled==false">
                                    <a href="javascript:;" (click)="checkAll();">
                                        @if(checkboxAll == 1){
                                        <i class="bi bi-check-square"></i>
                                        }@else {
                                        <i class="bi bi-square"></i>
                                        }
                                    </a>
                                </th>
                                <th>#</th>

                                <th>Name</th>
                                <th width="80">Capacity</th>
                                <th width="80">Height(px)</th>
                                <th width="80">Width(px)</th>
                                <th class="text-center">Icon </th>
                                <th>Input Date</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let x of items; let i = index">

                                <td *ngIf="disabled==false">
                                    <a href="javascript:;" (click)=" x.checkbox == 0 ? x.checkbox = 1 : x.checkbox = 0">
                                        <i *ngIf="x.checkbox == 0" class="bi bi-square"></i>

                                        <i *ngIf="x.checkbox == 1" class="bi bi-check-square"></i>
                                    </a>
                                </td>
                                <td>{{i+1}}</td>


                                <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.name"
                                        name="name" [disabled]="disabled"> </td>

                                <td><input type="number" class="form-control form-control-sm" [(ngModel)]="x.capacity"
                                        name="capacity" [disabled]="disabled"> </td>

                                <td><input type="number" class="form-control form-control-sm" [(ngModel)]="x.height"
                                        name="height" [disabled]="disabled"> </td>

                                <td><input type="number" class="form-control form-control-sm" [(ngModel)]="x.width"
                                        name="width" [disabled]="disabled"> </td>


                                <td class="text-center">
                                    <button type="button" class="btn btn-sm border-0" [disabled]="disabled"
                                        (click)="open(contentFloorImg, x, 'lg')">
                                        <img [src]="path+x.icon" [height]="x.height" [width]="x.width">
                                    </button>

                                </td>
                                <td>{{ x.inputDate | date:'medium'}} </td>

                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<ng-template #content let-modal>
    <div class="modal-header">
        <strong class="modal-title" id="modal-basic-title">New Icon Map</strong>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="onSubmit()" #actorForm="ngForm">
            

            <div class="mb-2">
                <label for="name">Name *</label>
                <input id="name" class="form-control form-control-sm" name="name" [(ngModel)]="model.name" required
                    #name="ngModel" />
                <small [hidden]="name.valid || name.pristine" class="text-danger">
                    *Name is required
                </small>
            </div>

            <div class="row mb-3">
                <div class="col-4 mb-2">
                    <label for="capacity">Capacity *</label>
                    <input type="number" id="capacity" class="form-control form-control-sm" name="capacity"
                        [(ngModel)]="model.capacity" required #capacity="ngModel" />
                    <small [hidden]="capacity.valid || capacity.pristine" class="text-danger">
                        *Capacity is required
                    </small>
                </div>

                <div class="col-4 mb-2">
                    <label for="height">Height *</label>
                    <input type="number" id="height" class="form-control form-control-sm" name="height"
                        [(ngModel)]="model.height" required #height="ngModel" />
                    <small [hidden]="height.valid || height.pristine" class="text-danger">
                        *Height is required
                    </small>
                </div>

                <div class="col-4 mb-2">
                    <label for="width">Width *</label>
                    <input type="number" id="width" class="form-control form-control-sm" name="width"
                        [(ngModel)]="model.width" required #width="ngModel" />
                    <small [hidden]="width.valid || width.pristine" class="text-danger">
                        *Width is required
                    </small>
                </div>
            </div>

            <div class="row g-2 mb-2">
                <label for="width">Select Icon *</label>
                <div class="col-3 mb-3" *ngFor="let x of selectImg">
                    <a href="javascript:;" (click)="model.icon = x.filename ">
                        <div class="p-1 border " [class]="{'border-3': x.filename == model.icon }">
                            <img [src]="path+x.filename" width="100%">
                        </div>
                    </a>
                </div>

                <input type="hidden" class="form-control form-control-sm" name="icon" [(ngModel)]="model.icon" />
            </div>


            <div class="d-grid">
                <button type="submit" class="btn  btn-dark" [disabled]="!actorForm.form.valid">Save</button>
            </div>
        </form>
    </div>

</ng-template>


<ng-template #contentFloorImg let-modal>
    <div class="modal-header">
        <strong class="modal-title" id="modal-basic-title">Floor Map Image</strong>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="row g-2">

            <div class="col-2 mb-3" *ngFor="let x of selectImg">
                <a href="javascript:;" (click)="updateImg(x.filename)">
                    <div class="p-1 border " [class]="{'bg-secondary': x.filename == item.image }">
                        <img [src]="path+x.filename" width="100%">
                    </div>
                </a>
            </div>

        </div>
    </div>
</ng-template>