<app-header-menu></app-header-menu>
<div class="container">
    <div class="row g-3 mb-3">

        <div class="col-12">
            <h4>SETTING</h4>
        </div>

        <div class="col-6">
            <div class="order-panel ">
                <strong>LOCAL PRINTER</strong>
                <table class="table table-bordered">
                    <tr>
                        <td class="align-self-center">Printer Connection</td>
                        <td> <select class="form-control" [(ngModel)]="config['printer']['con']">
                                <option value="ip">IP</option>
                                <option value="com">SERIAL/COM</option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td class="align-self-center">Printer Address</td>
                        <td><input type="text" class="form-control" [(ngModel)]="config['printer']['address']"> </td>
                    </tr>

                    <tr>
                        <td class="align-self-center">Printer port</td>
                        <td><input type="text" class="form-control" [(ngModel)]="config['printer']['port']"> </td>
                    </tr>

                    <tr>
                        <td class="align-self-center">Name</td>
                        <td><input type="text" class="form-control" [(ngModel)]="config['printer']['name']"> </td>
                    </tr>

                    <tr>
                        <td>Note</td>
                        <td>
                            <div class="mb-1">
                                <textarea class="form-control" rows="4" [(ngModel)]="printTest"></textarea>
                            </div>
                            <div class="d-grid ">
                                <button type="button" (click)="onTestPrinting()" [disabled]="loading"
                                    class="btn btn-lg btn-dark mx-1 ">TEST</button>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="alert alert-warning" *ngIf="restPrinter != ''">{{restPrinter}}</div>
            </div>

        </div>

        <div class="col-6">
            <div class="order-panel">
                <strong>TABLE LOGOUT TIME</strong>
                <div>
                    <small>
                        <em>Untuk halaman TABLE jika tidak ada interaksi maka akan otomatis logout setiap
                            {{timerLogoff}} detik</em>
                    </small>
                </div>
                <div class="mb-3">
                    <table class="table ">
                        <tbody>
                            <tr>
                                <td>In Second</td>
                                <td><input type="number" class="form-control form-control-sm" [(ngModel)]="timerLogoff">
                                    <div>{{note1}}</div>
                                </td>
                                <td> <button type="button" class="btn btn-sm btn-primary"
                                        (click)="update1()">Update</button> </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <strong>TERMINAL KEY</strong>
                <table class="table ">
                    <tbody>
                        <tr>
                            <td>KEY</td>
                            <td>: {{keyLicense.terminalId}}</td>
                        </tr>
                        <tr>
                            <td>Exp</td>
                            <td>: {{keyLicense.expired}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <div class="d-grid">
                                    <a class="btn btn-lg btn-warning" [routerLink]="['/login/terminal']">EDIT</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <div class="row g-3 mb-3">

        <div class="col-7 ">
            <div class="order-panel">
                <strong>GLOBAL PRINTER / PRINTER SERVICE</strong>


                <table class="table table-sm table-bordered">
                    <thead>
                        <tr>
                            <th (click)="checkBoxAll()">
                                @if( isCheckAll != 0){
                                <i class="bi bi-check-square-fill "></i>
                                }
                                @else{
                                <i class="bi bi-square"></i>
                                }
                            </th>
                            <th>Group</th>

                            <th>Printer 1</th>
                            <th>Connection 1</th>

                            <th>Printer 2</th>
                            <th>Connection 2</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of itemsPrinter; let i = index" (click)="fnCheck(i)"
                            [ngClass]="{'bg-light': p.checkBox == 1}">
                            <td>
                                @if(p.checkBox != 0){
                                <i class="bi bi-check-square-fill "></i>
                                }
                                @else{
                                <i class="bi bi-square"></i>
                                }
                            </td>
                            <td>{{p.group}}</td>
                            <td>{{p.name}}</td>
                            <td>{{p.printerTypeCon}} {{p.ipAddress}}:{{p.port}}</td>
                            <td>{{p.name2}}</td>
                            <td>{{p.printerTypeCon2}} {{p.ipAddress2}}:{{p.port2}}</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-bordered">
                    <tr>
                        <td>Note</td>
                        <td>
                            <div class="mb-1">
                                <textarea class="form-control" rows="4" [(ngModel)]="printTestGlobal"></textarea>
                            </div>
                            <div class="d-grid ">
                                <button type="button" (click)="globalPrinter()" [disabled]="loading || checkTotal < 1"
                                    class="btn btn-lg btn-dark mx-1 ">GLOBAL TEST</button>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="alert alert-warning" *ngIf="restPrinterGlobal != ''">{{restPrinterGlobal}}</div>
            </div>
        </div>
        <div class="col-5">

            <div class="order-panel">
                <strong> Logs onTestPrinting / globalPrinter:</strong>
                <div style="height: 400px; overflow-y: scroll; ">
                    <div *ngFor="let log of printerGlobalLogs">

                        <div class="lh-1">
                            <small>Printer 1 
                                <i *ngIf="log.status == 1" class="bi bi-check text-primary"></i>
                                <i *ngIf="log.status == 2" class="bi bi-check-all text-primary"></i>
                                <i *ngIf="log.status == -1" class="bi bi-x text-danger"></i> 
                                : {{log.printer1}}
                            </small>

                        </div>
                        <div class="lh-1"> <small>Printer 2
                            
                               <i *ngIf="log.status2 == 1" class="bi bi-check text-primary"></i>
                                <i *ngIf="log.status2 == 2" class="bi bi-check-all text-primary"></i>
                                <i *ngIf="log.status2 == -1" class="bi bi-x text-danger"></i> 

                            : {{log.printer2}} {{log.status2}}</small></div>
                        <div class="lh-1"> <small>{{log.updateDate | date:'short'}} {{log.consoleError}}</small></div>
                        <div class="lh-1">
                            <hr>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>