<app-header-menu></app-header-menu>
<div class="container">
    <div class="row g-3">

        <div class="col-12">
            <h4>SETTING</h4>
        </div>

        <div class="col-6">
            <div class="order-panel">


                <strong>PRINTER</strong>
                <table class="table table-bordered">
                    <tr>
                        <td class="align-self-center">Printer Connection</td>
                        <td> <select class="form-control" [(ngModel)]="config['printer']['con']">
                                <option value="ip">IP</option>
                                <option value="com">SERIAL/COM</option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td class="align-self-center">Printer Address</td>
                        <td><input type="text" class="form-control" [(ngModel)]="config['printer']['address']"> </td>
                    </tr>

                    <tr>
                        <td class="align-self-center">Printer port</td>
                        <td><input type="text" class="form-control" [(ngModel)]="config['printer']['port']"> </td>
                    </tr>

                    <tr>
                        <td class="align-self-center">Name</td>
                        <td><input type="text" class="form-control" [(ngModel)]="config['printer']['name']"> </td>
                    </tr>

                    <tr>
                        <td>Test Printing</td>
                        <td>
                            <div class="mb-1">
                                <textarea class="form-control" rows="4" [(ngModel)]="printTest"></textarea>
                            </div>
                            <div class="d-grid ">
                                <button type="button" (click)="onTestPrinting()" [disabled]="loading"
                                    class="btn btn-lg btn-dark mx-1 ">TEST </button>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="alert alert-warning" *ngIf="restPrinter != ''">{{restPrinter}}</div>
            </div>
        </div>

        <div class="col-6">
            <div class="order-panel">
                <strong>TERMINAL KEY</strong>
                <table class="table ">
                    <tbody>
                        <tr>
                            <td>KEY</td>
                            <td>: {{keyLicense.terminalId}}</td>
                        </tr>
                        <tr>
                            <td>Exp</td>
                            <td>: {{keyLicense.expired}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <div class="d-grid">
                                    <a class="btn btn-lg btn-warning" [routerLink]="['/login/terminal']">EDIT</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>