.tree-node {
  padding: 4px 0;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  position: relative;
}

.tree-node .abs-right-pos{
  position: absolute;
  right: 5px;

}
.toggle-btn {
  cursor: pointer;
  margin-right: 6px;
  font-size: 14px;
  user-select: none;
}

.toggle-empty {
  display: inline-block;
  width: 12px;
  margin-right: 6px;
}

.td-used{
    opacity: 0.5;
}