<div class="container-fluit sticky-top">
    <div class="border-bottom bg-white py-1">
        <div class="row">
            <div class="col-6 ">

                <button type="button" class="btn btn-sm btn-light border" (click)="back()">back</button>

            </div>
            <div class="col-6 text-end">
                <button type="button" class="btn btn-sm btn-primary" (click)="onUpdate()">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-12">
            <div class="mb-3">
                <label>Name</label>
                <div class="form-control form-control-sm">{{items.name}}</div>
            </div>
            <div class="mb-3">
                <label>Message</label>
                <textarea class="form-control form-control-sm bg-light font-monospace font-template" rows="30"
                    [(ngModel)]="items.message"></textarea>
            </div>
        </div>
    </div>
</div>