<table class="table-bill" width="100%">

    <tbody *ngFor="let x of data['cart']; let i = index">
        <tr>
            <td colspan="3"> <strong>{{x.name }} </strong> </td>
        </tr>
        <tr>
            <td width="70%">
                <div> &#64;{{x.price | number}} </div>

                @if(showApplyDiscount == true){
                <div *ngFor="let m of x.modifier; let i = index">
                    + {{m.descl}} &#64;{{m.price | number}}
                </div>
                }
            </td>
            <td width="20%" class="text-end align-text-top">
                x {{x.total | number}}
            </td>
            <td class="text-end ">
                <div>
                    {{x.totalAmount | number}}
                </div>
                @if(showApplyDiscount == true){
                <div *ngFor="let m of x.modifier; let i = index">
                    {{(m.price * m.total )| number}}
                </div>
                }
            </td>
        </tr>
    </tbody>

    <tbody>
        <tr>
            <td colspan="3">
                <hr>
            </td>
        </tr>
        <tr>
            <td class="text-end" colspan="2"> Item total : </td>
            <td class="text-end "> {{data['itemTotal'] | number}} </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp; </td>
        </tr>

        <tr *ngFor="let x of data['discountGroup']">
            <td colspan="2" class="text-end">{{x.name}} : </td>
            <td class="text-end">{{x.amount | number}}</td>
        </tr>
        <tr>
            <td colspan="3">&nbsp; </td>
        </tr>


        <tr>
            <td class="text-end" colspan="2"> Sub Total : </td>
            <td class="text-end "> {{data['subTotal'] | number}} </td>
        </tr>


        <tr *ngFor="let x of data['taxSc']">

            <td class="text-end" colspan="2"> {{x.name }} :</td>
            <td class="text-end ">{{x.totalAmount | number}}</td>
        </tr>

        <tr *ngFor="let x of data['bill']">
            <td colspan="2" class="text-end">{{x.name}} : </td>
            <td class="text-end">{{x.amount | number}}</td>
        </tr> 

        <tr>
            <td colspan="2" class="text-end"><strong class="font-monospace" style="font-size: 1.2rem;">Grand
                    Total :</strong></td>
            <td class="text-end "><strong class="font-monospace" style="font-size: 1.2rem;">{{data['grandTotal'] |
                    number}}</strong></td>
        </tr>


        <tr *ngFor="let x of data['cartPayment']">
            <td colspan="2" class="text-end">{{x.name}} :</td>
            <td class="text-end">{{x.paid | number}}</td>
        </tr>

        <Tr *ngIf="data['change'] > 0">
            <td colspan="2" class="text-end">Change :</td>
            <td class="text-end">{{data['change'] | number}}</td>
        </Tr>
    </tbody>


</table>
 