<div class="row">
    <div class="col-12 ">
 
 
       <div class="header py-2">
          <div class="row">
             <div class="col-4">
                <strong>WORKSTATION TAX RUN</strong>
                <span class="mx-1" *ngIf="loading">
                   <img src="./gif/Pulse@1x-1.0s-200px-200px.gif" height="30">
                </span>
             </div>
             <div class="col-8 text-end">
                @if(disabled==false){
                <button type="button" class="btn btn-sm btn-light border me-2" (click)="cancel()">Close</button>
                <button type="button" class="btn btn-sm btn-light border me-2" (click)="onUpdate();">Update</button>
 
                <button type="button" class="btn btn-sm btn-dark border me-2" (click)="onSubmit();">Create</button>
                <button type="button" class="btn btn-sm btn-danger border me-2" (click)="onDelete();">Delete</button>
 
                }
                @else {
                <button type="button" class="btn btn-sm btn-light border me-2"
                   (click)="disabled= false">Editable</button>
 
                }
 
             </div>
          </div>
 
       </div>
       <div class="mainContent border">
          <div class="">
 
             <div class="table table-sm table-editable table-hover" style="width: max-content;">
                <thead class="sticky-top ">
                   <tr>
 
                      <th *ngIf="disabled==false">
                         <a href="javascript:;" (click)="checkAll();">
                            @if(checkboxAll == 1){
                            <i class="bi bi-check-square"></i>
                            }@else {
                            <i class="bi bi-square"></i>
                            }
 
                         </a>
                      </th>
                      <th>#</th>    
                  
                      <th>paygrpid</th> 
                      <th>taxbeg</th>  
                      <th>taxend</th>  
                      <th>taxrun</th>    
                      <th>inputDate</th>
 
                   </tr>
                </thead>
                <tbody>
                   <tr *ngFor="let x of items; let i = index">
 
                      <td *ngIf="disabled==false">
                         <a href="javascript:;" (click)=" x.checkbox == 0 ? x.checkbox = 1 : x.checkbox = 0">
                            <i *ngIf="x.checkbox == 0" class="bi bi-square"></i>
 
                            <i *ngIf="x.checkbox == 1" class="bi bi-check-square"></i>
                         </a>
                      </td>
                      <td>{{i+1}}</td> 
                      <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.paygrpid"   [disabled]="disabled"> </td> 
                      <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.taxbeg"   [disabled]="disabled"> </td> 
                      <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.taxend"   [disabled]="disabled"> </td> 
                      <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.taxrun"   [disabled]="disabled"> </td> 
 
                      <td>{{ x.inputDate | date:'medium'}} </td>
 
                   </tr>
                </tbody>
             </div>
 
          </div>
       </div>
    </div>
 </div>
 
 
 <ng-template #content let-modal>
    <div class="modal-header">
       <strong class="modal-title" id="modal-basic-title">New Workstation Tax Run</strong>
       <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
       <form (ngSubmit)="onSubmit()" #actorForm="ngForm">
          <div class="mb-2">
             <label for="desc1">Description*</label>
             <input id="desc1" class="form-control form-control-sm" name="desc1" [(ngModel)]="model.desc1" required
                #desc1="ngModel" />
             <small [hidden]="desc1.valid || desc1.pristine" class="text-danger">
                *desc1 is required
             </small>
          </div>
 
         
          <div class="d-grid">
             <button type="submit" class="btn btn-sm btn-dark" [disabled]="!actorForm.form.valid">Save</button>
          </div>
       </form>
    </div>
 
 </ng-template>