.floating-wrapper {
    position: fixed;
    top: 10px;
    left: 0;

    z-index: 10;
    width: 100%;
    height: auto;
    z-index: 1027;
}

.floating-wrapper .floating-content {
    margin: 0 auto; 
    width: 900px;

    background:#fff;
}

 