<app-header-menu></app-header-menu>
@if(currentTable != 0){
<div class="floating-wrapper">
   <div class="floating-content shadow border  p-2 rounded">

      <div class="row mb-3">
         <div class="col-3">
            <h5>Table <span>{{item.tableName}}</span></h5>
         </div>
         <div class="col-6">
            <div class="text-center"><small><em>Double Click for go to detail</em></small></div>
         </div>
         <div class="col-3 text-end">
            <button class="btn btn-sm btn-light" (click)="onRemoveCurrentTable()"><i class="bi bi-x-lg"></i>
               CLOSE</button>
         </div>
      </div>
      @if(item.detail){
      <div>

         <ng-container *ngIf="item.detail.id; else noDetail">
            <div class="row">
               <div class="col-3 lh-1">
                  <strong>Bill :</strong> {{item.cardId}}
               </div>
               <div class="col-3 lh-1">
                  <strong>Start Time :</strong> {{item.detail.startDate | date : 'HH:mm'}}
               </div>
               <div class="col-3 lh-1">
                  <strong>Cover / Capacity </strong> :{{item.cover}} / {{item.capacity}}
               </div>
               <div class="col-3 lh-1">
                  <strong>Status </strong> :
                  <span [class]="item.detail.color"><i class="bi bi-square-fill"></i></span>
                  &nbsp;
                  <span>{{item.tableMapStatus}}</span>
               </div>
            </div>
            <div class="row mt-2">
               <div class="col-3 lh-1">
                  <strong>Total </strong> : {{item.cart.total | number}}
               </div>
               <div class="col-3 lh-1">
                  <strong>Item </strong> : {{item.cart.qty}}
               </div>
               <div class="col-3 lh-1">
                  <strong>User</strong> : {{item.detail.employee}}
               </div>
               <div class="col-3 lh-1"></div>
            </div>
         </ng-container>
         <ng-template #noDetail>
            <div>
               <strong>Capacity :</strong> <span>{{item.capacity}}</span>
            </div>
         </ng-template>
      </div>

      }
   </div>
</div>
}

<div [ngClass]="{'container': screenWidth >= 1200, 'container-fluid': screenWidth < 1200}">
   <div class="row g-3">

      <div class="col-9 ">

         <div class="row g-1 mb-2">

            <div class="col-6 col-xl-7">
               <div class="bg-light p-1  rounded border  d-inline-block">
                  <span *ngFor="let x of items; let i = index">
                     <button type="button" class="btn px-3 py-1" (click)="onMap(i)" [class]="{
                           'border': current == i,
                            'btn-primary': current == i,
                            'shadow-sm': current == i,
                           }"> {{x.desc1}}
                        <span *ngIf="x.checking > 0  " class="badge text-bg-danger rounded-circle">
                           {{x.checking}}
                        </span>
                     </button>
                  </span>

               </div>

            </div>

            <div class="col-6 col-xl-5 text-end">
               <a class="btn  btn-light  me-2"
                  (click)="modal(modalSwitchOutlet); logService.logAction('modalSwitchOutlet')"><i
                     class="bi bi-diagram-3"></i> Switch Outlet</a>

               <a href="javascript:;" class="btn border me-1" [class]="{'btn-dark' : activeView == 'map'}"
                  (click)="selectActiveView('map')"><i class="bi bi-grid"></i>
                  Map</a>

               <a href="javascript:;" class="btn  border" [class]="{'btn-dark' : activeView == 'table'}"
                  (click)="selectActiveView('table')"><i class="bi bi-list-ul"></i>
                  List</a>
            </div>

         </div>

         @if(items.length > 0){
         @if(activeView == 'map'){
         <div class="order-panel " style="height: 75vh; zoom:{{zoom}}% ">
            <div class="table-map "
               style="background: url('{{public}}floor/{{items[current]?.image}}') left top no-repeat;">
               <div class="floorPlan " *ngFor="let x of items[current]?.maps ; let i = index">

                  <div class="items   {{ x.active == 1 ? 'border border-dark border-3 shadow' : '' }} {{x.bgn}} "
                     [style.transform]="'translate(' + x.posX + 'px,' + x.posY + 'px)'" [style.width.px]="x.width"
                     [style.height.px]="x.height" [style.backgroundImage]="'url('+public+'icon/'+x.icon+')'"
                     style="background-size: cover;" (click)="open(modalCheckIn, x, current, i)">
                     <div class="text-end p-1" style=" cursor: pointer;">
                        <div class="table-pos-label">
                           <strong class="table-name">
                              <span *ngIf="x.overdueMinute > 0 "> <i class="bi bi-exclamation-diamond"></i> </span>
                              {{x.tableName}} </strong>
                        </div>

                     </div>
                  </div>

               </div>
            </div>


         </div>
         }
         @else {
         <div class="order-panel " style="height: 75vh; overflow-y: auto;">
            <table class="table table-sm table-striped">
               <thead class="sticky-top">
                  <tr>
                     <th>#</th>
                     <th>Table Name</th>
                     <th>Bill</th>
                     <th class="text-center">Capacity</th>
                     <th class="text-center">Cover</th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
                  <tr *ngFor="let x of items[current]['maps']; let i = index">
                     <td>{{i+1}}</td>
                     <td>{{x.tableName}}</td>
                     <td>{{x.cardId}}</td>
                     <td class="text-center">{{x.capacity}}</td>
                     <td class="text-center">{{x.cover > 0 ? x.cover : ''}}</td>
                     <td class="text-center">
                        <div class="d-grid">
                           @if(x.cover <= 0 || x.cover=='' ){ <button type="button"
                              class="btn btn-sm border btn-light shadow-sm rounded-pill"
                              (click)="open(modalCheckIn, x,current,i)">
                              NEW ORDER</button>
                              }
                              @else{
                              <a class="btn btn-sm rounded-pill table-{{x.tableMapStatusId}}"
                                 (click)="(x.cover <= 0 || x.cover=='' ) ? open(modalCheckIn, x,current,i) : gotTo(x) ">
                                 {{x.tableMapStatus}}</a>
                              }
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
         }
         }

         <div class="d-flex flex-row-reverse ">
            <div class="p-2" style="width: 200px;">
               <div class="row g-1">
                  <div class="col-5 text-end">
                     <small> Map Size % : </small>
                  </div>
                  <div class="col-5">
                     <input type="number" class="form-control form-control-sm " (change)="onZoomChange()"
                        [(ngModel)]="zoom" />
                  </div>

               </div>
            </div>
            <div class="p-2" *ngFor="let x of statusMap">
               <small><i [ngClass]="x.color" class="bi bi-square-fill"></i> {{x.name}} </small>
            </div>


         </div>
      </div>

      <div class="col-3 ">
         <div class="row g-1">
            <div class="col-12 mb-2">
               <div *ngIf="dataDailyStart['closeDateWarning'] < 0"
                  class="bg-danger text-white p-1 rounded mb-2 text-center">
                  <strong><small> Warning Daily Close : +{{ getHourMinute(dataDailyStart['closeDateWarning']) }}</small></strong>

               </div>

               <div class="alert alert-{{dataDailyStart['closeDateWarning'] < 0 ? 'danger' : 'primary'}} text-center">
                  <strong>
                     <span *ngIf="lock==true"><i class="bi bi-lock-fill"></i></span>
                     <span *ngIf="lock!=true"> <i class="bi bi-clock"></i></span>

                     {{ currentTime | date: 'medium' }}</strong>
               </div>


               <div class="order-panel ">
                  <div class="info-panel">
                     <div class="mb-2 ">
                        <div>
                           <label class="me-2">Daily Start:</label>
                        </div>
                        <div>{{dataDailyStart['startDate'] | date:'medium'}}</div>
                     </div>
                     <div class="mb-2 ">
                        <div>
                           <label class="me-2">Schedule:</label>
                        </div>
                        <div>{{dataDailyStart['name']}}</div>
                     </div>
                     <div class="mb-2 ">
                        <div>
                           <label  *ngIf="dataDailyStart['closeDateWarning'] > 0" class="me-2">Will Close at:</label>
                           <label   *ngIf="dataDailyStart['closeDateWarning'] < 0" class="text-danger me-2">Warning Daily Close:</label>
                        </div>
                        <div>{{dataDailyStart['closeDateLimit'] | date:'medium'}}</div>
                     </div>
                      
                     <div class="mb-2 ">
                        <div>
                           <label class="me-2">User:</label>
                        </div>
                        <div>{{getTokenJson['name']}}</div>
                     </div>
                     <div class="mb-2 ">
                        <div>
                           <label class="me-2">Level:</label>
                        </div>
                        <div>{{getTokenJson['authlevel']}}</div>
                     </div>
                     <div class="mb-2 ">
                        <div>
                           <label class="me-2">Terminal ID:</label>
                        </div>
                        <div>{{terminalId}}</div>
                     </div>
                  </div>
               </div>
            </div>

            <div class="col-12">
               <!-- https://www.npmjs.com/package/node-thermal-printer -->

               <div class="d-grid">
                  <a class="btn btn-lg btn-primary py-3" (click)="logOff();">
                     <i class="bi bi-power"></i> LOG OFF
                  </a>
               </div>
            </div>
         </div>
      </div>


   </div>
</div>



<ng-template #modalSwitchOutlet let-modal>
   <div class="modal-header">
      <strong>Switch Outlet</strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>
   <div class="modal-body">

      <div class="m-2 d-grid" *ngFor="let x of outletSelect; let i = index">
         <button type="button" (click)="fnSelectOutlet(i);" class="btn btn-lg btn-light"
            [disabled]="x.id == this.getConfigJson['outlet']['id']">{{x.name}}</button>
      </div>
   </div>

</ng-template>

<ng-template #modalCheckIn let-modal>
   <div class="modal-header">
      <strong>New Order</strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>
   <div class="modal-body">
      <form (ngSubmit)="onSubmit()" #actorForm="ngForm">
         <div class="mb-3">
            <div class="mb-1"><label>Table</label></div>
            <div class="form-control form-control-lg bg-light">{{tableSelect.tableName}}</div>

         </div>

         <div class="mb-3">
            <div class="mb-1"><label for="cover">Please Input No. of Cover</label></div>

            <input type="number" class="form-control form-control-lg" id="cover" required [(ngModel)]="model.cover"
               name="cover" #cover="ngModel">
            <div [hidden]="cover.valid || cover.pristine" class="text-danger">
               Cover is required
            </div>
         </div>

         <div class="mb-3">
            <app-key-number (dataEmitted)="handleData($event)"></app-key-number>
         </div>

         <div class="row g-1">
            <div class="col-6 d-grid">
               <button type="button" class="btn btn-warning btn-lg" (click)="model.cover=0">CE</button>
            </div>
            <div class="col-6  d-grid">
               <button type="submit" class="btn btn-lg btn-dark"
                  [disabled]="!actorForm.form.valid || model.cover < 1 ">Order Now</button>
            </div>
         </div>




      </form>
   </div>

</ng-template>