<div class="container-fluid ">
    <div class="row g-0">
        <div class="col-12">
            <div class="wrapper border bg-white"> 

                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Menu</th>
                            <th *ngFor="let a of subgroup" >Sub Group {{a}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let x of items; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{x.menu}}</td>

                            <td *ngFor="let a of subgroup">
                                @if(a == x.subgroup){
                                <h5> <i class="bi bi-check-square-fill"></i> </h5>
                                }
                                @else{
                                <a (click)="updateGroup(x,a,i)">
                                    <h5> <i class="bi bi-square"></i> </h5>
                                </a>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>