<div class="order-panel" >
    <table class="table table-sm">
        <thead class="sticky-top">
            <tr>
                <th>#</th>
                <th>Printer</th>
                <th *ngIf="!cartId">ID</th>
                <th>SO</th>
                <th>Menu</th>
                <th>Status</th>
                <th>Input Time</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let x of items; let i = index">
                <td>{{i+1}}</td>
                <td>{{x.printer}} <span *ngIf="x.rushPrinting" class="badge text-bg-danger ms-2">Rush Print</span> </td>
                <td *ngIf="!cartId">{{x.cartId}}</td>
                <td>{{x.so}}</td>
                <td (click)="openDetailModal(x, contentDetail); $event.preventDefault()">
                    <a href="javascript:void(0)"> {{x.menu}} <i class="bi bi-info-circle"></i> </a>
                </td>
                <td>
                    <span class="badge " [ngClass]="{
                            'text-bg-warning': x.status ==  0,
                            'text-bg-info': x.status == 1,
                            'text-bg-success': x.status == 2,
                            'text-bg-danger': x.status == -1
                            }">{{ x.statusName }}</span>
                </td>

                <td>{{x.inputDate | date:'HH:mm'}}</td>
                <td><button type="button" (click)="fnReprint(x);" class="btn btn-sm btn-outline-dark py-0"><i
                            class="bi bi-printer-fill"></i> Reprint</button></td>
            </tr>
        </tbody>
    </table>
</div>




<ng-template #contentDetail let-modal>
    <div class="modal-header">
        <strong class="modal-title">Detail Menu</strong>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <table class="table  table-sm mb-3">
            <tbody>
                <tr>
                    <td>Menu</td>
                    <th scope="row">{{item.menu}}</th>
                </tr>
                <tr>
                    <td>Modifier</td>
                    <th scope="row">{{itemDetail.modifier}}</th>
                </tr>
                <tr>
                    <td>Printer</td>
                    <th scope="row">{{item.printer}}
                        <span *ngIf="item.rushPrinting" class="badge text-bg-danger ms-2">Rush Print</span>
                    </th>
                </tr>
                <tr>
                    <td>Status</td>
                    <th scope="row">{{item.statusName}}</th>
                </tr>
                <tr>
                    <td>SO</td>
                    <th scope="row">{{item.so}}</th>
                </tr>

                <tr>
                    <td>Input Time</td>
                    <th scope="row">{{item.inputDate | date:'HH:mm'}}</th>
                </tr>
                <tr>
                    <td>Console Error</td>
                    <td>{{item.consoleError}}</td>
                </tr>

            </tbody>
        </table>

        <div class="p-1 border bg-light">
            <pre class="font-monospace" [innerHTML]="template"></pre>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" (click)="fnRushPrint(item);" class="btn btn-warning"><i class="bi bi-printer"></i>
            Rush Print</button>

        <button type="button" (click)="fnReprint(item);" class="btn btn-primary"><i class="bi bi-printer-fill"></i>
            Reprint</button>

        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>