<div class="modal-header">
    <h4 class="modal-title">MENU DETAIL</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
     
    <div class="row mb-3">
        <div class="col-12 col-md-7">

            <table class="table table-sm">
                <tbody>
                    <tr>
                        <td>PLU</td>
                        <td>
                            <input type="text" class="form-control form-control-sm" [(ngModel)]="item.plu">
                        </td>
                    </tr>

                    <tr>
                        <td>Name</td>
                        <td>
                            <input type="text" class="form-control form-control-sm" [(ngModel)]="item.name">
                        </td>
                    </tr>
 
 
                   
                    <tr>
                        <td>Menu Set</td>
                        <td>
                            <select class="form-control form-control-sm" [(ngModel)]="item.menuSet">
                                <option [value]="''">NO</option>
                                <option [value]="'FIXED'">FIXED</option>
                                <option [value]="'SELECT'">SELECT</option>
                            </select>
                        </td>
                    </tr>

                    <tr *ngIf="item.menuSet == 'SELECT' ">
                        <td>Menu Set Min Qty</td>
                        <td>
                           <input type="text" class="form-control form-control-sm" [(ngModel)]="item.menuSetMinQty">
                        </td>
                    </tr>
                     
                    
                </tbody>
            </table>

        </div>
        
    </div>
    <div class="row" *ngIf="item.menuSet != ''">
        <div class="col-12">
            SET MENU : <strong>{{item.menuSet}}</strong>
        </div>

        <div class="col-12">
          
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                         <th>Name</th>
                         <th *ngIf="item.menuSet == 'SELECT'">Min Qty</th>
                         <th *ngIf="item.menuSet == 'SELECT'">Max Qty</th>
                         <th></th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let a of menuSet; let i = index">
                        <td>{{i+1}}</td>
                        <td>
                            <select class="form-control form-control-sm" [(ngModel)]="a.detailMenuId">
                                <option [value]="x.id" *ngFor="let x of selectMenu" [hidden]="x.id == a.detailMenuId">
                                     {{x.name}}
                                </option>
                            </select>
                        </td>
                        <td width="100" *ngIf="item.menuSet == 'SELECT'">
                            <input type="number"  class="form-control form-control-sm" [(ngModel)]="a.minQty">
                        </td>
                        <td width="100" *ngIf="item.menuSet == 'SELECT'">
                            <input type="number"   class="form-control form-control-sm" [(ngModel)]="a.maxQty">
                        </td>
                        
                        <td width="80">
                            <button type="button" class="btn btn-sm btn-danger" (click)="fnRemoveMenuSet(i)">
                                <i class="bi bi-trash3-fill"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td class="text-end" colspan="4">
                            <button class="btn btn-sm btn-dark" (click)="addMenuSet()">Add Menu</button>
                        </td>
                         
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.close('Close click')">Close</button>

    <button type="button" class="btn btn-dark" (click)="onSubmit();">Submit</button>
</div>