<div class="row">
   <div class="col-12 ">


      <div class="header py-2">
         <div class="row">
            <div class="col-3">
               <strong>EMPLOYEE</strong> <span class="btn btn-sm me-2"> </span>
            </div>
            <div class="col-9 text-end">

               @if(disabled==false){
               <button type="button" class="btn btn-sm btn-light border me-2" (click)="cancel()">Close</button>
               <button type="button" class="btn btn-sm btn-light border me-2" (click)="onUpdate();">Update</button>

               <button type="button" class="btn btn-sm btn-dark border me-2" (click)="open(content);">Create</button>
               <button type="button" class="btn btn-sm btn-danger border me-2" (click)="onDelete();">Delete</button>

               }
               @else {
               <button type="button" class="btn btn-sm btn-light border me-2"
                  (click)="disabled= false">Editable</button>


               <!-- <div ngbDropdown class="d-inline-block " container="body">
                  <button type="button" class="btn btn-sm btn-light border me-2" id="dropdownBasic1" ngbDropdownToggle>
                     Filter
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                     <div class="px-3">
                        <div class="mb-2">
                           <label><small>Select Employee Dept</small></label>
                           <select class="form-control form-control-sm  me-2" [(ngModel)]="filterDept">
                              <option [value]="''"> - All -</option>
                              <option *ngFor="let a of selectDept" [value]="a.empdept">{{a.desc1}}</option>
                           </select>

                        </div>

                        <div class="mb-2">
                           <label><small>Select authlevel</small></label>
                           <select class="form-control form-control-sm  me-2" [(ngModel)]="filterAuthLevel">
                              <option [value]="''"> - All -</option>
                              <option *ngFor="let a of selectAuthLevel" [value]="a.authlevel">{{a.desc1}}</option>
                           </select>

                        </div>

                        <div class="mb-2">
                           <label><small>Select selectOrdLevel</small></label>
                           <select class="form-control form-control-sm  me-2" [(ngModel)]="filterOrdLevel">
                              <option [value]="''"> - All -</option>
                              <option *ngFor="let a of selectOrdLevel" [value]="a.ordlevel">{{a.desc1}}</option>
                           </select>

                        </div>
                     </div>



                     <button ngbDropdownItem (click)="httpGet();">Filter</button>
                  </div>
               </div> -->


               }

               <span class="mx-1" *ngIf="loading">
                  <img src="./gif/Pulse@1x-1.0s-200px-200px.gif" height="30">
               </span>

            </div>
         </div>
      </div>
      <div class="mainContent border">
         <div class="">

            <table class="table table-sm table-editable table-hover" style="width: max-content;">

               <thead class="sticky-top ">
                  <tr>

                     <th *ngIf="disabled==false">
                        <a href="javascript:;" (click)="checkAll();">
                           @if(checkboxAll == 1){
                           <i class="bi bi-check-square"></i>
                           }@else {
                           <i class="bi bi-square"></i>
                           }

                        </a>
                     </th>
                     <th>#</th>
                     <th>Auth level</th>
                     <th>Name</th>
                     <th>Username</th>
                     <th *ngIf="!disabled">Password</th>
                     <th>Email</th>
                     <th>Phone</th>

                     <th>Address</th>
                     <th>Birthday</th>
                     <th>Sex</th>


                  </tr>
               </thead>
               <tbody>
                  <tr *ngFor="let x of items; let i = index">

                     <td *ngIf="disabled==false">
                        <a href="javascript:;" (click)=" x.checkbox == 0 ? x.checkbox = 1 : x.checkbox = 0">
                           <i *ngIf="x.checkbox == 0" class="bi bi-square"></i>

                           <i *ngIf="x.checkbox == 1" class="bi bi-check-square"></i>
                        </a>
                     </td>
                     <td>{{i+1}}</td>
                     <td><select class="form-control form-control-sm" [(ngModel)]="x.authlevelId" [disabled]="disabled">
                           <option [value]="a.id" *ngFor="let a of selectAuthLevel">{{a.name}}</option>
                        </select>
                     </td>


                     <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.name"
                           [disabled]="disabled"> </td>

                     <td>
                        <div class="p-1 font-monospace">{{x.username}} </div>
                     </td>
                     <td *ngIf="!disabled">
                        <button class="btn btn-sm btn-secondary py-1" (click)="modalChangePassword(contentChangePassword, x)">Change Password</button>
                     </td>



                     <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.email"
                           [disabled]="disabled"> </td>
                     <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.tel"
                           [disabled]="disabled"> </td>


                     <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.address"
                           [disabled]="disabled"></td>
                     <td><input type="date" class="form-control form-control-sm" [(ngModel)]="x.birthday"
                           [disabled]="disabled">
                     </td>
                     <td>
                        <select class="form-control form-control-sm" [(ngModel)]="x.sex" [disabled]="disabled">
                           <option value="F">Female</option>
                           <option value="M">Male</option>
                        </select>

                     </td>




                  </tr>
               </tbody>

            </table>

         </div>
      </div>
   </div>
</div>


<ng-template #content let-modal>
   <div class="modal-header">
      <strong class="modal-title" id="modal-basic-title">Add Employee</strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>
   <div class="modal-body">
      <form (ngSubmit)="onSubmit()" #actorForm="ngForm">
         <div class="mb-3">
            <label for="name">Name*</label>
            <input id="name" class="form-control form-control-sm" name="name" [(ngModel)]="model.name" required
               #name="ngModel" />
            <small [hidden]="name.valid || name.pristine" class="text-danger">
               *Name is required
            </small>
         </div>

         <div class="mb-3">
            <label for="name">Username *</label>
            <input id="login" class="form-control form-control-sm" name="username" [(ngModel)]="model.username" required
               #username="ngModel" />
            <small [hidden]="username.valid || username.pristine" class="text-danger">
               *username is required
            </small>
         </div>
         <div class="mb-3">
            <label for="passwd">Password*</label>
            <input type="password" id="passwd" class="form-control form-control-sm" name="passwd"
               [(ngModel)]="model.passwd" required #passwd="ngModel" />
            <small [hidden]="passwd.valid || passwd.pristine" class="text-danger">
               *password is required
            </small>
         </div>

         <div class="mb-3">
            <label for="passwd2">Password Confirm*</label>
            <input type="password" id="passwd2" class="form-control form-control-sm" name="passwd2"
               [(ngModel)]="model.passwd2" required #passwd2="ngModel" />
            <small [hidden]="passwd2.valid || passwd2.pristine" class="text-danger">
               *Password Confirm is required
            </small>
         </div>



         <div class="mb-3">
            <label for="authlevel">Auth Level*</label>
            <select id="authlevel" class="form-control form-control-sm" name="authlevel" [(ngModel)]="model.authlevelId"
               required>
               <option *ngFor="let x of selectAuthLevel" [value]="x.id">{{x.name}}</option>
            </select>
            <small [hidden]="passwd2.valid || passwd2.pristine" class="text-danger">
               *Auth Level is required
            </small>
         </div>

         <div class="alert alert-danger" *ngIf="warning != '' ">
            {{warning}}
         </div>

         <div class="alert alert-warning" *ngIf="(model.passwd != model.passwd2)">
            Password didnt match
         </div>
         <div class="d-grid">

            <button type="submit" class="btn btn-dark"
               [disabled]="!actorForm.form.valid || (model.passwd != model.passwd2) ">Save</button>
         </div>
      </form>
   </div>

</ng-template>


<ng-template #contentChangePassword let-modal>
   <div class="modal-header">
      <strong class="modal-title" id="modal-basic-title">Change Password</strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>
   <div class="modal-body">
      <form (ngSubmit)="onSubmitChangePassword()" #actorForm="ngForm">
       

         <div class="mb-3">
            <label for="name">Username</label>
            <div  class="form-control form-control-sm">
               {{item.username}}
            </div>
         </div>
         <div class="mb-3">
            <label for="passwd">Password*</label>
            <input type="password" id="passwd" class="form-control form-control-sm" name="passwd"
               [(ngModel)]="changePassword.passwd" required #passwd="ngModel" />
            <small [hidden]="passwd.valid || passwd.pristine" class="text-danger">
               *password is required
            </small>
         </div>

         <div class="mb-3">
            <label for="passwd2">Password Confirm*</label>
            <input type="password" id="passwd2" class="form-control form-control-sm" name="passwd2"
               [(ngModel)]="changePassword.passwd2" required #passwd2="ngModel" />
            <small [hidden]="passwd2.valid || passwd2.pristine" class="text-danger">
               *Password Confirm is required
            </small>
         </div>


         <div class="alert alert-danger" *ngIf="warning != '' ">
            {{warning}}
         </div>

         <div class="alert alert-warning" *ngIf="(model.passwd != model.passwd2)">
            Password didnt match
         </div>

         <div class="d-grid"> 
            <button type="submit" class="btn btn-dark"
               [disabled]="!actorForm.form.valid || (model.passwd != model.passwd2) ">Save</button>
         </div>
      </form>
   </div>

</ng-template>