<app-header-menu></app-header-menu>

<div [ngClass]="{'container': screenWidth >= 1200, 'container-fluid': screenWidth < 1200}">
    <div class="order-panel" style="height: 85vh; overflow-y: auto; padding-top: 0px;">


        <div class="row">
            <div class="col-12 border-bottom">
                <!-- bisa buatkan form startdate dan endDate untuk filter tanggal -->
                <h5 class="mt-2 mb-2">{{lang.get('Closed Transaction')}}</h5>
                <form class="row g-2">
                    <div class="col-auto">
                        <label for="startDate" class="col-form-label">{{lang.get('Start Date')}}</label>
                    </div>
                    <div class="col-auto">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" id="startDate" [(ngModel)]="startDate"
                                name="startDate" ngbDatepicker #d="ngbDatepicker" [attr.placeholder]="lang.get('yyyy-mm-dd')">
                            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                <i class="bi bi-calendar-date"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-auto">
                        <label for="endDate" class="col-form-label">{{lang.get('End Date')}}</label>
                    </div>
                    <div class="col-auto">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" id="endDate" [(ngModel)]="endDate" name="endDate"
                                ngbDatepicker #d2="ngbDatepicker" [minDate]="startDate" [attr.placeholder]="lang.get('yyyy-mm-dd')">
                            <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
                                <i class="bi bi-calendar-date"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-sm btn-primary mb-3" (click)="loadItems()">{{lang.get('Filter')}}</button>
                    </div>
                    <div class="col-auto">
                          <div class="text-center" *ngIf="loading">{{lang.get('Loading')}}...</div>
                    </div>
                </form>
            </div>
            <div class="col-12">

                <table class="table  table-xs">
                    <thead class="sticky-top">
                        <tr>
                            <th>{{lang.get('ID')}}</th>
                            <th>{{lang.get('Date')}}</th>
                            <th>{{lang.get('Start Time')}}</th>
                            <th>{{lang.get('End Time')}}</th>
                            <th>{{lang.get('Table Name')}}</th>
                            <th>{{lang.get('Payment')}}</th>
                            <th class="text-end">{{lang.get('Cover')}}</th> 
                            <th class="text-end">{{lang.get('Grand Total')}}</th>
                   
                            <th>{{lang.get('Receipt')}}</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let x of items">
                            <td>
                                <a href="javascript:;" [routerLink]="['/receipt']"
                                    [queryParams]="{id:x.id, return:'transaction'}">{{x.id}}</a>
                            </td>
                            <td>{{x.startDate | date :'yyyy.MM.dd'}}</td>
                            <td>{{x.startDate | date :'h:mm a'}}</td>
                            <td>{{x.endDate | date :'h:mm a'}}</td>

                            <td>{{x.tableName }}</td>
                            <td>
                                <span *ngFor="let a of x.paymentType; let i = index">{{ i>1 ? ", ":" "}} {{a.name}}
                                </span>
                            </td>
                            <td class="text-end">{{x.cover}}</td> 
                            <td class="text-end">{{x.grandTotal | number}}</td>
                           
                           
                            <td>
                                <button *ngIf="x.grandTotal > 0" type="button" class="btn btn-sm btn-outline-dark  py-0"
                                    [routerLink]="['/receipt']"  [queryParams]="{id:x.id, return:'transaction'}" >
                                    <i class="bi bi-printer"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
              
            </div>
        </div>
    </div>
</div>