<app-header-menu></app-header-menu>

<div [ngClass]="{'container': screenWidth >= 1200, 'container-fluid': screenWidth < 1200}">
    <div class="order-panel" style="height: 85vh; overflow-y: auto; padding-top: 0px;">


        <div class="row">
            <div class="col-12">

                <table class="table  table-xs">
                    <thead class="sticky-top">
                        <tr>
                            <th>ID</th>
                            <th>Date</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Table Name</th>
                            <th>Payment</th>
                            <th class="text-end">Cover</th>
                            <th class="text-end">total Item</th>
                            <th class="text-end">grand Total</th>
                            <th>User</th>
                            <th>Status</th>
                            <th>Bill</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let x of items">
                            <td>
                                <a href="javascript:;" [routerLink]="['/transaction/detail']"
                                    [queryParams]="{id:x.id}">{{x.id}}</a>
                            </td>
                            <td>{{x.startDate | date :'yyyy.MM.dd'}}</td>
                            <td>{{x.startDate | date :'h:mm a'}}</td>
                            <td>{{x.endDate | date :'h:mm a'}}</td>
                            
                            <td>{{x.tableName }}</td>
                            <td>
                                <span *ngFor="let a of x.paymentType; let i = index">{{ i>1 ? ", ":" "}} {{a.name}}
                                </span>
                            </td>
                            <td class="text-end">{{x.cover}}</td>
                            <td class="text-end">{{x.totalItem | number}}</td>
                            <td class="text-end">{{x.grandTotal | number}}</td>
                            <td>USER TEST</td>
                            <td>{{x.status}}</td>
                            <td>
                                <button *ngIf="x.grandTotal > 0" type="button" class="btn btn-sm btn-outline-dark"
                                    (click)="openComponent(x.id)">
                                    <i class="bi bi-printer"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>