* {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.gabarito {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-sans {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
strong{
    font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

div,
p,
label {
  font-size: 0.9rem;
}

label {
  color: #333 !important;
}


body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  /* Prevent double scroll */
}

.wrapper {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: #495057;
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: 0rem 1rem;
}




.mainNavigator {
  border-right: 1px solid #ccc;
  height: 100vh;
  overflow-x: auto;
}

.mainContent {
  height: 93vh;
  overflow: auto;
}




.table tr td{
    font-size: 0.8rem; 
  min-height: auto !important;
  padding: 3px 5px !important;
  margin: 0px;
}

.table-editable th {
  border-bottom: 3px solid #468B97;
  letter-spacing: 0.45px;
  text-transform: uppercase;
  font-size: 0.7rem;
}

.table-editable input[type='text'],
.table-editable input[type='email'],
.table-editable select,
.table-editable input[type='number'] {

  font-size: 0.8rem;
  border-radius: 0px;
  background: #fafafa;
  border: none;
  min-height: auto !important;
  padding: 3px 5px !important;
  margin: 0px;
}

.table-editable input[type='number'] {
  text-align: right;
}

.table-editable input[type='text']:hover,
.table-editable input[type='email']:hover {}

.table-editable tbody td {
  font-size: 0.8rem;
  margin: 0;
  padding: 0px 3px;
  vertical-align: middle;
}

.table thead th {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #333;

  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



.container-fix {
  display: flex;
  min-width: 1110px;
  /* 850 + 200 */
  overflow-x: auto;
}

.left {
  width: 810px;
  overflow-y: auto;
  flex-shrink: 0;
  box-sizing: border-box;
}

.right {
  min-width: 300px;
  overflow-y: auto;
  flex-shrink: 0;
  box-sizing: border-box;
}

.content-block {
  height: 300px;
  margin-bottom: 20px;
  background: linear-gradient(to bottom, #fff, #ccc);
}

.table .btn-sm {
  font-size: 0.7rem;
  padding: 2px 8px;
}

/* @media (max-width: 1180px) {
    .fixed-width-container {
      width: 1180px !important;
      min-width: 1180px !important;
      background-color: #00f;
    }
  } */

.tr-disable td {
  opacity: 0.5;
}

.table-report tr th {
  border-bottom: 3px solid #0C356A;
}

.table-report tr td {
  font-size: 0.8rem;
}

.table-report a {
  color: #0174BE;
}

