<div class="container-fluid">
   <div class="row">
      <!-- <div class="col-6"> 
         <div class="wrapper">
            <div class="py-5">
               <app-bill-table [data]="data">Loading...</app-bill-table>
            </div>
         </div>
      </div> -->

      <div class="col-6">

         <div style="max-height: 85vh; overflow-y: auto;">
            <div *ngFor="let a of groups; let i = index">
               <pre class="font-monospace" [innerHTML]="htmlBill[i]"></pre>
               <hr *ngIf="groups.length > 1">
            </div>

         </div>


         <!-- <div *ngFor="let a of groups; let i = index">
               <textarea class="form-control form-control-sm font-monospace"  rows="20" [(ngModel)]="htmlBill[i]" ></textarea>
               <hr *ngIf="groups.length > 1">
            </div> -->
      </div>
      <div class="col-6 bg-main rounded">

         <div class="p-3 text-end">
            <button type="button" class="btn-close btn-lg " aria-label="Close"
               (click)="activeModal.dismiss('Cross click')"></button>
         </div>

         <div style="min-height: 80vh;" class="align-content-center">


            @if(close == 0){

            <div class="text-center d-grid mx-5 mb-3">
               <button type="button" class="btn btn-lg btn-success py-3" (click)="payment()">PAYMENT</button>
            </div>

            <div class="text-center d-grid mx-5 mb-3">
               <button type="button" class="btn btn-lg  btn-warning py-3"  [disabled]="printLoading" (click)="splitBill()">SPLIT BILL</button>
            </div>

            <div class="text-center d-grid mx-5 mb-3">
               <button type="button" class="btn btn-lg   btn-primary py-3"  [disabled]="printLoading" (click)="fnPrint()"> PRINT BILL</button>
            </div>

            <div class="mb-3 alert alert-warning" [ngClass]="{'alert-danger': printNoteError}" *ngIf="printNote != ''">
               {{printNote}}
            </div>

            }
            @if(close == 1) {

            <h4 class="mb-5 text-center">Total Copied : {{cartCopyBill.length}}</h4>
            <div class="text-center" *ngIf="isPrinting == true">
               Checking <img src="./gif/ellipsis.gif" width="50">
            </div>
            <div class="text-center d-grid mx-5 mb-3">
               <button type="button" [disabled]="isPrinting" (click)="printCopyBill();"
                  class="btn btn-lg bg-white py-3 rounded shadow-sm border">
                  <i class="bi bi-printer"></i> PRINT
               </button>
            </div>
            }


            <div class="alert alert-warning" *ngIf="printResp != ''">
               {{printResp}}
            </div>

            <div class="text-center mt-5">
               <a target="_blank" href="{{api}}bill/printing?id={{id}}&api=true"><small>API Variable</small></a>
               <small class="mx-1">丨</small>
               <a target="_blank" href="{{api}}bill/printing?id={{id}}"><small>Template</small> </a>
               <div class="lh-1">
                  <small style="font-size: 0.7rem;"> Template format using *.hbs <a
                        href="https://handlebarsjs.com/guide/#what-is-handlebars" target="_blank">Documantation</a> <br>
                     path : public/template/bill.hbs</small>
               </div>

            </div>
         </div>
      </div>
   </div>
</div>