<div class="row">
    <div class="col-12 ">


        <div class="header py-2">
            <div class="row">
                <div class="col-4">
                    <strong>MODIFIER LIST</strong>
                    <span class="mx-1" *ngIf="loading">
                        <img src="./gif/Pulse@1x-1.0s-200px-200px.gif" height="30">
                    </span>
                </div>
                <div class="col-8 text-end">
                    @if(disabled==false){
                    <button type="button" class="btn btn-sm btn-light border me-2" (click)="cancel()">Close</button>
                    <button type="button" class="btn btn-sm btn-light border me-2" (click)="onUpdate();">Update</button>

                    <button type="button" class="btn btn-sm btn-dark border me-2"
                        (click)="open(content);">Create</button>
                    <button type="button" class="btn btn-sm btn-danger border me-2"
                        (click)="onDelete();">Delete</button>

                    }
                    @else {
                    <button type="button" class="btn btn-sm btn-light border me-2"
                        (click)="disabled= false">Editable</button>

                    }

                </div>
            </div>

        </div>
        <div class="mainContent border">
            <div class="">

                <div class="table table-sm table-editable table-hover" style="width: max-content;">
                    <thead class="sticky-top ">
                        <tr>

                            <th *ngIf="disabled==false">
                                <a href="javascript:;" (click)="checkAll();">
                                    @if(checkboxAll == 1){
                                    <i class="bi bi-check-square"></i>
                                    }@else {
                                    <i class="bi bi-square"></i>
                                    }
                                </a>
                            </th>
                            <th>#</th>
                            <th>descl</th>
                            <th>descm</th>
                            <th>descs</th>

                            <th>Modifier List</th>
                            <th>Modifier Group</th>

                            <th>price1</th>
                            <th>price2</th>
                            <th>price3</th>
                            <th>price4</th>
                            <th>price5</th>

                            <th>printing</th>
                            <th>inputDate</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let x of items; let i = index">

                            <td *ngIf="disabled==false">
                                <a href="javascript:;" (click)=" x.checkbox == 0 ? x.checkbox = 1 : x.checkbox = 0">
                                    <i *ngIf="x.checkbox == 0" class="bi bi-square"></i>
                                    <i *ngIf="x.checkbox == 1" class="bi bi-check-square"></i>
                                </a>
                            </td>
                            <td>{{i+1}}</td>

                            <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.descl"
                                    [disabled]="disabled"> </td>
                            <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.descm"
                                    [disabled]="disabled"> </td>
                            <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.descs"
                                    [disabled]="disabled"> </td>

                            <td>
                                <select class="form-control form-control-sm" [(ngModel)]="x.modifierListId"
                                    [disabled]="disabled">
                                    <option *ngFor="let x of modifierList" [value]="x.id">{{x.name}}</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control form-control-sm" [(ngModel)]="x.modifierGroupId"
                                    [disabled]="disabled">
                                    <option *ngFor="let x of modifierGroup" [value]="x.id">{{x.name}}</option>
                                </select>
                            </td>
                            <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.printing"
                                    [disabled]="disabled"> </td>


                            <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.price1"
                                    [disabled]="disabled"> </td>
                            <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.price2"
                                    [disabled]="disabled"> </td>
                            <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.price3"
                                    [disabled]="disabled"> </td>
                            <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.price4"
                                    [disabled]="disabled"> </td>
                            <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.price5"
                                    [disabled]="disabled"> </td>

                            <td>{{ x.inputDate | date:'medium'}} </td>

                        </tr>
                    </tbody>
                </div>

            </div>
        </div>
    </div>
</div>


<ng-template #content let-modal>
    <div class="modal-header">
        <strong class="modal-title" id="modal-basic-title">New </strong>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="onSubmit()" #actorForm="ngForm">

            <div class="mb-2">
                <label for="modifierListId">Modifier List *</label>
                <select class="form-control form-control-sm" [(ngModel)]="model.modifierListId"    #modifierListId="ngModel" name="modifierListId">
                    <option *ngFor="let x of modifierList" [value]="x.id">{{x.name}}</option>
                </select>
                <small [hidden]="modifierListId.valid || modifierListId.pristine" class="text-danger">
                    *Modifier List Id is required
                </small>
            </div>

            <div class="mb-2">
                <label for="name">Description*</label>
                <input id="name" class="form-control form-control-sm" name="name" [(ngModel)]="model.name" required
                    #name="ngModel" />
                <small [hidden]="name.valid || name.pristine" class="text-danger">
                    *name is required
                </small>
            </div>


            <div class="d-grid">
                <button type="submit" class="btn btn-sm btn-dark" [disabled]="!actorForm.form.valid">Save</button>
            </div>
        </form>
    </div>

</ng-template>