<div class="modal-header">
    <strong class="modal-title">TRANSFER ITEM LOG</strong>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body bg-main rounded-bottom">
    <div class="row">
        <div class="col-6">
            <div class="order-panel">
                <div class="mb-2">   <strong>TRANSFER IN</strong> </div>
             
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Table</th>
                            <th>Menu</th>
                            <th>Total</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let x of transferIn; let i = index">
                            <td>{{i+1}}</td>
                            <td> {{x.tableName}} </td>
                            <td> {{x.menu}} </td>
                            <td> {{x.total}} </td>
                            <td>{{x.inputDate | date:'h:mm a'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-6">
            <div class="order-panel">
                <div class="mb-2">
                    <strong>TRANSFER OUT</strong>
                </div>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Table</th>
                            <th>Menu</th>
                            <th>Total</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let x of transferOut; let i = index">
                            <td>{{i+1}}</td>
                            <td> {{x.tableName}} </td>
                            <td> {{x.menu}} </td>
                            <th> {{x.total}}</th>
                            <td>{{x.inputDate | date:'h:mm a'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>