<div class="top-header bg-white">

   <div class="header mb-3 border-bottom shadow-sm">
      <nav class="p-1">
         <div class="container-fluid">
            <div class="row g-1">
               <div class="col-2">
                  <button class="btn btn-light" (click)="back();"> <i class="bi bi-arrow-left"></i> Back</button>
               </div>
               <div class="col-8 text-center align-content-center">
                  <strong>
                     TRANSACTION {{id}}
                  </strong>
               </div>
               <div class="col-2 text-end">

                  <button class="btn bg-light border" (click)="showModifier == 0 ? showModifier = 1 : showModifier = 0">
                     <i class="bi bi-check-square-fill" *ngIf="showModifier == 1"></i>
                     <i class="bi bi-square" *ngIf="showModifier == 0"></i>
                     Show modifier
                  </button>
               </div>
            </div>
         </div>
      </nav>
   </div>

</div>

<div class="container">

   <div class="order-panel">

      <div class="row">
         <div class="col-12 col-lg-12">
            <table class="table ">
               <thead class="sticky-top">
                  <tr>
                     <th>No</th>
                     <th>Description</th>

                     <th class="text-end">Rate</th>
                     <th class="text-end">Price</th>
                     <th>Send Order</th>
                     <th>inputDate</th>

                  </tr>
               </thead>
               <tbody>
                  <tr *ngFor="let x of items" [hidden]="x.no == undefined && showModifier == 0 ">
                     <td>{{x.no}}</td>

                     <td> {{x.no == undefined ? "+":""}} {{x.name}}</td>

                     <td class="text-end">{{ x.rate == 0 ? '' : x.rate | number}}</td>
                     <td class="text-end">{{x.price | number}}</td>
                     <td>{{x.sendOrder}}</td>
                     <td>{{x.inputDate | date :'medium'}}</td>
                  </tr>
               </tbody>
            </table>
         </div>

      </div>

   </div>
</div>