#contentDiv {
  position: relative;
  border :1px solid #333;
  width: 800px;
  height: 600px; 
  /* background-color: #f5f5f5; */
  overflow: hidden;
  zoom: 0.98;
}

.right {
  height: 90vh;
}

.draggable {

  background-color: #dddddd62;
  text-align: center;
  line-height: normal;
  position: absolute;
  user-select: none;
  border-radius: 2px;
  border: 1px solid #fff
}

.draggable div {
  font-size: 0.7rem;
  font-family: "Open Sans", sans-serif;
}

.resizable {
  resize: both;
  overflow: hidden;
}