<div class="row my-1">
  <div class="col-9 ">
    <label> Select Floor ({{outletFloorPlandId}}): </label>
    <a *ngFor="let x of floorPlan" class="btn btn-sm " (click)="activeFloor(x)"
      [class]="{'btn-primary': outletFloorPlandId == x.id}">
      {{x.desc1}}
    </a>
    @if(editable == true){
    <a href="javascript:;" [routerLink]="['/floorMap']" class="btn btn-sm btn-outline-dark mx-1"><i
        class="bi bi-plus-square-fill"></i> Add Floor</a>

    }
  </div>
  <div class="col-3 text-end">
    <span class="mx-2" *ngIf="loading"><img src="./gif/Pulse@1x-1.0s-200px-200px.gif" height="20"></span>
    <span class="mx-2 text-primary"><small>{{resp}}</small></span>
    @if(outletFloorPlandId != 0){
    <button type="button" (click)="onEditable()" class="btn btn-sm btn-light border mx-1">{{!editable ?
      'Editable':'Cancel'}}</button>
    <button type="button" (click)="onSave()" *ngIf="editable" class="btn btn-sm btn-success border mx-1">Save</button>
    }

  </div>
</div>

<div class="container" *ngIf="outletFloorPlandId == 0">
  <div class="row">
    <div class="col-12">
      <div class="text-center my-5 py-5">
        <h5>Select Floor First</h5>
      </div>
    </div>
  </div>
</div>


<div class="container " *ngIf="outletFloorPlandId != 0">
  <div class="row g-1">

    <div class="col-lg-8 col-12 ">
      <div id="contentDiv" class="layout-container shadow-sm"
        [style]="'background: '+(editable? '#fefefe':'#f5f5f5')+' url('+path+'floor/'+outletFloorPlandId+'.png) no-repeat 0 0;'">
        <div *ngFor="let table of tables" class="draggable" #tableEl [attr.data-id]="table.id"
          [style.transform]="'translate(' + table.x + 'px,' + table.y + 'px)'" [style.width.px]="table.width"
          [style.height.px]="table.height" [style.backgroundImage]="'url('+path+'icon/'+ table.icon + ')'"
          style="background-size: cover;">
          <div class="py-3">
            <div class="text-center">
              {{ table.tableName }}
            </div>
            <div class="text-center">
              <img src="./imgs/chair-side-view-50.png" height="20"> {{table.capacity}}
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-lg-4 col-12">


      <table class="table table-sm ">
        <thead class="sticky-top">
          <tr>
            <th>TABLE NAME</th>
            <th class="text-center" style="width: 80px;">COVER</th>
            <th *ngIf="editable"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of tables;let i = index">
            <td>
              <input type="text" class="form-control form-control-sm py-0" [disabled]="!editable"
                [(ngModel)]="x.tableName">
            </td>
            <td class="text-center">
              <input type="number" class="form-control form-control-sm py-0" [disabled]="!editable"
                [(ngModel)]="x.capacity">
            </td>

            <td *ngIf="editable">
              <button type="button" (click)="open(modalTemplate, x, i )" class="btn   py-1"><i
                  class="bi bi-gear"></i></button>
              <button type="button" class="btn text-danger  py-1" (click)="onDelete(i);">
                <i class="bi bi-x-square-fill"></i>
              </button>
            </td>

          </tr>

        </tbody>
        <tfoot class="sticky-bottom" *ngIf="editable">
          <tr>
            <th colspan="3">
              <div class="d-grid">
                <button type="button" class="btn btn-success" (click)="open(content,[])">NEW TABLE</button>
              </div>
            </th>
          </tr>
        </tfoot>
      </table>


    </div>
  </div>

</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <strong class="modal-title" id="modal-basic-title">New Tables</strong>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <form (ngSubmit)="onSubmit()" #actorForm="ngForm">
    <div class="modal-body">

      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            <label for="totalTable">Table Name <small>(can be changed later)</small></label>
            <input type="text" class="form-control" [(ngModel)]="model.tableName" id="tableName" name="tableName"
              required #tableName="ngModel">
            <small [hidden]="tableName.valid || tableName.pristine" class="text-danger">
              *Table Name is required
            </small>
          </div>
        </div>

        <div class="col-6">
          <div class="mb-3">
            <label for="totalTable">Total New Table</label>
            <input type="number" class="form-control" [(ngModel)]="model.totalTable" id="totalTable" name="totalTable"
              required #totalTable="ngModel">
            <small [hidden]="totalTable.valid || totalTable.pristine" class="text-danger">
              *Total Table is required
            </small>
          </div>
        </div>

        <div class="col-6">
          <div class="mb-3">
            <label for="totalTable">Selected Floor</label>
            <select class="form-control" [(ngModel)]="model.outletFloorPlandId" id="outletFloorPlandId"
              name="outletFloorPlandId">
              <option *ngFor="let x of floorPlan" [value]="x.id">{{x.desc1}}</option>
            </select>

          </div>
        </div>
      </div>
       
      <div class="mb-3">
        <label for="totalTable">Select template Table Maps</label>
        <div class="row g-1">
          <div class="col-3 text-center " *ngFor="let x of templateTableMap">
            <a href="javascript:;" (click)="this.model.templateTableId = x.id">

              <div class="border p-1"
                [class]="{'bg-dark':this.model.templateTableId == x.id, 'text-white':this.model.templateTableId == x.id,}">
                <strong>{{x.name}}</strong>
              
                <div>
                  <img [src]="path+'icon/'+x.icon" width="100%">
                </div>
                <div><small>{{x.capacity}} Cover</small></div>
                <div><small>{{x.width}}px X {{x.height}}px  </small></div>
                
              </div>

            </a>
          </div>
        </div>
      </div>
      <input type="hidden" class="form-control" [(ngModel)]="model.templateTableId" id="templateTableId"
        name="templateTableId" required #templateTableId="ngModel">
      <small [hidden]="templateTableId.valid || templateTableId.pristine" class="text-danger">
        *Template Table Id is required
      </small>
    </div>
   
    <div class="d-grid px-2 mb-3">
      <button type="submit" class="btn  btn-dark border" [disabled]="!actorForm.form.valid">Submit</button>
    </div>
  </form>
</ng-template>


<ng-template #modalTemplate let-modal>
  <div class="modal-header">
    <strong class="modal-title" id="modal-basic-title">Table Detail</strong>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <form (ngSubmit)="onSubmitDetail()" #actorForm2="ngForm">
    <div class="modal-body">

      <div class="row g-1">
        <div class="col-12">
          <div class="mb-3">
            <label for="totalTable">Table Name</label>
            <input type="text" class="form-control" [(ngModel)]="item.tableName" id="tableName" name="tableName"
              required #tableName="ngModel">
            <small [hidden]="tableName.valid || tableName.pristine" class="text-danger">
              *Table Name is required
            </small>
          </div>
        </div>

        <div class="col-4">
          <div class="mb-3">
            <label for="capacity">Capacity</label>
            <input type="number" class="form-control" [(ngModel)]="item.capacity" id="capacity" name="capacity" required
              #capacity="ngModel">
            <small [hidden]="capacity.valid || capacity.pristine" class="text-danger">
              *Capacity is required
            </small>
          </div>
        </div>



        <div class="col-4">
          <div class="mb-3">
            <label for="totalTable">width</label>
            <input type="number" class="form-control" [(ngModel)]="item.width" id="itemWidth" name="itemWidth" required
              #itemWidth="ngModel">
            <small [hidden]="itemWidth.valid || itemWidth.pristine" class="text-danger">
              *Table width is required
            </small>

          </div>
        </div>

        <div class="col-4">
          <div class="mb-3">
            <label for="totalTable">height</label>
            <input type="number" class="form-control" [(ngModel)]="item.height" id="itemHeight" name="itemHeight"
              required #itemHeight="ngModel">
            <small [hidden]="itemHeight.valid || itemHeight.pristine" class="text-danger">
              *Table height is required
            </small>

          </div>
        </div>
      </div>


      <div class="mb-3">
        <label for="totalTable">Select template Table Maps</label>
        <div class="border bg-light p-1"> 
          <div class="row g-1">
            <div class="col-2 text-center " *ngFor="let x of selectIcons">
              <a href="javascript:;" (click)="item.icon = x.filename">

                <div class="border  p-1 bg-white" [class]="{'border-3':item.icon == x.filename, 'border-black':item.icon == x.filename}">
                  <img [src]="path+'icon/'+x.filename" width="100%">
                </div>

              </a>
            </div>
          </div>
        </div>
      </div>
     

    </div>
    <div class="d-grid px-2 mb-3">
      <button type="submit" class="btn btn-dark border" [disabled]="!actorForm2.form.valid">Submit</button>
    </div>
  </form>
</ng-template>