<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-lg-8 mb-3 text-center d-sm-none d-md-block">
            <img src="./imgs/intro.jpg" width="90%">
        </div>
        <div class="col-12 col-lg-4">
            <div class="mb-4">
                <strong>LOGIN ADMIN</strong>
            </div>


            <div class="mb-3 text-center ">
                <img src="./imgs/logo.png" width="100%">
                <div>
                    <small>Welcome to POS Restaurant Admin</small>
                </div>
                <div>
                    <small>Patch {{ver}} </small>
                </div>


            </div>
            <form (ngSubmit)="onSubmit()" #actorForm="ngForm">
                <div class="form-group mb-3">
                    <label for="name">Username</label>
                    <input type="text" class="form-control mb-1" id="username" required [(ngModel)]="model.username"
                        name="username" #username="ngModel">
                    <div [hidden]="username.valid || username.pristine" class="text-danger">
                        Username is required
                    </div>
                </div>
                <div class="form-group  mb-3">
                    <label for="name">Password</label>
                    <input type="password" class="form-control mb-1" id="password" required [(ngModel)]="model.password"
                        name="password" #password="ngModel">
                    <div [hidden]="password.valid || password.pristine" class="text-danger">
                        password is required
                    </div>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-success" [disabled]="!actorForm.form.valid">Submit</button>
                </div>

            </form>
            <div class="alert alert-danger mt-3" *ngIf="warning">
                {{ warning }}
            </div>
            <div class="p-3 text-center">
                <strong> <small>PT MITRALINK </small></strong>
            </div>
        </div>
    </div>
</div>