.tab-content{
    height: 60vh;
    overflow-y: auto;
    margin-bottom: 1rem;
}

.tr-active td {
    background-color: #e8eef7 !important;
}

.inline-modal{
    position: absolute;
    z-index: 9991;
    top: 0px;
    left: 8px;
    width: 100%; 
}