<div [ngClass]="{'container': screenWidth >= 1200, 'container-fluid': screenWidth < 1200}">
   <div class="row g-2 mt-1">
      <!-- TABLE CART -->
      <div class="col-5 col-lg-4 ">

         <div class="order-panel  mb-2">
            <span *ngIf="table.overTime > 0" class="badge text-bg-danger"><i class="bi bi-exclamation-triangle"></i>
               {{lang.get('Overdue')}}: {{table.overTime}} {{lang.get('min')}}</span>
            <div class="d-flex justify-content-between align-items-center">
               <strong class="fw-bold mb-0"> {{table.sendOrder == 0 ? lang.get('Order') : lang.get('Bill')}}
                  {{table.id}} | {{table.startDate | date:'yyyy-mm-dd HH:mm:ss'}} </strong>
            </div>
            <div class="mb-2">{{lang.get('Cover')}}: {{table.cover}}, {{lang.get('Table')}} {{table.tableName}},
               {{lang.get('Waiter')}}: {{table.inputBy}}</div>

            <div style="height: 44vh; overflow-y: auto;">
               <table class="table table-sm table-hover">
                  <thead class="sticky-top">
                     <tr>
                        <td class="align-content-center text-center" (click)="fnCheckBoxAll()">
                           <i *ngIf="checkBoxAll == false" class="bi bi-square"></i>
                           <i *ngIf="checkBoxAll == true " class="bi bi-check-square-fill"></i>
                        </td>
                        <td class="align-content-center text-center">
                           {{lang.get('Qty')}}
                        </td>
                        <td colspan="2" class="align-content-center">
                           {{lang.get('List Menu Ordered')}}
                        </td>
                        <td>

                        </td>


                     </tr>
                  </thead>

                  <tbody *ngFor="let x of cart; let i = index" [class]="{'tr-active':x.checkBox == 1 }">
                     <tr>
                        <td class="align-content-center" (click)="fnChecked(i)  ">
                           <i *ngIf="x.checkBox == 0 " class="bi bi-square"></i>
                           <i *ngIf="x.checkBox == 1 " class="bi bi-check-square-fill"></i>
                        </td>
                        <td class="text-end font-monospace align-content-center text-center" (click)="fnChecked(i)">
                           @if(x.sendOrder == ''){
                           <button type="button" class="btn btn-sm btn-light" style="width: 50px;"
                              (click)="model.newQty = 0;open(modalQty, x, i)">{{x.total | number}}
                           </button>
                           }
                           @else{
                           <strong>{{x.total | number}}</strong>
                           }

                        </td>
                        <td class="align-content-center text-center" width="5px" (click)="openSelectOrder(x)">
                           @if(x.sendOrder != ''){
                           <img src="./img/bill-64.png" width="20">
                           }
                        </td>
                        <td (click)="openSelectOrder(x)">

                           <div class="lh-1">
                              <strong>{{x.name }} {{x.totalModifier > 0 ? '*':''}} </strong>
                           </div>
                           <div class="lh-2">
                              <small class="font-monospace">&#64;{{x.price | number}}</small>
                              <span *ngIf="x.ta > 0 " class="badge text-bg-warning  ms-2">{{lang.get('TA')}}</span>
                           </div>
                        </td>

                        <td class="text-end" (click)="fnChecked(i)">
                           <span class="font-monospace"> {{ (x.totalAmount) | number}}</span>
                        </td>




                     </tr>

                     @if(checkBoxAllModifier && x.modifier.length > 0){
                     <tr *ngFor="let a of x.modifier; let j = index" [hidden]="a.modifier == 0"
                        [class]="{'tr-active':a.checkBox == 1 }" (click)="fnCheckedModifier(i, j)">

                        <td class="align-content-center">

                           @if(a.sendOrder == '' || a.allowVoid == 1){
                           <i *ngIf="a.checkBox == 0 " class="bi bi-square"></i>
                           <i *ngIf="a.checkBox == 1 " class="bi bi-check-square-fill text-primary"></i>
                           }
                        </td>
                        <td class="text-center"> </td>
                        <td class="align-content-center">
                           @if(a.sendOrder != ''){
                           <img src="./img/bill-64.png" width="20">
                           }
                        </td>

                        <td>
                           <small> {{ a.descl}}</small> &nbsp;

                           <div>
                              <small>{{a.remark}}</small>
                           </div>
                        </td>

                        <td class="text-end"> <span class="font-monospace">{{a.totalAmount |number}} </span></td>

                     </tr>
                     }


                     @if(checkBoxAllScTax && x.modifier.length > 0){
                     <!-- for tax -->
                     <tr *ngFor="let a of x.modifier; let i = index" [hidden]="a.modifier == 1">
                        <td>
                           @if(a.sendOrder == ''){
                           <i *ngIf="a.checkBox == 0 " class="bi bi-square"></i>
                           <i *ngIf="a.checkBox == 1 " class="bi bi-check-square-fill text-primary"></i>
                           }
                        </td>
                        <td class="text-center"><span class="font-monospace">{{ a.total}}</span></td>
                        <td class="align-content-center">
                           @if(a.sendOrder != ''){
                           <img src="./img/bill-64.png" width="20">
                           }
                        </td>
                        <td>
                           <small> {{ a.descl}}</small> &nbsp;

                           <div>
                              <small>{{a.remark}}</small>
                           </div>
                        </td>

                        <td class="text-end"> <span class="font-monospace">{{a.totalAmount |number}}</span></td>

                     </tr>
                     }
                     <!-- SUB TOTAL -->
                     <tr *ngIf="checkBoxAllScTax">
                        <td>
                        </td>

                        <td>
                        </td>
                        <td></td>
                        <td class="font-monospace text-center">
                        </td>

                        <td class="text-end "><strong class="font-monospace">{{x.grandTotalAmount | number}}</strong>
                        </td>


                     </tr>


                  </tbody>

               </table>
            </div>

         </div>

         <div class="order-panel mb-2">
            <div class="row g-2">

               <div class="col-6">
                  <table class="table table-sm table-xs">
                     <tbody>
                        <tr>
                           <td>{{lang.get('Item Total')}} :</td>
                           <td class="text-end">{{summary.itemTotal | number}}</td>
                        </tr>

                        <tr>
                           <td>{{lang.get('Discount')}} :</td>
                           <td class="text-end">{{summary.discount | number}}</td>
                        </tr>

                        <tr>
                           <td>{{lang.get('Sub Total')}} :</td>
                           <td class="text-end">{{summary.subTotal | number}}</td>
                        </tr>

                     </tbody>
                  </table>
               </div>

               <div class="col-6">
                  <table class="table table-sm table-xs">
                     <tbody>

                        <tr>
                           <td>{{lang.get('Sc')}} :</td>
                           <td class="text-end">{{summary.sc | number}}</td>
                        </tr>
                        <tr>
                           <td>{{lang.get('Tax')}} :</td>
                           <td class="text-end"> {{summary.tax | number}}</td>
                        </tr>

                        <tr>
                           <td>{{lang.get('Total')}} :</td>
                           <td class="text-end"><span class="fw-bold">{{ summary.grandTotal | number}}</span></td>
                        </tr>

                     </tbody>
                  </table>
               </div>
            </div>


         </div>

         <div class="row g-1 mb-2">
            <div class="col-5 d-grid">
               <button class="btn btn-light  text-start"
                  (click)="checkBoxAllModifier == false ? checkBoxAllModifier = true : checkBoxAllModifier = false">
                  <i *ngIf="checkBoxAllModifier == false " class="bi bi-square"></i>
                  <i *ngIf="checkBoxAllModifier == true " class="bi bi-check-square-fill"></i> {{lang.get('Modifier')}}
               </button>
            </div>
            <div class="col-5 d-grid">

               <button class="btn btn-light  text-start"
                  (click)="checkBoxAllScTax == false ? checkBoxAllScTax = true : checkBoxAllScTax = false">
                  <i *ngIf="checkBoxAllScTax == false " class="bi bi-square"></i>
                  <i *ngIf="checkBoxAllScTax == true " class="bi bi-check-square-fill"></i> {{lang.get('Sc & Tax')}}
               </button>
            </div>
            <div class="col-2 d-grid">

               <button type="button" class="btn btn-danger  " (click)="onVoid()">
                  <i class="bi bi-x-lg"></i> </button>
            </div>
         </div>
         <div class="row g-1">

            <div class="col-6 d-grid">

               <button type="button" class="btn btn-danger" (click)="exitWithoutOrder();">
                  <i class="bi bi-trash"></i> {{lang.get('EXIT WITHOUT ORDER')}}
               </button>

            </div>

            <div class="col-6 d-grid" *ngIf="posMode != 'cashier'">
               <button type="button" class="btn btn-primary" (click)="sendOrder();">
                  <i class="bi bi-fork-knife"></i> {{lang.get('SEND ORDER')}}
               </button>
            </div>
         </div>
      </div>

      <!-- TABS / MENU -->
      <div class="col-7 col-lg-8 position-relative">
         @if(duration.timer > 0){
         <div class="alert  {{timeMinute <= 15 ? 'alert-danger' : 'alert-warning' }}">
            <div class="row g-0">
               <div class="col-3 text-center">
                  <div> Duration (min)</div>
                  <h4>{{duration.timer}}</h4>
               </div>

               <div class="col-4 text-center">
                  <div>Count Down</div>
                  <h4>
                     <span *ngIf="duration.timeDifference == '00:00:00'"> <i class="bi bi-lock-fill"></i> </span>

                     {{duration.timeDifference}}
                  </h4>
               </div>

               <div class="col-5 text-center">
                  <div> End Date</div>
                  <h4>{{duration.limitEndDate | date:'yyyy-MM-dd HH:mm:ss'}}</h4>
               </div>

            </div>
         </div>
         }
         <div class="inline-modal" *ngIf="selectedItem">
            <div class="card shadow-sm">
               <div class="card-header">
                  <button type="button" class="btn btn-light btn-sm"
                     (click)="selectedItem = null">{{lang.get('Back')}}</button> {{lang.get('Item Information')}}
               </div>
               <div class="card-body">

                  <table class="table table-sm">
                     <tbody>
                        <tr>
                           <th>{{lang.get('ID')}}</th>
                           <td width="50%" class="text-primary">{{selectedItem?.id}}</td>
                        </tr>
                        <tr>
                           <th>{{lang.get('Description')}}</th>
                           <td class="text-primary">{{selectedItem?.name}}</td>
                        </tr>
                        <tr>
                           <th>{{lang.get('Send Order')}}</th>
                           <td class="text-primary"><span
                                 class="badge text-bg-primary">{{selectedItem?.sendOrder}}</span></td>
                        </tr>
                        <tr>
                           <th>{{lang.get('Order By and Time')}}</th>
                           <td>{{selectedItem?.employeeName}} ,
                              {{selectedItem?.inputDate | date:'yyyy-MM-dd hh:mm:ss a'}}</td>
                        </tr>

                        <tr>
                           <th>{{lang.get('Item Price')}}</th>
                           <td>{{selectedItem?.price | number}}</td>
                        </tr>

                        <tr>
                           <th colspan="2">{{lang.get('Modifier, Tax and Service')}}</th>

                        </tr>
                        <tr *ngFor="let mod of selectedItem?.modifier">
                           <td><i class="bi bi-plus"></i> {{mod?.descl}}</td>
                           <td> {{mod?.price | number}}
                              <span class="badge text-bg-primary">{{mod?.sendOrder}}</span>
                           </td>
                        </tr>
                        <tr>
                           <th>{{lang.get('Item Actual Price')}}</th>
                           <td class="fw-bold text-primary">{{selectedItem?.grandTotalAmount | number}}</td>
                        </tr>
                        <tr>
                           <th>{{lang.get('Sales Type / Floor Name')}}</th>
                           <td class="text-primary">{{table?.floorName}}</td>
                        </tr>
                        <tr>
                           <th>{{lang.get('Printer')}}</th>
                           <td class="text-primary"> </td>
                        </tr>

                        <tr *ngFor="let x of selectedItem?.printerRows">
                           <td>{{x?.printerName}}'s Printer </td>
                           <td class="text-primary">
                              {{ x.inputDate | date:'HH:mm' }},
                              <span class="badge " [ngClass]="{
                                 'text-bg-warning': x.status ==  0,
                                 'text-bg-info': x.status == 1,
                                 'text-bg-success': x.status == 2,
                                 'text-bg-danger': x.status == -1
                                 }">{{ x.statusName }}</span>

                           </td>
                        </tr>
                        <tr>
                           <td colspan="4" class="text-end">
                              <button type="button" class="btn btn-dark btn-sm px-5"
                                 (click)="selectedItem = null">{{lang.get('Back')}}</button>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>

            </div>


         </div>

         <ul class="nav nav-pills mb-2">
            <li class="nav-item" *ngIf="posMode != 'cashier'">
               <a class="nav-link" (click)="sendOrder();">
                  <i class="bi bi-fork-knife"></i> {{lang.get('Send Order')}}
               </a>
            </li>
            <li class="nav-item" *ngIf="posMode != 'cashier'">
               <a class="nav-link" (click)="fnTableChecker(contentGuestPrinting)">
                  <i class="bi bi-receipt-cutoff"></i> {{lang.get('Table Checker')}}
               </a>
            </li>

            <li class="nav-item">
               <a class="nav-link" (click)="activeTab = 'info'">
                  <i class="bi bi-question-circle"></i> {{lang.get('INFO')}}</a>
            </li>

            <li class="nav-item">
               <a class="nav-link" (click)="openComponent(id);logService.logAction('Click BILL', id)">
                  <i class="bi bi-receipt-cutoff"></i> {{lang.get('Bill')}}</a>
            </li>

         </ul>

         <ul class="nav category-tabs mb-3">
            <li class="nav-item ms-2">
               <a class="nav-link pointer-event" [class.active]="activeTab === 'function'"
                  (click)="activeTab = 'function'"><i class="bi bi-gear"></i> {{lang.get('FUNCTION')}}</a>
            </li>
            <li class="nav-item">
               <a class="nav-link pointer-event" [class.active]="activeTab === 'menu'" (click)="activeTab = 'menu'"><i
                     class="bi bi-cup-straw"></i> {{lang.get('MENU')}}</a>
            </li>



            <li class="nav-item">
               <a class="nav-link pointer-event" [class.active]="activeTab === 'modifier'"
                  (click)="activeTab = 'modifier'"><i class="bi bi-pencil"></i> {{lang.get('MODIFIER')}}</a>
            </li>
            <li class="nav-item">
               <a class="nav-link pointer-event" [class.active]="activeTab === 'discount'"
                  (click)="activeTab = 'discount'"><i class="bi bi-percent"></i> {{lang.get('ITEM DISCOUNT')}}</a>
            </li>
            <li class="nav-item">
               <a class="nav-link pointer-event" [class.active]="activeTab === 'kitchen'"
                  (click)="activeTab = 'kitchen'"><i class="bi bi-fire"></i> {{lang.get('KITCHEN')}}</a>
            </li>

         </ul>

         <div class="tab-content px-2">

            <div *ngIf="activeTab === 'function'">

               <div class="row g-2">


                  @if(uxMenu['send_order']){
                  <div class="col-3 d-grid" [style.order]="uxMenu['send_order'] ? uxMenu['send_order']['order'] : ''"
                     *ngIf="posMode != 'cashier'">
                     <button type="button" [ngClass]="[cssClass, 'btn-' + uxMenu['send_order']['class']]"
                        [disabled]="cart.length < 1 || lock" (click)="sendOrder();">
                        <i class="bi bi-fork-knife"></i> {{lang.get('SEND ORDER')}}</button>
                  </div>
                  }
                  @if(uxMenu['bill']){
                  <div class="col-3 d-grid" [style.order]="uxMenu['bill'] ? uxMenu['bill']['order'] : ''">
                     <button type="button" [ngClass]="[cssClass, 'btn-' + uxMenu['bill']['class']]"
                        (click)="openComponent(id);logService.logAction('Click BILL', id)">
                        <i class="bi bi-receipt-cutoff"></i> {{lang.get('BILL')}}</button>
                  </div>
                  }
                  @if(uxMenu['payment']){
                  <div class="col-3 d-grid" [style.order]="uxMenu['payment'] ? uxMenu['payment']['order'] : ''">
                     <button type="button" [ngClass]="[cssClass, 'btn-' + uxMenu['payment']['class']]"
                        [disabled]="table.paymentId == ''  " (click)="payment()">
                        <i class="bi bi-credit-card"></i> {{lang.get('PAYMENT')}}</button>

                  </div>
                  }

                  @if(uxMenu['info']){
                  <div class="col-3 d-grid" [style.order]="uxMenu['info'] ? uxMenu['info']['order'] : ''">
                     <button type="button" [ngClass]="[cssClass, 'btn-' + uxMenu['info']['class']]"
                        [disabled]="table.tableMapStatusId < 13 "
                        (click)="openComponent(id);logService.logAction('Click INFO', id)">
                        <i class="bi bi-question-circle"></i> {{lang.get('INFO')}}</button>
                  </div>
                  }

                  @if(uxMenu['exit_without_order']){
                  <div class="col-3 d-grid"
                     [style.order]="uxMenu['exit_without_order'] ? uxMenu['exit_without_order']['order'] : ''">
                     <button type="button" [ngClass]="[cssClass, 'btn-' + uxMenu['exit_without_order']['class']]"
                        (click)="exitWithoutOrder();"><i class="bi bi-trash"></i>
                        {{lang.get('EXIT WITHOUT ORDER')}}</button>
                  </div>
                  }

                  @if(uxMenu['transfer_items']){
                  <div class="col-3 d-grid"
                     [style.order]="uxMenu['transfer_items'] ? uxMenu['transfer_items']['order'] : ''"
                     *ngIf="posMode != 'cashier'">
                     <button type="button" [disabled]="lock"
                        [ngClass]="[cssClass, 'btn-' + uxMenu['transfer_items']['class']]"
                        (click)="transferItemsGroup()"> <i class="bi bi-send-plus"></i>
                        {{lang.get('TRANSFER ITEMS')}}
                     </button>
                  </div>
                  }

                  @if(uxMenu['take_out']){
                  <div class="col-3 d-grid" [style.order]="uxMenu['take_out'] ? uxMenu['take_out']['order'] : ''">
                     <button type="button" [disabled]="lock"
                        [ngClass]="[cssClass, 'btn-' + uxMenu['take_out']['class']]" (click)="takeOut()">
                        <i class="bi bi-bag-check"></i>
                        {{lang.get('TAKE OUT')}}</button>
                  </div>
                  }

                  @if(uxMenu['merger']){
                  <div class="col-3 d-grid" [style.order]="uxMenu['merger'] ? uxMenu['merger']['order'] : ''"
                     *ngIf="posMode != 'cashier'">
                     <button type="button" [ngClass]="[cssClass, 'btn-' + uxMenu['merger']['class']]"
                        (click)="openTables(modalMergeCheck)">
                        <i class="bi bi-intersect"></i>
                        {{lang.get('MERGE')}} </button>
                  </div>
                  }

                  @if(uxMenu['change_cover']){
                  <div class="col-3 d-grid"
                     [style.order]="uxMenu['change_cover'] ? uxMenu['change_cover']['order'] : ''"
                     *ngIf="posMode != 'cashier'">
                     <button type="button" [ngClass]="[cssClass, 'btn-' + uxMenu['change_cover']['class']]"
                        (click)="model.newQty = 0; openSm(modalChangeCover)">
                        <i class="bi bi-people"></i>
                        {{lang.get('CHANGE COVER')}} </button>
                  </div>
                  }
                  @if(uxMenu['change_table']){
                  <div class="col-3 d-grid"
                     [style.order]="uxMenu['change_table'] ? uxMenu['change_table']['order'] : ''"
                     *ngIf="posMode != 'cashier'">
                     <button type="button" [ngClass]="[cssClass, 'btn-' + uxMenu['change_table']['class']]"
                        (click)="openTables(modalChangeTable)">
                        <i class="bi bi-arrow-repeat"></i>
                        {{lang.get('CHANGE TABLE')}} </button>
                  </div>
                  }
                  @if(uxMenu['transfer_log']){
                  <div class="col-3 d-grid"
                     [style.order]="uxMenu['transfer_log'] ? uxMenu['transfer_log']['order'] : ''"
                     *ngIf="posMode != 'cashier'">
                     <button type="button" [ngClass]="[cssClass, 'btn-' + uxMenu['transfer_log']['class']]"
                        (click)="transferLog()">
                        <i class="bi bi-clock-history"></i>
                        {{lang.get('TRANSFER LOG')}}</button>
                  </div>
                  }
                  @if(uxMenu['merger_log']){
                  <div class="col-3 d-grid" [style.order]="uxMenu['merger_log'] ? uxMenu['merger_log']['order'] : ''"
                     *ngIf="posMode != 'cashier'">
                     <button type="button" [ngClass]="[cssClass, 'btn-' + uxMenu['merger_log']['class']]"
                        (click)="mergerLog()">
                        <i class="bi bi-clock-history"></i>
                        {{lang.get('MERGE LOG')}}</button>
                  </div>
                  }
                  @if(uxMenu['void_transaction']){
                  <div class="col-3 d-grid"
                     [style.order]="uxMenu['void_transaction'] ? uxMenu['void_transaction']['order'] : ''">
                     <button type="button" [ngClass]="[cssClass, 'btn-' + uxMenu['void_transaction']['class']]"
                        (click)="onVoidTransaction()">
                        <i class="bi bi-x-lg"></i> {{lang.get('VOID TRANSCTION')}}</button>
                  </div>
                  }
                  @if(uxMenu['void_item']){
                  <div class="col-3 d-grid" [style.order]="uxMenu['void_item'] ? uxMenu['void_item']['order'] : ''">
                     <button type="button" [ngClass]="[cssClass, 'btn-' + uxMenu['void_item']['class']]"
                        (click)="onVoidItem()">
                        <i class="bi bi-x-lg"></i> {{lang.get('VOID ITEM')}} </button>
                  </div>
                  }
               </div>
            </div>
            <!-- END tab menu function -->
            <div *ngIf="activeTab === 'menu'">

               <div *ngIf="unlockMenu == false; else elseBlock">

                  <div class="row g-1 mb-3">
                     @if(menuLookUpParent.length> 0){
                     <div>{{lang.get('Lookup Menu')}} : <strong class="text-uppercase">{{menuLookUpParent[0]['name'] }}
                        </strong> </div>

                     }
                     @else {
                     <div>{{lang.get('Lookup Menu')}} : <strong class="text-uppercase">{{lang.get('MENU')}}</strong>
                     </div>
                     }
                     <div class="col-3 mb-1 d-grid" *ngIf="menuLookUpParent.length > 0">
                        <button type="button" class="btn btn-light border" (click)="backMenu(menuLookUpParent); "> <i
                              class="bi bi-arrow-left"></i> {{lang.get('BACK')}} </button>
                     </div>

                     <div class="col-3 mb-1 d-grid" *ngFor="let x of menuLookUp; let i= index">
                        <button type="button" class="btn btn-primary py-3" (click)="httpMenuLookUp(x.id);">
                           {{x.name}}
                        </button>
                     </div>
                  </div>


                  <div class="row g-2 mb-3">
                   
                     <div class="col-3 mb-1 d-grid" *ngFor="let a of items">

                        @if(a.openPrice == 1){
                        <button type="button" [class]="((a.qty - a.usedQty)< 1) ? cssMenuDisable : cssMenu"
                           class="card-menu btn-light" (click)="modalOpenPrice(modalOpenPriceContent,a)"
                           [disabled]="(a.qty - a.usedQty) < 1">
                           <div class="mb-1">{{a.name}}</div>
                           <small>&#64;{{a.priceLabel | number}}*</small>
                           <small *ngIf="a.adjustItemsId != ''"> / {{(a.qty - a.usedQty)}}</small>
                        </button>
                        }
                        @else{
                        <button type="button" [class]="((a.qty - a.usedQty)< 1) ? cssMenuDisable : cssMenu"
                           class="card-menu btn-light"
                           (click)=" a.menuSet == 'SELECT' ? open(modalMenuSet,a,0, 'lg','SELECT') :addToCart(a)"
                           [disabled]="(a.qty - a.usedQty) < 1">
                           <div class="mb-1">{{a.name}} </div>
                           <img src="./img/icons8-delete-48.png" class="mx-1" height="16" width="16"
                              *ngIf="(a.qty - a.usedQty)< 1">

                           <small>&#64;{{a.priceLabel | number}} </small>
                           <small *ngIf="a.adjustItemsId != ''"> / {{(a.qty - a.usedQty)}}</small>

                        </button>
                        }
                     </div>
                  </div>

               </div>
               <!-- else -->
               <ng-template #elseBlock>
                  <div class="text-center mt-5">
                     <h4>{{lang.get('TIME OUT')}}</h4>
                     <img src="./img/icons8-time-out-64.png" class="img-fluid mx-auto d-block" alt="LOCKED MENU">

                     <div>
                        <strong>{{lang.get('MENU LOCKED')}}</strong>
                     </div>
                  </div>
               </ng-template>

            </div>

            <div *ngIf="activeTab === 'modifier'">

               <div *ngIf="unlockMenu == false; else elseBlock2">

                  <ul class="nav nav-pills mb-2">
                     <li class="nav-item" *ngFor="let x of modifiers; let i = index">
                        <a class="nav-link" [class]="{'active':x.id == modifierDetail['id']}"
                           (click)="fnShowModifierDetail(i);logService.logAction('Click MODIFIER : '+ x.name,id) ">
                           {{x.name}}</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" (click)="modal(modalAddMemo,'md');"><i class="bi bi-pen"></i>
                           {{lang.get('Custom Notes')}}</a>
                     </li>
                  </ul>

                  <div class="row g-1 mb-3">
                     <strong class="text-center">{{modifierDetail['name']}}</strong>
                     <div class="col-3 mb-1 d-grid" *ngFor="let a of modifierDetail['detail']">
                        <!-- <a type="button" class="btn btn-light" (click)="addToItemModifier(a);">
                           {{a.descs}}
                        </a> -->
                        <a type="button" class="btn btn-{{a.checkBox == 1 ? 'primary' : 'light'}} text-start"
                           (click)="a.checkBox == 0 ? a.checkBox = 1 : a.checkBox = 0">
                           <i *ngIf="a.checkBox == 1" class="bi bi-check-square-fill"></i>
                           <i *ngIf="a.checkBox == 0" class="bi bi-square"></i>
                           {{a.descs}}
                        </a>
                     </div>
                  </div>

                  @if(env.production == false){
                  <div class="alert alert-warning" *ngIf="results.length > 0">
                     <ul>
                        <li *ngFor="let x of results">{{x.status}}</li>
                     </ul>
                  </div>
                  }

               </div>
               <ng-template #elseBlock2>
                  <div class="text-center mt-5">
                     <h4>{{lang.get('TIME OUT')}}</h4>
                     <img src="./img/icons8-time-out-64.png" class="img-fluid mx-auto d-block" alt="LOCKED MENU">

                     <div>
                        <strong>{{lang.get('MENU LOCKED')}}</strong>
                     </div>
                  </div>
               </ng-template>
            </div>

            <div *ngIf="activeTab === 'discount'">
               <div class="alert alert-danger" *ngIf="results.length > 0">
                  <ul>
                     <li *ngFor="let x of results">{{x.status}}</li>
                  </ul>
                  <div class="text-center"><button class="btn btn-sm btn-warning"
                        (click)="results = '' ">{{lang.get('Close')}}</button>
                  </div>
               </div>


               <div class="row g-1" *ngFor="let x of discountGroup">
                  @if(x.discount.length > 0){
                  <div class="col-12">
                     <strong class="text-uppercase">{{x.name}}</strong>
                  </div>
                  <div class="col-3 mb-1 d-grid" *ngFor="let a of x.discount">
                     <a href="javascript:;" *ngIf="a.remark == 0" [class]="cssMenu" class=" card-menu"
                        (click)="addDiscountGroup(a)">{{a.name}}</a>
                     <a href="javascript:;" *ngIf="a.remark == 1" [class]="cssMenu" class=" card-menu"
                        (click)="addDiscountGroupWithRemark(contentRemark,a)">{{a.name}}</a>
                  </div>


                  <div class="col-12 mb-1">
                     &nbsp;
                  </div>
                  }
               </div>


            </div>

            <div *ngIf="activeTab === 'kitchen'">
               <app-table-print-queue [data]="id"></app-table-print-queue>
            </div>

            <div *ngIf="activeTab === 'info'">
               <div class="order-panel">
                  <div class="row">
                     <div class="col-6">
                        <table class="table table-sm">
                           <tbody>
                              <tr>
                                 <th>{{lang.get('ID')}}</th>
                                 <td>{{table?.id}}</td>
                              </tr>
                              <tr>
                                 <th>{{lang.get('Daily Check ID')}}</th>
                                 <td>{{table?.dailyCheckId}}</td>
                              </tr>
                              <tr>
                                 <th>{{lang.get('Outlet ID')}}</th>
                                 <td>{{table?.outletId}}</td>
                              </tr>

                              <tr>
                                 <th>{{lang.get('Table Name / ID')}}</th>
                                 <td>{{table?.tableName}} / {{table?.outletTableMapId}} </td>
                              </tr>
                              <tr>
                                 <th>{{lang.get('Cover')}}</th>
                                 <td>{{table?.cover}}</td>
                              </tr>
                              <tr>
                                 <th>{{lang.get('Status / ID')}}</th>
                                 <td> {{table?.status}} / {{table?.tableMapStatusId}}</td>
                              </tr>



                           </tbody>
                        </table>
                     </div>
                     <div class="col-6">
                        <table class="table table-sm">
                           <tbody>

                              <tr>
                                 <th>{{lang.get('Start Date')}}</th>
                                 <td>{{table?.startDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                              </tr>

                              <tr>
                                 <th>{{lang.get('Over Time')}}</th>
                                 <td>{{table.overTime > 0 ? table.overTime : ''}}</td>
                              </tr>
                              <tr>
                                 <th>{{lang.get('Input Date')}}</th>
                                 <td>{{table?.inputDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                              </tr>
                              <tr>
                                 <th>{{lang.get('Input By')}}</th>
                                 <td>{{table?.inputBy}}</td>
                              </tr>
                              <tr>
                                 <th>{{lang.get('Update Date')}}</th>
                                 <td>{{table?.updateDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                              </tr>
                              <tr>
                                 <th>{{lang.get('Update By')}}</th>
                                 <td>{{table?.updateBy}}</td>
                              </tr>

                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>

         </div>

         <div class="px-2">
            <div class="row g-1 mb-3">
               @if( activeTab === 'menu' || activeTab === 'modifier' || activeTab === 'discount'){
               <div class="col-3 mb-1 d-grid" *ngIf="activeTab === 'menu' && menuLookUpParent.length > 0">
                  <button type="button" class="btn btn-success py-3"
                     (click)="btnFinish(); menuLookupId = 0; results = '' ">
                     <i class="bi bi-check2"></i> {{lang.get('FINISH')}}
                  </button>
               </div>

               <div class="col-3 mb-1 d-grid" *ngIf="activeTab === 'modifier'">
                  <button type="button" class="btn btn-primary py-3" (click)="fnSubmitModifier();  results = '' ">
                     <i class="bi bi-check2"></i> {{lang.get('SUBMIT')}}
                  </button>
               </div>

               }
            </div>
         </div>


      </div>

   </div>
</div>




<ng-template #modalQty let-modal>
   <div class="modal-header">
      <strong>{{lang.get('Change Quantity Item')}}</strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>
   <div class="modal-body">

      <form (ngSubmit)="updateQty()" #actorForm="ngForm">
         <div class="mb-3">
            <div class="row g-1">
               <div class="col-5">
                  <div class="mb-1"><strong for="newQty">{{lang.get('Current')}}</strong></div>
                  <div class="form-control form-control-lg bg-light">{{item.total}}</div>
               </div>
               <div class="col-1">
                  <i class="bi bi-arrow-right"></i>
               </div>
               <div class="col-6">
                  <div class="mb-1"><strong for="newQty">{{lang.get('Change to')}}</strong></div>
                  <input type="number" class="form-control form-control-lg" id="newQty" required
                     [(ngModel)]="model.newQty" name="newQty" #newQty="ngModel">
               </div>

            </div>
         </div>
         <div class="mb-3">
            <app-key-number (dataEmitted)="handleData($event)"></app-key-number>
         </div>

         <div class="row g-1">
            <div class="col d-grid">
               <button type="button" class="btn btn-lg btn-warning" (click)="model.newQty=0">{{lang.get('CE')}}</button>
            </div>
            <div class="col  d-grid">
               <button type="submit" class="btn btn-lg btn-dark"
                  [disabled]="!actorForm.form.valid ||  model.newQty == 0">{{lang.get('OK')}}</button>
            </div>
         </div>

      </form>
   </div>

</ng-template>


<ng-template #modalAddMemo let-modal>
   <div class="modal-header">
      <strong>{{lang.get('Add Custom Notes')}}</strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>
   <div class="modal-body">

      <form (ngSubmit)="addCustomNotes()" #actorForm="ngForm">
         <div class="mb-3">
            <input type="text" class="form-control form-control-lg" #myInput id="note" required [(ngModel)]="model.note"
               name="note" #note="ngModel" autofocus>
            <div [hidden]="note.valid || note.pristine" class="text-danger">
               {{lang.get('Note is required')}}
            </div>
         </div>

         <div class="row g-1">
            <div class="col-6 d-grid">
               <button type="button" class="btn btn-lg btn-outline-secondary"
                  (click)="modal.close('Save click')">{{lang.get('Cancel')}}</button>
            </div>
            <div class="col-6 d-grid">
               <button type="submit" class="btn btn-lg btn-dark"
                  [disabled]="!actorForm.form.valid">{{lang.get('OK')}}</button>
            </div>
         </div>

      </form>
   </div>

</ng-template>


<!-- <ng-template #modalPrinting let-modal>
   <div class="modal-header">
      <strong class="modal-title">Print target</strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>
   <div class="modal-body">
      <div class="row g-1">
         <div class="col d-grid">
            <button type="button" class="btn btn-lg btn-outline-dark py-5" (click)="printTableChecker()">
               <h4><i class="bi bi-receipt-cutoff"></i></h4>
               Guest Checker
            </button>
         </div>
         <div class="col d-grid">
            <button type="button" class="btn btn-lg btn-outline-dark py-5" (click)="modal.dismiss('Cross click')"
               [routerLink]="['/printQueue']" [queryParams]="{cartId:id}">
               <h4><i class="bi bi-fire"></i></h4> Kitchen
            </button>
         </div>
      </div>
   </div>

</ng-template> -->


<ng-template #modalMergeCheck let-modal>
   <div class="modal-header">
      <strong class="modal-title">
         <div class="bg-light p-1  rounded border  d-inline-block">
            <span *ngFor="let x of tablesMaps; let i = index">
               <button type="button" class="btn btn-sm px-3" (click)="onMap(i)" [class]="{
                           'border': current == i,
                            'btn-primary': current == i,
                            'shadow-sm': current == i,
                           }"> {{x.desc1}}

                  <span *ngIf="x.checking > 0  " class="badge text-bg-danger rounded-circle">
                     {{x.checking}}
                  </span>
               </button>
            </span>
         </div>
      </strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>
   <div class="modal-body bg-main rounded-bottom">

      <div> <strong>{{lang.get('Merger Table')}}</strong></div>
      <div class="map">

         <div style="height: 75vh; zoom:{{zoom}}% ">
            <div class="table-map"
               style="background: url('{{public}}floor/{{tablesMaps[current]?.image}}') left top no-repeat;">
               <div class="floorPlan" *ngFor="let x of tablesMaps[current]?.maps">


                  <div class="items  {{x.bgn}}" [style.transform]="'translate(' + x.posX + 'px,' + x.posY + 'px)'"
                     [style.width.px]="x.width" [style.height.px]="x.height"
                     [style.backgroundImage]="'url('+public+'icon/'+x.icon+')'" style="background-size: cover;"
                     [style.opacity]="(x.id == table.outletTableMapId) || ( x.cardId == '') ? 0.4 : 1"
                     (click)="mergerCheck(x)">
                     <div class="text-end p-1" style=" cursor: pointer;">
                        <div class="table-pos-label">
                           <strong class="table-name">

                              <span *ngIf="x.overdueMinute > 0 "> <i class="bi bi-exclamation-diamond"></i> </span>
                              {{x.tableName}} </strong>
                        </div>

                     </div>
                  </div>

               </div>
            </div>
         </div>
      </div>




   </div>


</ng-template>


<ng-template #modalChangeTable let-modal>
   <div class="modal-header">
      <strong class="modal-title">
         <div class="bg-light p-1  rounded border  d-inline-block">
            <span *ngFor="let x of tablesMaps; let i = index">
               <button type="button" class="btn btn-sm px-3" (click)="onMap(i)" [class]="{
                           'border': current == i,
                            'btn-primary': current == i,
                            'shadow-sm': current == i,
                           }"> {{x.desc1}}

                  <span *ngIf="x.checking > 0  " class="badge text-bg-danger rounded-circle">
                     {{x.checking}}
                  </span>
               </button>
            </span>
         </div>
      </strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>
   <div class="modal-body bg-main rounded-bottom">

      <div> <strong>{{lang.get('Change Table')}}</strong></div>
      <div class="map">

         <div style="height: 75vh; zoom:{{zoom}}% ">
            <div class="table-map"
               style="background: url('{{public}}floor/{{tablesMaps[current]?.image}}') left top no-repeat;">
               <div class="floorPlan" *ngFor="let x of tablesMaps[current]?.maps">


                  <div class="items  {{x.bgn}}" [style.transform]="'translate(' + x.posX + 'px,' + x.posY + 'px)'"
                     [style.width.px]="x.width" [style.height.px]="x.height"
                     [style.backgroundImage]="'url('+public+'icon/'+x.icon+')'" style="background-size: cover;"
                     [style.opacity]="(x.id == table.outletTableMapId) || ( x.cardId == '') ? 1: 0.4"
                     (click)="changeTable(x)">
                     <div class="text-end p-1" style=" cursor: pointer;">
                        <div class="table-pos-label">
                           <strong class="table-name">

                              <span *ngIf="x.overdueMinute > 0 "> <i class="bi bi-exclamation-diamond"></i> </span>
                              {{x.tableName}} </strong>
                        </div>

                     </div>
                  </div>

               </div>
            </div>
         </div>
      </div>




   </div>


</ng-template>

<ng-template #modalChangeCover let-modal>
   <div class="modal-header">
      <strong>{{lang.get('Change Cover')}}</strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>
   <div class="modal-body">

      <form (ngSubmit)="updateCover()" #actorForm="ngForm">
         <div class="mb-3">


            <div class="row g-1">
               <div class="col-5">
                  <div class="mb-1"><label for="newQty">{{lang.get('Current Cover')}}</label></div>
                  <div class="form-control form-control-lg">{{table['cover']}}</div>
               </div>
               <div class="col-1">
                  <i class="bi bi-arrow-right"></i>
               </div>
               <div class="col-6">
                  <div class="mb-1"><label for="newQty">{{lang.get('Change Cover')}}</label></div>
                  <input type="number" class="form-control form-control-lg" id="newQty" required
                     [(ngModel)]="model.newQty" name="newQty" #newQty="ngModel">
               </div>

            </div>
         </div>
         <div class="mb-3">
            <app-key-number (dataEmitted)="handleData($event)"></app-key-number>
         </div>

         <div class="row g-1">
            <div class="col d-grid">
               <button type="button" class="btn btn-lg btn-warning" (click)="model.newQty=0">{{lang.get('CE')}}</button>
            </div>
            <div class="col  d-grid">
               <button type="submit" class="btn btn-lg btn-dark"
                  [disabled]="!actorForm.form.valid">{{lang.get('OK')}}</button>
            </div>
         </div>

      </form>
   </div>

</ng-template>

<ng-template #modalMenuSet let-modal>
   <div class="modal-header">
      <strong>{{lang.get('Menu Set')}}</strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>
   <div class="modal-body">
      <table class="table">
         <thead>
            <tr>
               <th>{{lang.get('#')}}</th>
               <th>{{lang.get('Name')}}</th>
               <th>{{lang.get('Qty')}}</th>
               <th>{{lang.get('Select')}}</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let x of menuSet; let i = index" [class]="{'bg-light': x.select > 0}">
               <td>{{i + 1}}</td>
               <td>{{x.name}}</td>
               <Td>{{x.currentQty - x.select}}</Td>
               <td width="200px">
                  <div class="input-group" *ngIf="x.currentQty > 0">
                     <button class="input-group-text" (click)="x.select <= 0 ? 0 : x.select = x.select -  1"> <i
                           class="bi bi-dash-lg"></i> </button>
                     <input type="number" class="form-control text-end" [(ngModel)]="x.select">
                     <button class="input-group-text"
                        (click)=" x.select >= x.maxQty ? x.maxQty :  x.select  =  x.select  + 1"> <i
                           class="bi bi-plus-lg"></i> </button>
                  </div>
               </td>
            </tr>
         </tbody>
      </table>
   </div>

   <div class="modal-body">
      <div class="d-grid">
         <button type="button" (click)="onSubmitMenuSet()"
            class="btn btn-lg btn-primary">{{lang.get('SUBMIT')}}</button>
      </div>

   </div>
</ng-template>


<ng-template #contentRemark let-modal>
   <div class="modal-header">
      <strong>{{lang.get('Discount Remark')}}</strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>

   <div class="modal-body">
      <label>{{lang.get('Note*')}}</label>
      <input type="text" class="form-control form-control-lg" [(ngModel)]="remark" name="remark"
         [placeholder]="lang.get('Add Remark')" #remarkInput autofocus>
   </div>
   <div class="modal-body">
      <div class="d-grid">
         <button type="button" (click)="addDiscountGroup(this.discountGroupSelect)" [disabled]="remark == '' "
            class="btn btn-lg btn-dark">{{lang.get('SUBMIT')}}</button>
      </div>

   </div>
</ng-template>


<ng-template #contentGuestPrinting let-modal>
   <div class="modal-header">
      <strong>{{lang.get('Table Checker Print')}}</strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>

   <div class="modal-body">
      <div class="row g-3">
         <div class="col-4">
            <div *ngFor="let x of sendOrderItems" class="mb-2 d-grid">
               <button type="button" (click)="printTableChecker(x.sendOrder)" class="btn btn-sm " [ngClass]="{'btn-secondary': isSO == x.sendOrder,
                           'btn-outline-dark': isSO != x.sendOrder
                           }">
                  {{x.sendOrder}}</button>
            </div>
         </div>
         <div class="col-8">

            <div class="mb-3">

               <textarea class="form-control form-control-sm font-monospace" disabled rows="20"
                  [(ngModel)]="questCheckTemp" name="guestPrintingNote"
                  [placeholder]="lang.get('Please select Send Order')"></textarea>
            </div>
            <div class="mb-3 alert alert-warning" [ngClass]="{'alert-danger': printNoteError}" *ngIf="printNote != ''">
               {{printNote}}
            </div>
            <div class="d-grid">
               <button type="button" [disabled]="questCheckTemp == '' || printLoading" class="btn btn-lg btn-dark"
                  (click)="fnPrint()">{{lang.get('Print')}}</button>
            </div>

         </div>
      </div>
   </div>
</ng-template>

<ng-template #modalOpenPriceContent let-modal>
   <div class="modal-header">
      <strong>{{lang.get('Open Price')}}</strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>
   <div class="modal-body">

      <form (ngSubmit)="addToCart(selectItemOpenPrice,1)" #actorForm="ngForm">
         <div class="mb-3">
            <div class="row g-1">
               <div class="col-12 mb-2">
                  {{lang.get('Please enter the price for "open Price item"')}}<br>{{lang.get('Items')}} :
                  <strong>{{selectItemOpenPrice.name}}</strong>
               </div>

               <div class="col-12">

                  <input type="number" class="form-control form-control-lg text-end" id="price" required
                     [(ngModel)]="model.price" name="price" #price="ngModel">
               </div>

            </div>
         </div>
         <div class="mb-3">
            <app-key-number (dataEmitted)="handleDataOpenPrice($event)"></app-key-number>
         </div>

         <div class="row g-1">
            <div class="col d-grid">
               <button type="button" class="btn btn-lg btn-warning" (click)="model.price=0 ">{{lang.get('CE')}}</button>
            </div>
            <div class="col  d-grid">
               <button type="submit" class="btn btn-lg btn-dark"
                  [disabled]="!actorForm.form.valid ||  model.price == 0">{{lang.get('OK')}}</button>
            </div>
         </div>

      </form>
   </div>

</ng-template>



<ng-template #modalInfoPrinting let-modal>
   <div class="modal-header">
      <strong>{{lang.get('Printing')}}</strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>
   <div class="modal-body">
      <div class="text-center">

         <img *ngIf="printLoading" src="./gif/printing.gif" class="mx-auto d-block" alt="Printing..." width="150"
            height="150">
         <div class="my-4">
            {{printNote}}
            {{printLoading}}</div>
      </div>

   </div>

</ng-template>