<app-header-menu></app-header-menu>

<div [ngClass]="{'container': screenWidth >= 1200, 'container-fluid': screenWidth < 1200}">
   <div class="row g-2">
      <!-- TABLE CART -->
      <div class="col-4">

         <div class="order-panel  mb-2">
            <span *ngIf="table.overTime > 0" class="badge text-bg-danger">Overdue: {{table.overTime}} min</span>
            <div class="d-flex justify-content-between align-items-center">
               <strong class="fw-bold mb-0"> Bill {{table.id}} | {{table.startDate | date:'HH:mm:ss'}} </strong>

               <button *ngIf="table.overTime > 0" class="btn btn-danger btn-sm"><i
                     class="bi bi-exclamation-triangle"></i></button>
            </div>
            <div class="mb-2">Table {{table.tableName}}, Waiter: {{table.inputBy}}</div>
            <div class="order-panel-fixHeight"> 
               <table class="table table-sm table-hover">
                  <thead class="sticky-top">
                     <tr>
                        <td class="align-content-center" (click)="fnCheckBoxAll()">
                           <i *ngIf="checkBoxAll == false" class="bi bi-square"></i>
                           <i *ngIf="checkBoxAll == true " class="bi bi-check-square-fill"></i>
                        </td>
                        <td colspan="3" class="align-content-center text-center">
                           List Menu Ordered
                        </td>

                        <td class="align-content-center text-center">
                           <span class="badge text-bg-secondary">{{totalCard +
                              totalCardOrder}}</span>
                        </td>
                     </tr>
                  </thead>

                  <tbody *ngFor="let x of cartOrdered; let i = index">
                     <tr (click)="fnCheckedOrdered(i)">
                        <td>

                           <i *ngIf="x.checkBox == 0 " class="bi bi-square"></i>
                           <i *ngIf="x.checkBox == 1 " class="bi bi-check-square-fill"></i>

                        </td>
                        <td class="font-monospace text-center">
                           {{x.total | number}}x
                        </td>
                        <td>
                           <div class="lh-1">
                              <strong>
                                 <span class="text-primary"><i class="bi bi-lock-fill"></i></span>
                                 {{x.name }} {{x.totalModifier > 0 ? '*':''}}
                              </strong>
                           </div>
                           <div class="lh-2">
                              <small class="font-monospace"> &#64;{{x.price | number}}</small>
                              <small class="badge text-bg-success ms-2">KITCHEN</small>
                              <small *ngIf="x.ta > 0 " class="badge text-bg-warning ms-2">TA </small>
                           </div>

                        </td>



                        <td class="text-end ">
                           <strong *ngIf="!checkBoxAllScTax" class="font-monospace"> {{(x.totalAmount < 0 ? 0 :
                                 x.totalAmount )| number}}</strong>
                                 <span *ngIf="checkBoxAllScTax" class="font-monospace"> {{(x.price * x.total )|
                                    number}}</span>
                        </td>
                        <td class="text-center">
                           <a [routerLink]="['/menu/modifier']" class="btn btn-primary btn-sm"
                              (click)="logService.logAction('menu/modifier SO '+x.name+' menuId : '+x.menuId+', price : '+x.price, id)"
                              [queryParams]="{id:id, menuId : x.menuId, price : x.price, sendOrder : x.sendOrder }"><i
                                 class="bi bi-box-arrow-up-right"></i></a>
                        </td>
                     </tr>

                     @if(checkBoxAllModifier && x.modifier.length > 0){
                     <tr *ngFor="let a of x.modifier; let i = index" [hidden]="a.modifier == 0">
                        <td> </td>
                        <td class="text-center"><span class="font-monospace">{{ a.total}}x</span></td>
                        <td>
                           <small> {{ a.descl}}</small> &nbsp;
                           <small class="font-monospace" *ngIf="a.price > 0">&#64;{{a.price | number}}</small>
                           <div>
                              <small>{{a.remark}}</small>
                           </div>
                        </td>

                        <td class="text-end"> <span class="font-monospace">{{a.totalAmount |number}}</span></td>
                        <td></td>
                     </tr>
                     }

                     @if(checkBoxAllScTax && x.modifier.length > 0){
                     <tr *ngFor="let a of x.modifier; let i = index" [hidden]="a.modifier == 1">
                        <td> </td>
                        <td class="text-center"><span class="font-monospace">{{ a.total}}x</span></td>
                        <td>
                           <small> {{ a.descl}}</small> &nbsp;
                           <small class="font-monospace" *ngIf="a.price > 0">&#64;{{a.price | number}}</small>
                           <div>
                              <small>{{a.remark}}</small>
                           </div>
                        </td>

                        <td class="text-end"> <span class="font-monospace">{{a.totalAmount |number}}</span></td>
                        <td></td>
                     </tr>
                     }


                     <tr *ngIf="checkBoxAllScTax">
                        <td>
                        </td>

                        <td>

                        </td>

                        <td class="font-monospace text-center">

                        </td>

                        <td class="text-end "><strong class="font-monospace">{{(x.totalAmount < 0 ? 0 : x.totalAmount )|
                                 number}}</strong>
                        </td>
                        <td>

                        </td>
                     </tr>


                  </tbody>

                  <tbody *ngFor="let x of cart; let i = index" [class]="{'tr-active':x.checkBox == 1 }">
                     <tr (click)="fnChecked(i)  ">
                        <td>
                           <i *ngIf="x.checkBox == 0 " class="bi bi-square"></i>
                           <i *ngIf="x.checkBox == 1 " class="bi bi-check-square-fill"></i>
                        </td>
                        <td class="text-end font-monospace">
                           <button type="button" class="btn btn-sm btn-light" style="width: 50px;"
                              (click)="model.newQty = x.total;open(modalQty, x, i)">{{x.total | number}}x
                           </button>
                        </td>
                        <td>
                           <div class="lh-1">
                              <strong>{{x.name }} {{x.totalModifier > 0 ? '*':''}} </strong>
                           </div>
                           <div class="lh-2">
                              <small class="font-monospace">&#64;{{x.price | number}}</small>
                              <span *ngIf="x.ta > 0 " class="badge text-bg-warning  ms-2">TA</span>
                           </div>

                        </td>


                        <td class="text-end ">
                           <strong *ngIf="!checkBoxAllModifier" class="font-monospace"> {{(x.totalAmount < 0 ? 0 :
                                 x.totalAmount )| number}}</strong>
                                 <span *ngIf="checkBoxAllModifier" class="font-monospace"> {{(x.price * x.total )|
                                    number}}</span>
                        </td>

                        <td>
                           <a [routerLink]="['/menu/modifier']" class="btn btn-sm btn-primary "
                              (click)="logService.logAction('menu/modifier '+x.name+' menuId : '+x.menuId+', price : '+x.price, id)"
                              [queryParams]="{id:id, menuId : x.menuId, price : x.price, sendOrder : x.sendOrder }"><i
                                 class="bi bi-box-arrow-up-right"></i></a>
                        </td>
                     </tr>

                     @if(checkBoxAllModifier && x.modifier.length > 0){
                     <tr *ngFor="let a of x.modifier; let i = index" [hidden]="a.modifier == 0">
                        <td></td>
                        <td class="text-center"><span class="font-monospace"> x {{ a.total}}</span></td>
                        <td>
                           <small> {{ a.descl}}</small> &nbsp;
                           <small *ngIf="a.price > 0" class="font-monospace">&#64;{{a.price | number}}</small>
                           <div>
                              <small>{{a.remark}}</small>
                           </div>
                        </td>

                        <td class="text-end"> <span class="font-monospace">{{a.totalAmount |number}}</span></td>
                        <td></td>
                     </tr>
                     }
                     @if(checkBoxAllScTax && x.modifier.length > 0){
                     <tr *ngFor="let a of x.modifier; let i = index" [hidden]="a.modifier == 1">
                        <td></td>
                        <td class="text-center"><span class="font-monospace"> x {{ a.total}}</span></td>
                        <td>
                           <small> {{ a.descl}}</small> &nbsp;
                           <small *ngIf="a.price > 0" class="font-monospace">&#64;{{a.price | number}}</small>
                           <div>
                              <small>{{a.remark}}</small>
                           </div>
                        </td>

                        <td class="text-end"> <span class="font-monospace">{{a.totalAmount |number}}</span></td>
                        <td></td>
                     </tr>
                     }

                     <tr *ngIf="checkBoxAllScTax">
                        <td>
                        </td>

                        <td>
                        </td>

                        <td class="font-monospace text-center">
                        </td>

                        <td class="text-end "><strong class="font-monospace">{{(x.totalAmount < 0 ? 0 : x.totalAmount )|
                                 number}}</strong>
                        </td>

                        <td>
                        </td>
                     </tr>


                  </tbody>

               </table> 
            </div>
         </div>

         <div class="order-panel mb-2">
            <div class="order-summary ">
               <div class="d-flex justify-content-between">
                  <span>Total</span>
                  <span class="fw-bold">{{totalAmount + totalAmountOrdered | number}}</span>
               </div>
            </div>
         </div>

         <div class="row g-1">
            <div class="col-5 d-grid"> 
               <button class="btn btn-light  text-start"
                  (click)="checkBoxAllModifier == false ? checkBoxAllModifier = true : checkBoxAllModifier = false">
                  <i *ngIf="checkBoxAllModifier == false " class="bi bi-square"></i>
                  <i *ngIf="checkBoxAllModifier == true " class="bi bi-check-square-fill"></i>  Modifier
               </button>
            </div>
            <div class="col-5 d-grid">

               <button class="btn btn-light  text-start"
                  (click)="checkBoxAllScTax == false ? checkBoxAllScTax = true : checkBoxAllScTax = false">
                  <i *ngIf="checkBoxAllScTax == false " class="bi bi-square"></i>
                  <i *ngIf="checkBoxAllScTax == true " class="bi bi-check-square-fill"></i>  Sc & Tax
               </button>
            </div>
            <div class="col-2 d-grid">

               <button type="button" class="btn btn-danger  " [disabled]="!isChecked" (click)="onVoid()">
                  <i class="bi bi-x-lg"></i> </button>
            </div>
         </div>
      </div>


      <!-- TABS / MENU -->
      <div class="col-8">

         <ul class="nav nav-pills mb-2">
            <li class="nav-item">
               <a class="nav-link" (click)="sendOrder();">
                  <i class="bi bi-fork-knife"></i> Send Order
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link" (click)="printTableChecker(contentGuestPrinting)">
                  <i class="bi bi-receipt-cutoff"></i> Guest Check
               </a>
            </li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/transaction/detail']" [queryParams]="{id:id}"><i
                     class="bi bi-list-check"></i> Transaction Detail</a></li>

            <li class="nav-item"><a class="nav-link" (click)="openComponent(id);logService.logAction('Click BILL', id)">
                  <i class="bi bi-receipt-cutoff"></i> Bill</a></li>

         </ul>

         <ul class="nav category-tabs mb-3">
            <li class="nav-item ms-2">
               <a class="nav-link pointer-event" [class.active]="activeTab === 'function'"
                  (click)="activeTab = 'function'"><i class="bi bi-gear"></i> FUNCTION</a>
            </li>
            <li class="nav-item">
               <a class="nav-link pointer-event" [class.active]="activeTab === 'menu'" (click)="activeTab = 'menu'"><i
                     class="bi bi-cup-straw"></i> MENU</a>
            </li>
            <li class="nav-item">
               <a class="nav-link pointer-event" [class.active]="activeTab === 'modifier'"
                  (click)="activeTab = 'modifier'"><i class="bi bi-pencil"></i> MODIFIER</a>
            </li>
            <li class="nav-item">
               <a class="nav-link pointer-event" [class.active]="activeTab === 'discount'"
                  (click)="activeTab = 'discount'"><i class="bi bi-percent"></i> ITEM DISCOUNT</a>
            </li>
            <li class="nav-item">
               <a class="nav-link pointer-event" [class.active]="activeTab === 'kitchen'"
                  (click)="activeTab = 'kitchen'"><i class="bi bi-fire"></i> KITCHEN</a>
            </li>
            <li class="nav-item">
               <a class="nav-link pointer-event" [class.active]="activeTab === 'info'" (click)="activeTab = 'info'"><i
                     class="bi bi-sticky"></i> INFO</a>
            </li>
         </ul>

         <div class="tab-content px-2">
            <div *ngIf="activeTab === 'function'">
               <div class="row g-2">
                  <div class="col-3 d-grid">
                     <button type="button" [class]="cssClass" class="btn-danger" [disabled]="!isChecked"
                        (click)="onVoid()">
                        <i class="bi bi-x-lg"></i> VOID ITEM</button>
                  </div>
                  <div class="col-3 d-grid">
                     <button type="button" [class]="cssClass" class="btn-primary" [disabled]="cart.length < 1 || lock"
                        (click)="sendOrder();">
                        <i class="bi bi-fork-knife"></i> SEND ORDER</button>
                  </div>
                  <div class="col-3 d-grid">
                     <button type="button" [class]="cssClass" class="btn-light"
                        (click)="openComponent(id);logService.logAction('Click BILL', id)">
                        <i class="bi bi-receipt-cutoff"></i> BILL</button>
                  </div>
                  <div class="col-3 d-grid">
                     <button type="button" [class]="cssClass" class="btn-success" (click)="payment()">
                        <i class="bi bi-credit-card"></i>
                        PAYMENT</button>
                  </div>


                  <div class="col-3 d-grid">
                     <button type="button" [class]="cssClass" class="btn-danger" (click)="exitWithoutOrder();"><i
                           class="bi bi-trash"></i>
                        EXIT WITHOUT ORDER</button>
                  </div>
                  <div class="col-3 d-grid">
                     <button type="button" [disabled]="lock" [class]="cssClass" class="btn-warning"
                        (click)="transferItemsGroup()"> <i class="bi bi-send-plus"></i>
                        TRANSFER ITEMS
                     </button>
                  </div>

                  <div class="col-3 d-grid">
                     <button type="button" [disabled]="lock" [class]="cssClass" class="btn-primary" (click)="takeOut()">
                        <i class="bi bi-bag-check"></i>
                        TAKE OUT</button>
                  </div>

                  <div class="col-3 d-grid">
                     <button type="button" [class]="cssClass" class="btn-light" (click)="openTables(modalMergeCheck)">
                        <i class="bi bi-intersect"></i>
                        MERGE </button>
                  </div>

                  <div class="col-3 d-grid">
                     <button type="button" [class]="cssClass" class="btn-light"
                        (click)="model.newQty = 0; openSm(modalChangeCover)">
                        <i class="bi bi-people"></i>
                        CHANGE COVER </button>
                  </div>

                  <div class="col-3 d-grid">
                     <button type="button" [class]="cssClass" class="bg-white border" (click)="transferLog()">
                        <i class="bi bi-clock-history"></i>
                        TRANSFER LOG</button>
                  </div>
                  <div class="col-3 d-grid">
                     <button type="button" [class]="cssClass" class="bg-white border" (click)="mergerLog()">
                        <i class="bi bi-clock-history"></i>
                        MERGE LOG</button>
                  </div>
               </div>
            </div>

            <div *ngIf="activeTab === 'menu'">

               <div class="row g-1 mb-3">
                  @if(menuLookUpParent.length> 0){
                  <div>Lookup Menu : <strong class="text-uppercase">{{menuLookUpParent[0]['name'] }} </strong> </div>

                  }
                  @else {
                  <div>Lookup Menu : <strong class="text-uppercase">MENU</strong> </div>
                  }
                  <div class="col-3 mb-1 d-grid" *ngIf="menuLookUpParent.length > 0">
                     <button type="button" class="btn btn-light border" (click)="backMenu(menuLookUpParent)"> <i
                           class="bi bi-arrow-left"></i>
                        BACK</button>
                  </div>

                  <div class="col-3 mb-1 d-grid" *ngFor="let x of menuLookUp; let i= index">
                     <button type="button" class="btn btn-primary py-3" (click)="httpMenuLookUp(x.id);">
                        {{x.name}}
                     </button>
                  </div>
               </div>


               <div class="row g-2 mb-3">
                  <div class="col-3 mb-1 d-grid" *ngFor="let a of items">

                     <button type="button" [class]="((a.qty - a.usedQty)< 1) ? cssMenuDisable : cssMenu"
                        class="card-menu btn-light"
                        (click)=" a.menuSet == 'SELECT' ? open(modalMenuSet,a,0, 'lg','SELECT') :addToCart(a)"
                        [disabled]="(a.qty - a.usedQty) < 1">
                        <div class="mb-1">{{a.name}}</div>
                        <small>&#64;{{a.price | number}} </small>
                        <small *ngIf="a.adjustItemsId != ''"> / {{(a.qty - a.usedQty)}}</small>
                     </button>
                  </div>
               </div>
            </div>

            <div *ngIf="activeTab === 'modifier'">

               <ul class="nav nav-pills mb-2">
                  <li class="nav-item" *ngFor="let x of modifiers; let i = index">
                     <a class="nav-link" [class]="{'active':x.id == modifierDetail['id']}"
                        (click)="fnShowModifierDetail(i);logService.logAction('Click MODIFIER : '+ x.name,id) ">
                        {{x.name}}</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" (click)="modal(modalAddMemo,'md');"><i class="bi bi-pen"></i> Custom Notes</a>
                  </li>
               </ul>

               <div class="row g-1 mb-3">
                  <strong class="text-center">{{modifierDetail['name']}}</strong>
                  <div class="col-3 mb-1 d-grid" *ngFor="let a of modifierDetail['detail']">
                     <a type="button" class="btn btn-light" (click)="addToItemModifier(a);">
                        {{a.descs}}
                     </a>
                  </div>
               </div>

               <div class="alert alert-warning" *ngIf="results.length > 0">
                  <ul>
                     <li *ngFor="let x of results">{{x.status}}</li>
                  </ul>
               </div>
            </div>

            <div *ngIf="activeTab === 'discount'">
               <div class="row g-1" *ngFor="let x of discountGroup">
                  @if(x.discount.length > 0){
                  <div class="col-12">
                     <strong class="text-uppercase">{{x.name}}</strong>
                  </div>
                  <div class="col-3 mb-1 d-grid" *ngFor="let a of x.discount">
                     <a href="javascript:;" *ngIf="a.remark == 0" [class]="cssMenu" class=" card-menu"
                        (click)="addDiscountGroup(a)">{{a.name}}</a>
                     <a href="javascript:;" *ngIf="a.remark == 1" [class]="cssMenu" class=" card-menu"
                        (click)="addDiscountGroupWithRemark(contentRemark,a)">{{a.name}}</a>
                  </div>


                  <div class="col-12 mb-1">
                     &nbsp;
                  </div>
                  }
               </div>

               <div class="alert alert-warning" *ngIf="results.length > 0">
                  <ul>
                     <li *ngFor="let x of results">{{x.status}}</li>
                  </ul>
               </div>
            </div>


            <div *ngIf="activeTab === 'kitchen'">
               <app-table-print-queue [data]="id"></app-table-print-queue>
            </div>

            <div *ngIf="activeTab === 'info'">
               <div class="order-panel">
                  <div class="row">
                     <div class="col-6">
                        <table class="table table-sm">
                           <tbody>
                              <tr>
                                 <th>ID</th>
                                 <td>{{table?.id}}</td>
                              </tr>
                              <tr>
                                 <th>Daily Check ID</th>
                                 <td>{{table?.dailyCheckId}}</td>
                              </tr>
                              <tr>
                                 <th>Outlet ID</th>
                                 <td>{{table?.outletId}}</td>
                              </tr>

                              <tr>
                                 <th>Table Name / ID </th>
                                 <td>{{table?.tableName}} / {{table?.outletTableMapId}} </td>
                              </tr>
                              <tr>
                                 <th>Cover</th>
                                 <td>{{table?.cover}}</td>
                              </tr>
                              <tr>
                                 <th>Status / ID</th>
                                 <td> {{table?.status}} / {{table?.tableMapStatusId}}</td>
                              </tr>



                           </tbody>
                        </table>
                     </div>
                     <div class="col-6">
                        <table class="table table-sm">
                           <tbody>

                              <tr>
                                 <th>Start Date</th>
                                 <td>{{table?.startDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                              </tr>

                              <tr>
                                 <th>Over Time</th>
                                 <td>{{table.overTime > 0 ? table.overTime : ''}}</td>
                              </tr>
                              <tr>
                                 <th>Input Date</th>
                                 <td>{{table?.inputDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                              </tr>
                              <tr>
                                 <th>Input By</th>
                                 <td>{{table?.inputBy}}</td>
                              </tr>
                              <tr>
                                 <th>Update Date</th>
                                 <td>{{table?.updateDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                              </tr>
                              <tr>
                                 <th>Update By</th>
                                 <td>{{table?.updateBy}}</td>
                              </tr>

                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>

         </div>

         <div class="px-2" *ngIf="activeTab === 'menu' || activeTab === 'modifier' || activeTab === 'discount'">
            <div class="row g-1 mb-3">
               <div class="col-3 mb-1 d-grid" *ngIf="activeTab === 'menu' && menuLookUpParent.length > 0">
                  <button type="button" class="btn btn-success py-3"
                     (click)="btnFinish(); menuLookupId = 0; results = '' ">
                     <i class="bi bi-check2"></i> FINISH
                  </button>
               </div>
               <div class="col-3 mb-1 d-grid">
                  <button type="button" class="btn btn-danger py-3" (click)="onVoid();">
                     <i class="bi bi-x-lg"></i> DELETE
                  </button>
               </div>
            </div>
         </div>


      </div>
   </div>
</div>




<ng-template #modalQty let-modal>
   <div class="modal-header">
      <strong>Change Quantity Item</strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>
   <div class="modal-body">

      <form (ngSubmit)="updateQty()" #actorForm="ngForm">
         <div class="mb-3">
            <div class="row g-1">
               <div class="col-5">
                  <div class="mb-1"><strong for="newQty">Current </strong></div>
                  <div class="form-control form-control-lg bg-light">{{item.total}}</div>
               </div>
               <div class="col-1">
                  <i class="bi bi-arrow-right"></i>
               </div>
               <div class="col-6">
                  <div class="mb-1"><strong for="newQty">Change to</strong></div>
                  <input type="number" class="form-control form-control-lg" id="newQty" required
                     [(ngModel)]="model.newQty" name="newQty" #newQty="ngModel">
               </div>

            </div>
         </div>
         <div class="mb-3">
            <app-key-number (dataEmitted)="handleData($event)"></app-key-number>
         </div>

         <div class="row g-1">
            <div class="col d-grid">
               <button type="button" class="btn btn-lg btn-warning" (click)="model.newQty=0">CE</button>
            </div>
            <div class="col  d-grid">
               <button type="submit" class="btn btn-lg btn-dark"
                  [disabled]="!actorForm.form.valid ||  model.newQty == 0">OK</button>
            </div>
         </div>

      </form>
   </div>

</ng-template>


<ng-template #modalAddMemo let-modal>
   <div class="modal-header">
      <strong>Add Custom Notes </strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>
   <div class="modal-body">

      <form (ngSubmit)="addCustomNotes()" #actorForm="ngForm">
         <div class="mb-3">
            <input type="text" class="form-control form-control-lg" #myInput id="note" required [(ngModel)]="model.note"
               name="note" #note="ngModel" autofocus>
            <div [hidden]="note.valid || note.pristine" class="text-danger">
               Note is required
            </div>
         </div>

         <div class="row g-1">
            <div class="col-6 d-grid">
               <button type="button" class="btn btn-lg btn-outline-secondary"
                  (click)="modal.close('Save click')">Cancel</button>
            </div>
            <div class="col-6 d-grid">
               <button type="submit" class="btn btn-lg btn-dark" [disabled]="!actorForm.form.valid">OK</button>
            </div>
         </div>

      </form>
   </div>

</ng-template>


<!-- <ng-template #modalPrinting let-modal>
   <div class="modal-header">
      <strong class="modal-title">Print target</strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>
   <div class="modal-body">
      <div class="row g-1">
         <div class="col d-grid">
            <button type="button" class="btn btn-lg btn-outline-dark py-5" (click)="printTableChecker()">
               <h4><i class="bi bi-receipt-cutoff"></i></h4>
               Guest Checker
            </button>
         </div>
         <div class="col d-grid">
            <button type="button" class="btn btn-lg btn-outline-dark py-5" (click)="modal.dismiss('Cross click')"
               [routerLink]="['/printQueue']" [queryParams]="{cartId:id}">
               <h4><i class="bi bi-fire"></i></h4> Kitchen
            </button>
         </div>
      </div>
   </div>

</ng-template> -->


<ng-template #modalMergeCheck let-modal>
   <div class="modal-header">
      <strong class="modal-title">
         <div class="bg-light p-1  rounded border  d-inline-block">
            <span *ngFor="let x of tablesMaps; let i = index">
               <button type="button" class="btn btn-sm px-3" (click)="onMap(i)" [class]="{
                           'border': current == i,
                            'btn-primary': current == i,
                            'shadow-sm': current == i,
                           }"> {{x.desc1}}

                  <span *ngIf="x.checking > 0  " class="badge text-bg-danger rounded-circle">
                     {{x.checking}}
                  </span>
               </button>
            </span>
         </div>
      </strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>
   <div class="modal-body bg-main rounded-bottom">


      <div class="map">

         <div style="height: 75vh; zoom:{{zoom}}% ">
            <div class="table-map"
               style="background: url('{{public}}floor/{{tablesMaps[current]?.image}}') left top no-repeat;">
               <div class="floorPlan" *ngFor="let x of tablesMaps[current]?.maps">


                  <div class="items  {{x.bgn}}" [style.transform]="'translate(' + x.posX + 'px,' + x.posY + 'px)'"
                     [style.width.px]="x.width" [style.height.px]="x.height"
                     [style.backgroundImage]="'url('+public+'icon/'+x.icon+')'" style="background-size: cover;"
                     [style.opacity]="(x.id == table.outletTableMapId) || ( x.cardId == '') ? 0.4 : 1"
                     (click)="mergerCheck(x)">
                     <div class="text-end p-1" style=" cursor: pointer;">
                        <div class="table-pos-label">
                           <strong class="table-name">

                              <span *ngIf="x.overdueMinute > 0 "> <i class="bi bi-exclamation-diamond"></i> </span>
                              {{x.tableName}} </strong>
                        </div>

                     </div>
                  </div>

               </div>
            </div>
         </div>
      </div>




   </div>


</ng-template>


<ng-template #modalChangeCover let-modal>
   <div class="modal-header">
      <strong>Change Cover </strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>
   <div class="modal-body">

      <form (ngSubmit)="updateCover()" #actorForm="ngForm">
         <div class="mb-3">


            <div class="row g-1">
               <div class="col-5">
                  <div class="mb-1"><label for="newQty">Current Cover</label></div>
                  <div class="form-control form-control-lg">{{table['cover']}}</div>
               </div>
               <div class="col-1">
                  <i class="bi bi-arrow-right"></i>
               </div>
               <div class="col-6">
                  <div class="mb-1"><label for="newQty">Change Cover</label></div>
                  <input type="number" class="form-control form-control-lg" id="newQty" required
                     [(ngModel)]="model.newQty" name="newQty" #newQty="ngModel">
               </div>

            </div>
         </div>
         <div class="mb-3">
            <app-key-number (dataEmitted)="handleData($event)"></app-key-number>
         </div>

         <div class="row g-1">
            <div class="col d-grid">
               <button type="button" class="btn btn-lg btn-warning" (click)="model.newQty=0">CE</button>
            </div>
            <div class="col  d-grid">
               <button type="submit" class="btn btn-lg btn-dark" [disabled]="!actorForm.form.valid">OK</button>
            </div>
         </div>

      </form>
   </div>

</ng-template>

<ng-template #modalMenuSet let-modal>
   <div class="modal-header">
      <strong>Menu Set</strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>
   <div class="modal-body">
      <table class="table">
         <thead>
            <tr>
               <th>#</th>
               <th>Name</th>
               <th>Qty</th>
               <th>Select</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let x of menuSet; let i = index" [class]="{'bg-light': x.select > 0}">
               <td>{{i + 1}}</td>
               <td>{{x.name}}</td>
               <Td>{{x.currentQty - x.select}}</Td>
               <td width="200px">
                  <div class="input-group" *ngIf="x.currentQty > 0">
                     <button class="input-group-text" (click)="x.select <= 0 ? 0 : x.select = x.select -  1"> <i
                           class="bi bi-dash-lg"></i> </button>
                     <input type="number" class="form-control text-end" [(ngModel)]="x.select">
                     <button class="input-group-text"
                        (click)=" x.select >= x.maxQty ? x.maxQty :  x.select  =  x.select  + 1"> <i
                           class="bi bi-plus-lg"></i> </button>
                  </div>
               </td>
            </tr>
         </tbody>
      </table>
   </div>

   <div class="modal-body">
      <div class="d-grid">
         <button type="button" (click)="onSubmitMenuSet()" class="btn btn-lg btn-primary">SUBMIT</button>
      </div>

   </div>
</ng-template>


<ng-template #contentRemark let-modal>
   <div class="modal-header">
      <strong>Discount Remark</strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>

   <div class="modal-body">
      <label>Note*</label>
      <input type="text" class="form-control form-control-lg" [(ngModel)]="remark" name="remark"
         placeholder="Add Remark" #remarkInput autofocus>
   </div>
   <div class="modal-body">
      <div class="d-grid">
         <button type="button" (click)="addDiscountGroup(this.discountGroupSelect)" [disabled]="remark == '' "
            class="btn btn-lg btn-dark">SUBMIT</button>
      </div>

   </div>
</ng-template>


<ng-template #contentGuestPrinting let-modal>
   <div class="modal-header">
      <strong>Guest Printing</strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>

   <div class="modal-body">
      <div class="mb-3">
         <textarea class="form-control form-control-sm font-monospace" disabled rows="20" [(ngModel)]="questCheckTemp"
            name="guestPrintingNote" placeholder="Add Guest Printing Note"></textarea>
      </div>
      <div class="mb-3 alert alert-warning" [ngClass]="{'alert-danger': printNoteError}" *ngIf="printNote != ''">
         {{printNote}} 
      </div>
      <div class="d-grid">
         <button type="button" class="btn btn-lg btn-dark" [disabled]="printLoading" (click)="fnPrint()">Print</button>
      </div>

   </div>
</ng-template>