.tab-content{
    height: 63vh;
    overflow-y: auto;
    margin-bottom: 1rem;
}

.tr-active td {
    background-color: #e8eef7 !important;
}

.inline-modal{
    position: absolute;
    z-index: 9991;
    top: 0px;
    left: 8px;
    width: 100%; 
}

.table-xs tr td{
    font-size: 0.8rem;
  font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.order-panel table{
    margin-bottom: 0px;
}