<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm mb-3 sticky-top">
   <div class="container-fluid">

      <!-- Left menu -->
      <ul class="navbar-nav flex-row me-3">
         <li class="nav-item me-2">

            @if(path == 'tables' || path == '' ){

            <strong class="text-white"><small>Ver {{ver}}</small></strong>

            }
            @else {
            <a class="nav-link btn btn-primary px-3 d-flex align-items-center" (click)="back()">
               <i class="bi bi-arrow-left"></i> BACK
            </a>
            }
         </li>

      </ul>

 
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
          <ul class="navbar-nav align-items-center">
            <li class="nav-item">
               <a class="btn btn-primary mx-1" title="Tables" (click)="logService.logAction('Click Tables');"
                 [routerLink]="['/tables']"> <i class="bi bi-map"></i> </a>
            </li>

            <li class="nav-item">
               <a class="btn btn-primary mx-1" title="Print Queue" (click)="logService.logAction('Click Print Queue');"
                 [routerLink]="['/printQueue']"> <i class="bi bi-list-check"></i> </a>
            </li>

            <li class="nav-item">
               <a class="btn btn-primary mx-1" title="Setting" (click)="logService.logAction('click setting');"
                 [routerLink]="['/setting']">
                 <i class="bi bi-gear"></i> </a>
            </li>
            <li class="nav-item">
               <a class="btn btn-primary mx-1" title="Adjust Item" (click)="logService.logAction('click Adjustment Item');"
                 [routerLink]="['/items/']"><i class="bi bi-bag-plus"></i> </a>
            </li>
            <li class="nav-item">
               <a class="btn btn-primary mx-1" title="Report"
                 (click)="offcanvasService.dismiss();logService.logAction('click Report')"
                 [routerLink]="['/transaction']"><i class="bi bi-receipt"></i> </a>
            </li>
            <li class="nav-item">
               <a class="btn btn-primary mx-1" title="Cash"
                 (click)="offcanvasService.dismiss();logService.logAction('click daily/cashBalance')"
                 [routerLink]="['/daily/cashBalance']"><i class="bi bi-cash-coin"></i> </a>
            </li>
            <li class="nav-item">
               <a class="btn btn-primary mx-1" title="User Logs"
                 (click)="offcanvasService.dismiss();logService.logAction('click User logs')"
                 [routerLink]="['/userLogs']" routerLinkActive="router-link-active"> <i
                   class="bi bi-person-exclamation"></i> </a>
            </li>
            <li class="nav-item">
               <a class="btn btn-primary mx-1" title="Sign Off" (click)=" signOff(); "><i class="bi bi-box-arrow-left"></i> Sign
                 Off</a>
            </li>
            <li class="nav-item">
               <a class="btn btn-primary mx-1" title="Daily Close" (click)="dailyClose();">
                 <i class="bi bi-key"></i> Daily Close</a>
            </li>
          </ul>
      </div>

      <!-- Right menu -->
      <ul class="navbar-nav flex-row ms-3">

         <li class="nav-item mx-1">
            <a class="nav-link btn btn-primary px-3 d-flex align-items-center"
               (click)="openEnd(content)" >
              <span class="navbar-toggler-icon"></span> MENU
            </a>
         </li>

         
      </ul>

   </div>
</nav>

<!-- 
<div class="top-header bg-white">

   <div class="header mb-3 border-bottom shadow-sm">
      <nav class="p-1">
         <div class="container-fluid">
            <div class="row g-1">
               <div class="col-2">
                  @if(path == 'tables' || path == '' ){
                  <a class="navbar-brand" href="#">
                     <img src="./img/logo.png" height="30">
                  </a>
                  }
                  @else {
                  <a class=" btn btn-light" (click)="back()">
                     <i class="bi bi-arrow-left"></i> BACK
                  </a>
                  }
               </div>
               <div class="col-8 text-center">
                  <div class="header-text">
                     <span class="me-1 py-1 px-3 ">
                        <i class="bi bi-clock"></i> {{ currentTime | date: 'medium' }}
                     </span>
                  </div>
               </div>
               <div class="col-2 text-end">

                  <button type="button" class="btn btn-success" (click)="openEnd(content)"><i class="bi bi-list"></i>
                     Menu</button>
               </div>
            </div>
         </div>
      </nav>
   </div>

</div>


-->
<ng-template #content let-offcanvas>
   <div class="offcanvas-header">
      <strong class="offcanvas-title"><i class="bi bi-list"></i> Menu</strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
   </div>
   <div class="offcanvas-body">

      <div class="row g-1">
         <div class="col-12">
            <strong>Information</strong>
            <table class="table table-sm">
               <tbody>
                  <tr>
                     <td class="align-content-center">Daily Start</td>
                     <td>
                        : {{dataHeader['startDate'] | date:'medium'}}
                     </td>
                  </tr>
                  <tr>
                     <td class="align-content-center">User</td>
                     <td>
                        : {{getTokenJson['name'] }}
                     </td>
                  </tr>
                  <tr>
                     <td class="align-content-center">Level</td>
                     <td>
                        : {{getTokenJson['authlevel'] }}
                     </td>
                  </tr>
                  <tr>
                     <td class="align-content-center">Terminal ID</td>
                     <td>
                        : {{terminalId}}
                     </td>
                  </tr>
               </tbody>
            </table>

         </div>
         <div class="col-6 mb-3">
            <strong>General</strong>

            <div class="d-grid">
               <a class="btn btn-lg btn-light  m-1"
                  (click)="logService.logAction('Click Tables');offcanvasService.dismiss()" [routerLink]="['/table']">
                  <i class="bi bi-map"></i> Print Queue</a>
            </div>

            <div class="d-grid">
               <a class="btn btn-lg btn-light  m-1"
                  (click)="logService.logAction('Click Print Queue');offcanvasService.dismiss()"
                  [routerLink]="['/printQueue']">
                  <i class="bi bi-list-check"></i> Print Queue</a>
            </div>

            <div class="d-grid">
               <a class="btn btn-lg btn-light  m-1"
                  (click)="logService.logAction('click setting');offcanvasService.dismiss()"
                  [routerLink]="['/setting']"> <i class="bi bi-gear"></i> Setting</a>
            </div>

            <div class="d-grid">
               <button class="btn btn-lg btn-light  m-1"
                  (click)="logService.logAction('click Adjustment Item');offcanvasService.dismiss()"
                  [routerLink]="['/items/']"><i class="bi bi-bag-plus"></i> Adjust Item</button>
            </div>


         </div>
         <div class="col-6 mb-3">
            <strong>Operation</strong>
            <div class="d-grid">
               <button class="btn btn-lg btn-light  m-1"
                  (click)="offcanvasService.dismiss();logService.logAction('click Report')"
                  [routerLink]="['/transaction']"><i class="bi bi-receipt"></i> Report</button>
            </div>

            <div class="d-grid">
               <button class="btn btn-lg btn-light  m-1"
                  (click)="offcanvasService.dismiss();logService.logAction('click daily/cashBalance')"
                  [routerLink]="['/daily/cashBalance']"><i class="bi bi-cash-coin"></i> Cash</button>
            </div>
            <div class="d-grid">
               <a class="btn btn-lg btn-light  m-1"
                  (click)="offcanvasService.dismiss();logService.logAction('click User logs')"
                  [routerLink]="['/userLogs']" routerLinkActive="router-link-active"> <i
                     class="bi bi-person-exclamation"></i> User Log</a>
            </div>

            <div class="d-grid">
               <a class="btn btn-lg btn-light  m-1" (click)=" signOff(); "><i
                     class="bi bi-box-arrow-left"></i> Sign Off</a>
            </div>
            <div class="d-grid" *ngIf="getTokenJson['dailyAccess'] == 1 ">
               <button class="btn btn-lg btn-light  m-1" (click)="dailyClose();">
                  <i class="bi bi-key"></i> Daily Close</button>
            </div>
         </div>
         <div class="col-12">
            <div class="d-grid">
               <a class="btn btn-lg btn-light  m-1 py-3" (click)="logOff(); logService.logAction('logOff')">
                  <i class="bi bi-power"></i>
                  Log off</a>
            </div>
         </div>
      </div>


   </div>
</ng-template>