:root {
      --body-width: 1234px;

  --map-width: 800px;
  --map-height: 500px;
  --font-size: 0.9rem;
  --wrapper-sm-width: 400px;
  --wrapper-md-width: 500px;

  
    --color-bg: #f3f6fb;
    --color-card-shadow: rgba(0, 0, 0, 0.07);
    --color-card-shadow-hover: rgba(0, 0, 0, 0.12);
    --color-order-panel-bg: #fff;
    --color-order-panel-shadow: rgba(0, 0, 0, 0.1);
    --color-primary: #3a4a5d;
    --color-accent: #1976d2;
    --color-text: #3a4a5d;
    --color-white: #ffffff;
}

