<div class="row">
    <div class="col-12 ">

        <div class="header py-2">
            <div class="row">
                <div class="col-4">
                    <strong>CASHBACK</strong>
                    <span class="mx-1" *ngIf="loading">
                        <img src="./gif/Pulse@1x-1.0s-200px-200px.gif" height="30">
                    </span>
                </div>
                <div class="col-8 text-end">
                    @if(disabled==false){
                    <button type="button" class="btn btn-sm btn-light border me-2" (click)="cancel()">Close</button>
                    <button type="button" class="btn btn-sm btn-light border me-2" (click)="onUpdate();">Update</button>

                  
                    <button type="button" class="btn btn-sm btn-danger border me-2"
                        (click)="onDelete();">Delete</button>

                    }
                    @else {
                    <button type="button" class="btn btn-sm btn-light border me-2"
                        (click)="disabled= false">Editable</button>

                    }
                    <button class="btn btn-sm btn-primary" (click)="open(modalCreate)" >Create</button>
                </div>
            </div>

        </div>
        <div class="mainContent border">
            
                <div class="table table-sm table-editable table-hover" style="width: max-content;">
                    <table class="table table-hover" style=" min-width:80vw;">


                        <thead class="sticky-top ">
                            <tr>

                                <th *ngIf="disabled==false">
                                    <a href="javascript:;" (click)="checkAll();">
                                        @if(checkboxAll == 1){
                                        <i class="bi bi-check-square"></i>
                                        }@else {
                                        <i class="bi bi-square"></i>
                                        }
                                    </a>
                                </th>
                                <th>#</th>
                                <th>Name</th>
                                <th>Earning Start</th>
                                <th>Earning End</th>

                                <th>Redeem Start</th>
                                <th>Redeem End</th>

                                <th class="text-center">Status</th>
                                <th>Status</th>

                                <th>Update Date</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let x of items; let i = index" [class]="{'tr-disable':x.status == 0}">

                                <td *ngIf="disabled==false">
                                    <a href="javascript:;" (click)=" x.checkbox == 0 ? x.checkbox = 1 : x.checkbox = 0">
                                        <i *ngIf="x.checkbox == 0" class="bi bi-square"></i>

                                        <i *ngIf="x.checkbox == 1" class="bi bi-check-square"></i>
                                    </a>
                                </td>
                                <td>{{i+1}}</td>


                                <td>
                                    <div>{{x.name}}</div>
                                </td>
                                <td>
                                    <div>{{x.earningStartDate}}</div>
                                </td>
                                <td>
                                    <div>{{x.earningEndDate}}</div>
                                </td>
                                <td>
                                    <div>{{x.redeemStartDate}}</div>
                                </td>
                                <td>
                                    <div>{{x.redeemEndDate}}</div>
                                </td>


                                <td class="text-center">
                                    @if(!disabled){
                                    <a href="javascript:;" (click)="x.status == 1 ? x.status = 0 : x.status = 1">
                                        <i *ngIf="x.status == 1" class="bi bi-check-square"></i>
                                        <i *ngIf="x.status != 1" class="bi bi-square"></i>
                                    </a>
                                    }
                                    @else {
                                    <i *ngIf="x.status == 1" class="bi bi-check-lg"></i>
                                    }
                                </td>
                                <td><a class="btn btn-sm btn-primary" [routerLink]="['/cashback/detail']" [queryParams]="{ id: x.id }">Detail</a>
                                </td>

                                <td>{{ x.updateDate | date:'medium'}} </td>

                            </tr>
                        </tbody>
                    </table>


                </div>
 
        </div>
    </div>
</div>

<ng-template #modalCreate let-modal>
    <div class="modal-header">
        <strong class="modal-title" id="modal-basic-title">New Daily Schedule</strong>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="onSubmit()" #cashbackForm="ngForm">

            
            <div class="mb-2">
                <label for="name">Name *</label>
                <input id="name" class="form-control form-control-sm" name="name" [(ngModel)]="model.name" required
                    #name="ngModel" />
                <small [hidden]="name.valid || name.pristine" class="text-danger">
                    *Name is required
                </small>
            </div>

            <div class="mb-2">
                <label for="description">Description *</label>
                <textarea id="description" class="form-control form-control-sm" name="description"
                    [(ngModel)]="model.description" required #description="ngModel"></textarea>
                <small [hidden]="description.valid || description.pristine" class="text-danger">
                    *Description is required
                </small>
            </div>
          

            <div class="mb-2">
                <label for="status">Status *</label>
                <select id="status" class="form-control form-control-sm" name="status" [(ngModel)]="model.status"
                    required>
                    <option [value]="1">Active</option>
                    <option [value]="0">Inactive</option>
                </select>
            </div>



            <div class="d-grid">
                <button type="submit" class="btn btn-dark" [disabled]="!cashbackForm.form.valid">Save & Go to Detail</button>
            </div>
        </form>
    </div>

</ng-template>
 