<div class="row">
   <div class="col-12 ">


      <div class="header py-2">
         <div class="row">
            <div class="col-4">
               <strong>MEMBER PROFILE</strong>
               <span class="mx-1" *ngIf="loading">
                  <img src="./gif/Pulse@1x-1.0s-200px-200px.gif" height="30">
               </span>
            </div>
            <div class="col-8 text-end">
               @if(disabled==false){
               <button type="button" class="btn btn-sm btn-light border me-2" (click)="cancel()">Close</button>
               <button type="button" class="btn btn-sm btn-light border me-2" (click)="onUpdate();">Update</button>

               <button type="button" class="btn btn-sm btn-dark border me-2" (click)="open(content);">Create</button>
               <button type="button" class="btn btn-sm btn-danger border me-2" (click)="onDelete();">Delete</button>

               }
               @else {
               <button type="button" class="btn btn-sm btn-light border me-2"
                  (click)="disabled= false">Editable</button>

               }

            </div>
         </div>

      </div>
      <div class="mainContent border">
         <div class="">

            <div class="table table-sm table-editable table-hover" style="width: max-content;">
               <thead class="sticky-top ">
                  <tr>

                     <th *ngIf="disabled==false">
                        <a href="javascript:;" (click)="checkAll();">
                           @if(checkboxAll == 1){
                           <i class="bi bi-check-square"></i>
                           }@else {
                           <i class="bi bi-square"></i>
                           }

                        </a>
                     </th>
                     <th>#</th>
                     <th>member</th>
                     <th>name</th>
                     <th>pharea1</th>
                     <th>phone1</th>
                     <th>phone2</th>
                     <th>phone3</th>
                     <th>addr1</th>
                     <th>city</th>
                     <th>fax </th>
                     <th>state</th>
                     <th>zip</th>
                     <th>deliaddr1</th>
                     <th>dob</th>
                     <th>sex</th>
                     <th>socialid</th>
                     <th>email</th>
                     <th>joindate</th>
                     <th>mclass</th>
                     <th>mtype</th>
                     <th>status</th>
                     <th>memo1</th>

                     <th>autodisc</th>
                     <th>active</th>
                     <th>empid</th>
                     <th>costno</th>
                     <th>nodeduct</th>


                     <th>inputDate</th>

                  </tr>
               </thead>
               <tbody>
                  <tr *ngFor="let x of items; let i = index">

                     <td *ngIf="disabled==false">
                        <a href="javascript:;" (click)=" x.checkbox == 0 ? x.checkbox = 1 : x.checkbox = 0">
                           <i *ngIf="x.checkbox == 0" class="bi bi-square"></i>

                           <i *ngIf="x.checkbox == 1" class="bi bi-check-square"></i>
                        </a>
                     </td>
                     <td>{{i+1}}</td> 
                     <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.member" [disabled]="disabled"> </td>  
                     <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.name" [disabled]="disabled"> </td>  
                     <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.pharea1" [disabled]="disabled"> </td> 

                     <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.phone1" [disabled]="disabled"> </td> 
                     <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.phone2" [disabled]="disabled"> </td> 
                     <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.phone3" [disabled]="disabled"> </td> 

                     <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.addr1" [disabled]="disabled"> </td> 

                     <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.city" [disabled]="disabled"> </td> 

                     <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.fax" [disabled]="disabled"> </td> 

                     <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.state" [disabled]="disabled"> </td> 

                     <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.zip" [disabled]="disabled"> </td> 

                     <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.deliaddr1" [disabled]="disabled"> </td> 


                     <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.dob" [disabled]="disabled"> </td> 


                     <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.sex" [disabled]="disabled"> </td> 
                     <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.socialid" [disabled]="disabled"> </td>  
                     <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.email" [disabled]="disabled"> </td>  
                     <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.joindate" [disabled]="disabled"> </td>  

                     <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.mclass" [disabled]="disabled"> </td>  
                     <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.mtype" [disabled]="disabled"> </td> 

                     <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.status" [disabled]="disabled"> </td> 
                     <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.memo1" [disabled]="disabled"> </td> 
                     <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.autodisc" [disabled]="disabled"> </td> 
                     <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.active" [disabled]="disabled"> </td> 
                     <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.empid" [disabled]="disabled"> </td> 
                     <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.costno" [disabled]="disabled"> </td> 
                     <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.nodeduct"  [disabled]="disabled"> </td>

                     <td>{{ x.inputDate | date:'medium'}} </td>

                  </tr>
               </tbody>
            </div>

         </div>
      </div>
   </div>
</div>


<ng-template #content let-modal>
   <div class="modal-header">
      <strong class="modal-title" id="modal-basic-title">New Member Profile </strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>
   <div class="modal-body">
      <form (ngSubmit)="onSubmit()" #actorForm="ngForm">
         <div class="mb-2">
            <label for="desc1">Name*</label>
            <input id="desc1" class="form-control form-control-sm" name="desc1" [(ngModel)]="model.desc1" required
               #desc1="ngModel" />
            <small [hidden]="desc1.valid || desc1.pristine" class="text-danger">
               *Name is required
            </small>
         </div>
         <div class="mb-2">
            <label for="value">Member ID*</label>
            <input id="value" class="form-control form-control-sm" name="value" [(ngModel)]="model.value" required
               #value="ngModel" />
            <small [hidden]="value.valid || value.pristine" class="text-danger">
               *Member ID is required
            </small>
         </div>


         <div class="d-grid">
            <button type="submit" class="btn btn-sm btn-dark" [disabled]="!actorForm.form.valid">Save</button>
         </div>
      </form>
   </div>

</ng-template>