<div class="modal-header">
    <strong class="modal-title">MARGE LOG</strong>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body bg-main rounded-bottom">
    <ng-template #recursive let-item let-i="index">
        <div class="ms-4 ">
            <div class="mb-3 ms-2 p-2 bg-white shadow-sm border rounded">

                <div class="mb-1">
                    <div class="row">
                        <div class="col-6">
                            <strong>
                                <span class="badge text-bg-primary">LOG ID : {{item.id}}</span>
                                <span class="ms-2">Index: {{i}}</span>
                            </strong>
                        </div>

                        <div class="col-6 text-end">
                          <span class="badge text-bg-secondary" *ngIf="i>1">History</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="mb-1">
                            <strong>Origin Table</strong>
                        </div>
                        <table class="table table-sm">
                            <tbody>

                                <tr>
                                    <td> Bill</td>
                                    <td>: {{item.cartId}}</td>
                                </tr>
                                <tr>
                                    <td>Cover</td>
                                    <td>: {{item.cover1}}</td>
                                </tr>
                                <tr>
                                    <td>Table name</td>
                                    <td>: {{item.oldTable}}</td>
                                </tr>
                                <tr>
                                    <td>Input date</td>
                                    <td>: {{item.inputDate | date:'medium'}}</td>
                                </tr>
                            </tbody>

                        </table>

                    </div>
                    <div class="col-6">
                        <div class="mb-1">
                            <strong>Merger table to {{item.newTable}}</strong>
                        </div>
                        <table class="table table-sm">
                            <tbody>

                                <tr>
                                    <td> Bill</td>
                                    <td>: {{item.cartIdNew}}</td>
                                </tr>
                                <tr>
                                    <td>Cover</td>
                                    <td>: {{item.coverNew}}</td>
                                </tr>
                                <tr>
                                    <td>Table name</td>
                                    <td>: {{item.newTable}}</td>
                                </tr>

                            </tbody>

                        </table>

                    </div>
                </div>
            </div>

            <ng-container *ngIf="item.parent">
                <ng-container
                    *ngTemplateOutlet="recursive; context: { $implicit: item.parent, index: (i !== undefined ? i + 1 : 1) }"></ng-container>
            </ng-container>
        </div>
    </ng-template>

    <!-- Trigger pertama -->

    <ng-container *ngIf="data?.items">
        <ng-container *ngTemplateOutlet="recursive; context: { $implicit: data.items, index: 1 }"></ng-container>
    </ng-container>
    <ng-container *ngIf="!data?.items">
        <div class="text-center">
            <p class="text-muted">No merger logs found.</p>
        </div>
    </ng-container>

</div>