<app-header-menu></app-header-menu>
<div class="container">
   <div class="row g-3">
      <div class="col-12">
         <div class=" mb-3 ">
            <div class="row g-2">
               <div class="col-10">
                      <input type="text" class="form-control form-control-lg" [(ngModel)]="searchTerm" (input)="searchByName()"
               placeholder="Search by Name" />
               </div>
               <div class="col-2 d-grid">
                  <button type="button" class="btn btn-lg btn-light" (click)="searchTerm = ''; searchByName()">CE</button>
               </div>
            </div>

         </div>
         <div class="order-panel" style="max-height: 70vh; overflow-y: auto;">
            <table class="table table-sm table-hover">

               <thead>
                  <tr>
                     <th (click)="checkBoxAll()">
                        @if( isCheckAll != 0){
                        <i class="bi bi-check-square-fill "></i>
                        }
                        @else{
                        <i class="bi bi-square"></i>
                        }

                     </th>
                     <th>#</th>
                     <th>Name</th>
                     <th>Adjust Id</th>
                     <th class="text-end">Qty</th>
                     <th>Start Date</th>
                     <th>Exp Date</th>

                  </tr>
               </thead>

               <tbody>
                  <tr *ngFor="let x of searchResults; let i = index" (click)="fnCheck(i)"
                     [ngClass]="{'bg-light': x.checkBox == 1}">
                     <td>
                        @if(x.checkBox != 0){
                        <i class="bi bi-check-square-fill "></i>
                        }
                        @else{
                        <i class="bi bi-square"></i>
                        }

                     </td>
                     <td>{{i+1}}</td>
                     <td>{{x.name}}</td>
                     <td class="font-monospace">{{x.adjustItemsId}}</td>
                     <td class="text-end">
                        <div class="form-control form-control-sm font-monospace">{{x.qty}}</div>
                     </td>
                     <td>{{x.startDate | date}}</td>
                     <td>{{x.endDate | date}}</td>

                  </tr>
               </tbody>
            </table>
         </div>
      </div>

      <div class="col-12">
         <div class="row g-2">
            <div class="col-6 d-grid">
               <button type="button" class="btn btn-lg  btn-warning " [disabled]="this.checkTotal < 1"
                  (click)="onResetAdjust()">REMOVE ADJUST / UNLIMITED</button>

            </div>
            <div class="col-6 d-grid">
               <button type="button" class="btn btn-lg  btn-primary" [disabled]="this.checkTotal < 1"
                  (click)="addQty = 0 ; open(contentAddQty)">ADJUST QTY</button>
            </div>



         </div>
      </div>
   </div>
</div>


<ng-template #contentAdjust let-modal>
   <div class="modal-header">
      <strong>Reset Adjustment</strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>
   <div class="modal-body">
      <form>
         <div class="mb-3">
            <label for="qty">New Qty</label>
            <input type="number" class="form-control form-control-lg" id="qty" [(ngModel)]="newQty" name="newQty">
         </div>
      </form>
   </div>
   <div class="modal-footer">
      <button type="button" class="btn btn-dark" (click)="onResetAdjust()">Submit</button>
   </div>
</ng-template>



<ng-template #contentAddQty let-modal>
   <div class="modal-header">
      <strong>Adjustment Qty</strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>
   <div class="modal-body">
      <form>
         <div class="mb-3">
            <label for="qty">New Qty</label>
            <input type="number" class="form-control form-control-lg text-end" id="qty" [(ngModel)]="addQty"
               name="newQty">
         </div>

         <div class="row g-3">
            <div class="col-6">
               <app-key-number (dataEmitted)="handleData($event)"></app-key-number>
            </div>
            <div class="col-6">
               <div class="d-grid mb-2">
                  <button class="btn btn-warning btn-lg py-4 rounded shadow-sm" (click)="addQty= 0">CE</button>
               </div>
               <div class="d-grid mb-2">
                  <button type="button" class="btn btn-dark btn-lg py-4 rounded shadow-sm"
                     (click)="onAddQty()">Submit</button>
               </div>
            </div>
         </div>

      </form>
   </div>

</ng-template>