<app-header-menu></app-header-menu>
<div [ngClass]="{'container': screenWidth >= 1200, 'container-fluid': screenWidth < 1200}">
    <div class="d-flex flex-row-reverse">
        <div class="p-1">
            <button class="btn btn-light btn-sm border" [disabled]="items.length < 1" (click)="download()"
                type="button">{{lang.get('Download')}} *<div class="csv"></div></button>
        </div>
        <div class="p-1"><button class="btn btn-dark btn-sm" (click)="onSearch()" type="button">{{lang.get('Search')}}</button></div>
        <div class="p-1">
            <div class="input-group align-items-center">
                <label class="me-2">{{lang.get('Start Date')}}:</label>
                <input class="form-control form-control-sm" [attr.placeholder]="lang.get('yyyy-mm-dd')" name="dp1" [(ngModel)]="startDate" ngbDatepicker
                    #d1="ngbDatepicker" />
                <button class="btn btn-outline-dark btn-sm bi bi-calendar3" (click)="d1.toggle()" type="button"></button>
            </div>
        </div>
        

        <div class="p-1">
           <div class="input-group align-items-center">
                <label class="me-2">{{lang.get('End Date')}}:</label>
                <input class="form-control form-control-sm" [attr.placeholder]="lang.get('yyyy-mm-dd')" name="dp2" [(ngModel)]="endDate" ngbDatepicker
                    #d2="ngbDatepicker" />
                <button class="btn btn-outline-dark btn-sm bi bi-calendar3" (click)="d2.toggle()" type="button"></button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="order-panel" style="height: 78vh;  overflow-y: auto; padding-top: 0px;"> 
      
                    <table class="table table-sm">
                        <thead class="sticky-top">
                            <tr>
                                <th>{{lang.get('No')}}</th>
                                <th>{{lang.get('Time')}}</th>
                                <th>{{lang.get('Outlet')}}</th>
                                <th>{{lang.get('Terminal')}}</th>
                                <th>{{lang.get('User')}}</th>
                                <th>{{lang.get('Bill')}}</th>
                                <th>{{lang.get('Action')}}</th>
                                <th>{{lang.get('From')}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let x of items; let i = index ">
                                <td>{{i+1}}</td>
                                <td>{{x.actionDate | date:'medium'}}</td>
                                <td>{{x.outletId}}</td>
                                <td>{{x.terminalId}}</td>
                                <td>{{x.actionBy}}({{x.actionId}})</td>
                                <td>{{x.bill}}</td>
                                <td>{{x.action}}</td>
                                <td>{{x.url}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="text-center my-5" *ngIf="loading">{{lang.get('Loading')}}</div>
             
            </div>
        </div>
    </div>
</div>