<app-header-menu></app-header-menu>
<div [ngClass]="{'container': screenWidth >= 1200, 'container-fluid': screenWidth < 1200}">
    <div class="d-flex flex-row-reverse">
        <div class="p-1">
            <button class="btn btn-light border" [disabled]="items.length < 1" (click)="donwload()"
                type="button">Download *<div class="csv"></div></button>
        </div>
        <div class="p-1"><button class="btn btn-dark" (click)="onSearch()" type="button">Search</button></div>
        <div class="p-1">
            <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="date" ngbDatepicker
                    #d="ngbDatepicker" />
                <button class="btn btn-outline-dark bi bi-calendar3" (click)="d.toggle()" type="button"></button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="order-panel" style="height: 78vh;  overflow-y: auto; padding-top: 0px;"> 
      
                    <table class="table table-sm">
                        <thead class="sticky-top">
                            <tr>
                                <th>NO</th>
                                <th>TIME</th>
                                <th>OUTLET</th>
                                <th>POS</th>
                                <th>USER</th>
                                <th>BILL</th>
                                <th>ACTION</th>
                                <th>FROM</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let x of items; let i = index ">
                                <td>{{i+1}}</td>
                                <td>{{x.time}}</td>
                                <td>{{x.outletId}}</td>
                                <td>{{x.workStationId}}</td>
                                <td>{{x.userId}}</td>
                                <td>{{x.bill}}</td>
                                <td>{{x.action}}</td>
                                <td>{{x.url}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="text-center my-5" *ngIf="loading">Loading</div>
             
            </div>
        </div>
    </div>
</div>