<div class="wrapper-md ">
    

        <div class="row g-3"> 
            <div class="col-12">
                <div class="my-5 text-center">
                      <img src="./img/logo.png" class="img-fluid" />
                </div> 
            
                
            </div>
            <div class="col-12 d-grid">
               
                      <button type="button" (click)="logOff()"
                            class="btn btn-lg btn-danger">RELOGIN</button>
               
            </div>
           
        </div>
        
</div>