<div class="row">
    <div class="col-12 ">

        <div class="header py-2">
            <div class="row">
                <div class="col-4">
                    <strong>DAILY SCHEDULE</strong>
                    <span class="mx-1" *ngIf="loading">
                        <img src="./gif/Pulse@1x-1.0s-200px-200px.gif" height="30">
                    </span>
                </div>
                <div class="col-8 text-end">
                    @if(disabled==false){
                    <button type="button" class="btn btn-sm btn-light border me-2" (click)="cancel()">Close</button>
                    <button type="button" class="btn btn-sm btn-light border me-2" (click)="onUpdate();">Update</button>

                    <button type="button" class="btn btn-sm btn-dark border me-2"
                        (click)="open(content);">Create</button>
                    <button type="button" class="btn btn-sm btn-danger border me-2"
                        (click)="onDelete();">Delete</button>

                    }
                    @else {
                    <button type="button" class="btn btn-sm btn-light border me-2"
                        (click)="disabled= false">Editable</button>

                    }

                </div>
            </div>

        </div>
        <div class="mainContent border">
            <div class="">

                <div class="table table-sm table-editable table-hover" style="width: max-content;">
                    <table class="table table-hover" style=" min-width:80vw;">


                        <thead class="sticky-top ">
                            <tr>

                                <th *ngIf="disabled==false">
                                    <a href="javascript:;" (click)="checkAll();">
                                        @if(checkboxAll == 1){
                                        <i class="bi bi-check-square"></i>
                                        }@else {
                                        <i class="bi bi-square"></i>
                                        }
                                    </a>
                                </th>
                                <th>#</th>

                                <th>Name</th>
                                <th width="80">+days</th>
                                <th>closeHour</th>

                                <th class="text-center">Mon</th>
                                <th class="text-center">tue</th>
                                <th class="text-center">wed</th>
                                <th class="text-center">thu</th>
                                <th class="text-center">fri</th>
                                <th class="text-center">sat</th>
                                <th class="text-center">sun</th>
                                <th class="text-center">status</th>

                                <th>Update Date</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let x of items; let i = index" [class]="{'tr-disable':x.status == 0}">

                                <td *ngIf="disabled==false">
                                    <a href="javascript:;" (click)=" x.checkbox == 0 ? x.checkbox = 1 : x.checkbox = 0">
                                        <i *ngIf="x.checkbox == 0" class="bi bi-square"></i>

                                        <i *ngIf="x.checkbox == 1" class="bi bi-check-square"></i>
                                    </a>
                                </td>
                                <td>{{i+1}}</td>


                                <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.name"
                                        name="name" [disabled]="disabled"> </td>

                                <td><input type="number" class="form-control form-control-sm" [(ngModel)]="x.days"
                                        name="days" [disabled]="disabled"> </td>


                                <td><input type="time" class="form-control form-control-sm" [(ngModel)]="x.closeHour"
                                        name="closeHour" [disabled]="disabled"> </td>

                                <td class="text-center"> 
                                    @if(!disabled){ 
                                    <a href="javascript:;" (click)="x.mon == 1 ? x.mon = 0 : x.mon = 1">
                                        <i *ngIf="x.mon == 1" class="bi bi-check-square"></i>
                                        <i *ngIf="x.mon != 1" class="bi bi-square"></i>
                                    </a>
                                    }
                                    @else {
                                        <i *ngIf="x.mon == 1" class="bi bi-check-lg"></i>
                                    }
                                </td>

                                 <td class="text-center"> 
                                    @if(!disabled){ 
                                    <a href="javascript:;" (click)="x.tue == 1 ? x.tue = 0 : x.tue = 1">
                                        <i *ngIf="x.tue == 1" class="bi bi-check-square"></i>
                                        <i *ngIf="x.tue != 1" class="bi bi-square"></i>
                                    </a>
                                    }
                                    @else {
                                        <i *ngIf="x.tue == 1" class="bi bi-check-lg"></i>
                                    }
                                </td>
                                 <td class="text-center"> 
                                    @if(!disabled){ 
                                    <a href="javascript:;" (click)="x.wed == 1 ? x.wed = 0 : x.wed = 1">
                                        <i *ngIf="x.wed == 1" class="bi bi-check-square"></i>
                                        <i *ngIf="x.wed != 1" class="bi bi-square"></i>
                                    </a>
                                    }
                                    @else {
                                        <i *ngIf="x.wed == 1" class="bi bi-check-lg"></i>
                                    }
                                </td>



                                 <td class="text-center"> 
                                    @if(!disabled){ 
                                    <a href="javascript:;" (click)="x.thu == 1 ? x.thu = 0 : x.thu = 1">
                                        <i *ngIf="x.thu == 1" class="bi bi-check-square"></i>
                                        <i *ngIf="x.thu != 1" class="bi bi-square"></i>
                                    </a>
                                    }
                                    @else {
                                        <i *ngIf="x.wed == 1" class="bi bi-check-lg"></i>
                                    }
                                </td>
                                 <td class="text-center"> 
                                    @if(!disabled){ 
                                    <a href="javascript:;" (click)="x.fri == 1 ? x.fri = 0 : x.fri = 1">
                                        <i *ngIf="x.fri == 1" class="bi bi-check-square"></i>
                                        <i *ngIf="x.fri != 1" class="bi bi-square"></i>
                                    </a>
                                    }
                                    @else {
                                        <i *ngIf="x.fri == 1" class="bi bi-check-lg"></i>
                                    }
                                </td>
                                 <td class="text-center"> 
                                    @if(!disabled){ 
                                    <a href="javascript:;" (click)="x.sat == 1 ? x.sat = 0 : x.sat = 1">
                                        <i *ngIf="x.sat == 1" class="bi bi-check-square"></i>
                                        <i *ngIf="x.sat != 1" class="bi bi-square"></i>
                                    </a>
                                    }
                                    @else {
                                        <i *ngIf="x.sat == 1" class="bi bi-check-lg"></i>
                                    }
                                </td>

                                 <td class="text-center"> 
                                    @if(!disabled){ 
                                    <a href="javascript:;" (click)="x.sun == 1 ? x.sun = 0 : x.sun = 1">
                                        <i *ngIf="x.sun == 1" class="bi bi-check-square"></i>
                                        <i *ngIf="x.sun != 1" class="bi bi-square"></i>
                                    </a>
                                    }
                                    @else {
                                        <i *ngIf="x.sun == 1" class="bi bi-check-lg"></i>
                                    }
                                </td>

                                <td class="text-center"> 
                                    @if(!disabled){ 
                                    <a href="javascript:;" (click)="x.status == 1 ? x.status = 0 : x.status = 1">
                                        <i *ngIf="x.status == 1" class="bi bi-check-square"></i>
                                        <i *ngIf="x.status != 1" class="bi bi-square"></i>
                                    </a>
                                    }
                                    @else {
                                        <i *ngIf="x.status == 1" class="bi bi-check-lg"></i>
                                    }
                                </td>

                                <td>{{ x.updateDate | date:'medium'}} </td>

                            </tr>
                        </tbody>
                    </table>

                   
                </div>

            </div>
        </div>
    </div>
</div>


<ng-template #content let-modal>
    <div class="modal-header">
        <strong class="modal-title" id="modal-basic-title">New Daily Schedule</strong>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="onSubmit()" #actorForm="ngForm">


            <div class="mb-2">
                <label for="name">Name *</label>
                <input id="name" class="form-control form-control-sm" name="name" [(ngModel)]="model.name" required
                    #name="ngModel" />
                <small [hidden]="name.valid || name.pristine" class="text-danger">
                    *Name is required
                </small>
            </div> 

            <div class="d-grid">
                <button type="submit" class="btn  btn-dark" [disabled]="!actorForm.form.valid">Save</button>
            </div>
        </form>
    </div>

</ng-template>

 