<div class="bg-white p-1 mb-2 rounded border  d-inline-block">
    <span *ngFor="let x of items; let i = index">
        <button type="button" class="btn px-3" (click)="onMap(i)" [class]="{
                           'border': current == i,
                            'btn-primary': current == i,
                            'shadow-sm': current == i,
                           }"> {{x.desc1}}

            <span *ngIf="x.checking > 0  " class="badge text-bg-danger rounded-circle">
                {{x.checking}}
            </span>
        </button>
    </span>

</div>

<div class="map  mb-2">
    <div  class="order-panel " style="height: 75vh; zoom:{{zoom}}% ">
        <div class="table-map" style="background: url('{{public}}floor/{{items[current]?.image}}') left top no-repeat;">
            <div class="floorPlan" *ngFor="let x of items[current]?.maps">


                <div class="items   table-{{x.tableMapStatusId}} {{x.bgn}}"
                    [style.transform]="'translate(' + x.posX + 'px,' + x.posY + 'px)'" 
                    [style.width.px]="x.width"
                    [style.height.px]="x.height" 
                    [style.backgroundImage]="'url('+public+'icon/'+x.icon+')'"
                    style="background-size: cover;">
                    <div class="text-end p-1" style=" cursor: pointer;">

                        <div class="table-pos-label">
                           <strong class="table-name">
                              <span *ngIf="x.overdueMinute > 0 "> <i class="bi bi-exclamation-diamond"></i> </span>
                              {{x.tableName}} </strong>
                        </div>
                      
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-row-reverse ">
    <div class="p-2" *ngFor="let x of statusMap">
        <small><i [ngClass]="x.color" class="bi bi-square-fill"></i> {{x.name}} </small>
    </div>

    
</div>